.ologic-new-footer
	.ologic-new-footer__content
		a.ologic-new-footer__logo(href="./")
			svg.ologic-header__globe(width="97" height="89")
				use(xlink:href="#icon-main-globe")
			span Онлайн #[br]логика
		.ologic-new-footer__copyrights
			p Copyright © 2018 «Онлайн-Логика»
			p Все права защищены.
