.ologic-header
    .ologic-header__content
        h1.ologic-header__logo
            a(href="/")
                svg.ologic-header__globe
                    use(xlink:href="#icon-main-globe")
                span Онлайн #[br]логика
        nav.ologic-header__menu.ologic-menu
            button.ologic-menu__close(data-close-mobile-menu)
            ul.ologic-menu__list
                li.ologic-menu__item
                    a.ologic-menu__link(href="experts-list.php") Эксперты
                li.ologic-menu__item
                    a.ologic-menu__link(href="{% url 'blogs:post-list' %}") Блоги
                li.ologic-menu__item
                    a.ologic-menu__link(href="timetable.php") Расписание
                li.ologic-menu__item
                    a.ologic-menu__link(href="start.php") Стать экспертом
                li.ologic-menu__item.ologic-menu__item_login
                    a.ologic-menu__link(href="#ologic-login" data-login-link)
                        svg.ologic-menu__icon.ologic-menu__icon_user
                            use(xlink:href="#icon-user")
                        span Вход
        button.ologic-header__menu-button(data-open-mobile-menu)
