form.ologic-login#ologic-login(action="./" method="post")
	.ologic-login__content
		h5.ologic-login__title Вход
		input.ologic-login__input(type="text" name="ologic-name" placeholder="E-mail или логин")
		input.ologic-login__input(type="password" name="ologic-pass" placeholder="Пароль")
		input#ologic-login-remember(type="checkbox" name="ologic-login-remember")
		label.ologic-login__label(for="ologic-login-remember") Запомнить меня
		button.ologic-login__submit(type="submit") Войти
		.ologic-login__links
			.ologic-login__forgot
				a(href="#") Забыл пароль
			.ologic-login__register
				a(href="{% url 'ologic:registration' %}") Регистрация
		button.ologic-login__close(type="button" data-close-login)
