@keyframes shakeArrows
	0%
		transform: translateX(0)
	100%
		transform: translateX(30px)

@keyframes shakeArrowsVertical
	0%
		transform: translateY(0)
	100%
		transform: translateY(25px)

@keyframes shakeArrowsVerticalRotate
	0%
		transform: translateY(0) rotate(40deg)
	100%
		transform: translateY(25px) rotate(40deg)

.ologic-landing-want
	position: relative
	&__main
		position: relative
		padding: 60px 20px
		background-color: #f2f6f7
		background-repeat: no-repeat
		background-position: 50% 50%
		background-size: cover
		+max-screen(767px)
			padding: 35px 20px
	&__content
		position: relative
		max-width: $content-width
		margin: 0 auto
		display: flex
		align-items: flex-start
		color: #fff
		+max-screen(767px)
			flex-direction: column
			align-items: center
		.arrow-down
			position: absolute
			right: 15%
			bottom: -110px
			transform: rotate(40deg)
			animation: 1s shakeArrowsVerticalRotate linear infinite alternate
			+max-screen(767px)
				display: none
	&__info
		padding-right: 40px
		+max-screen(767px)
			padding-right: 0
			text-align: center
	&__title
		font-weight: 400
		font-size: 38px
		margin: 0 0 35px
		+max-screen(767px)
			font-size: 24px
			margin-bottom: 5px
	&__text
		font-size: 24px
		line-height: 1.3
		+max-screen(767px)
			font-size: 20px
		p
			margin: 0
			&:not(:last-of-type)
				margin-bottom: 20px
			+max-screen(767px)
				margin: 0 0 15px
				&:last-of-type
					margin-bottom: 15px
		.arrow
			position: relative
			display: inline-block
			margin-top: 10px
			margin-left: 30%
			transform-origin: 50% 50%
			animation: 1s shakeArrows linear infinite alternate
			+max-screen(767px)
				display: none
	&__video
		flex-shrink: 0
		+max-screen(767px)
			height: 280px
			width: 100%
			max-width: 500px
			margin: 0 auto
	&__cover
		position: relative
		width: 500px
		height: 315px
		background-repeat: no-repeat
		background-position: 50% 50%
		background-size: cover
		+screen(768px, 1023px)
			width: 350px
		+max-screen(767px)
			width: 100%
			height: 280px
		a
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%