.ologic-eotd
	position: relative
	padding: 70px 20px
	background-color: #f8f9fb
	overflow: hidden
	+max-screen(767px)
		padding: 35px 20px
	&__bg
		position: absolute
		right: 0
		top: 0
		bottom: 0
		width: 50%
		+max-screen(767px)
			left: 0
			width: 100%
	&__brain
		position: absolute
		left: 50%
		top: 50%
		transform: translateY(-50%) translateX(-50%)
		svg
			fill: #eef0f2
	&__content
		position: relative
		max-width: $content-width
		margin: 0 auto
		display: flex
		align-items: flex-start
		justify-content: space-between
		+max-screen(767px)
			flex-direction: column
			align-items: center
	&__photo
		width: 47%
		position: relative
		+max-screen(767px)
			width: auto
		img
			display: block
			max-width: 100%
			margin: 0
			+max-screen(767px)
				margin-bottom: 20px
	&__text
		width: 47%
		+max-screen(767px)
			width: auto
	&__title
		font-size: 38px
		font-weight: 400
		margin: 0 0 50px
		text-transform: uppercase
		+max-screen(767px)
			font-size: 28px
			margin-bottom: 20px
	&__name
		font-weight: 400
		font-size: 30px
		margin: 0 0 5px
	&__nick
		font-size: 20px
		margin-bottom: 20px
		.red
			color: $ologic-red-color
			margin-right: 10px
	&__info
		font-size: 20px
		p
			margin: 0 0 20px
			line-height: 1.26