.ologic-today
	position: relative
	padding: 10px 20px 50px
	background-color: #fff
	&_register
		padding: 0 20px
	+max-screen(767px)
		padding: 0 20px 35px
		&_register
			padding: 0 20px
	&__content
		position: relative
		max-width: $content-width
		margin: 0 auto
		+max-screen(767px)
			padding-top: 25px
	&__date
		font-size: 30px
		text-align: center
		font-weight: 400
		margin: 0 auto 45px
		+max-screen(767px)
			font-size: 20px
			margin-bottom: 35px
	&__items
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		+max-screen(767px)
			flex-direction: column
			align-items: center
	&__button
		text-align: center
	&__announce
		text-transform: uppercase
		font-size: 17px
		text-decoration: none
		+fontPTSerif
		color: $ologic-red-color
		transition: .2s color
		&:visited
			color: $ologic-red-color
		&:hover
			color: lighten($ologic-red-color, 10)
			transition: 0s color
		&:active
			color: darken($ologic-red-color, 10)

.ologic-today-card
	width: 47%
	margin-bottom: 45px
	display: flex
	align-items: flex-start
	+screen(768px, 1024px)
		width: 48%
	+max-screen(767px)
		width: 100%
		max-width: 300px
		margin-bottom: 30px
	&__cover
		position: relative
		width: 40%
		padding-bottom: 34%
		background-repeat: no-repeat
		background-position: 50% 50%
		background-size: cover
		.time
			position: absolute
			background-color: rgba(#000, .8)
			right: 0
			bottom: 12px
			padding: 5px 7px 7px
			font-size: 22px
			color: #fff
			svg
				display: inline-block
				vertical-align: middle
				fill: $ologic-red-color
				margin-right: 7px
			span
				display: inline-block
				vertical-align: middle
	&__content
		position: relative
		box-sizing: border-box
		width: 60%
		padding-left: 30px
		+max-screen(767px)
			padding-left: 20px
	&__title
		font-weight: 400
		margin: 0
		font-size: 26px
		margin-bottom: 15px
		margin-top: -2px
		a, a:visited
			text-decoration: none
			color: inherit
			&:hover
				color: $ologic-red-color
		+screen(768px, 1024px)
			font-size: 22px
		+max-screen(767px)
			font-size: 20px
			margin-bottom: 10px
	&__info
		position: relative
		margin-bottom: 20px
		p
			font-size: 22px
			margin: 0
			+screen(768px, 1024px)
				font-size: 18px
			+max-screen(767px)
				font-size: 17px
	&__more
		color: inherit
		text-decoration: none
		display: inline-block
		font-size: 17px
		padding: 13px 20px
		text-transform: uppercase
		border: 1px $ologic-red-color solid
		background-color: transparent
		transition: .2s background, .2s color
		+fontPTSerif
		+max-screen(767px)
			padding: 10px 15px
			font-size: 15px
		&:visited
			color: inherit
		&:hover
			background-color: $ologic-red-color
			color: #fff
			transition: 0s all