.ologic-about-speaker
	position: relative
	padding: 60px 20px
	background-color: #f2f6f7
	+screen(768px, 1023px)
		padding: 40px 20px
	+max-screen(767px)
		padding: 35px 20px
	&__title
		text-transform: uppercase
		color: #2d2d2d
		font-size: 38px
		margin: 0 auto 15px
		line-height: 1.3
		font-weight: 400
		text-align: center
		width: 100%
		+screen(768px, 1023px)
			font-size: 30px
		+max-screen(767px)
			font-size: 24px
	&__items
		position: relative
		max-width: 1180px
		margin: 0 auto
		display: flex
		align-items: flex-start
		flex-wrap: wrap
		+max-screen(767px)
			flex-direction: column
			align-items: center
	&__item
		position: relative
		width: 50%
		padding: 25px 25px 25px 110px
		box-sizing: border-box
		img
			position: absolute
			left: 10px
			top: 28px
			max-width: 75px
		h5
			text-transform: uppercase
			margin: 0 0 15px
			font-size: 30px
			font-weight: 400
			color: $ologic-red-color
		p
			font-size: 24px
			margin: 0
			line-height: 1.3
			color: #2d2d2d
		+screen(768px, 1023px)
			padding: 18px 18px 18px 100px
			h5
				font-size: 24px
				margin-bottom: 10px
			p
				font-size: 20px
			img
				max-width: 60px
				left: 20px
				top: 18px
		+max-screen(767px)
			width: 100%
			max-width: 400px
			padding: 15px 0 15px 80px
			h5
				font-size: 20px
				margin-bottom: 5px
			p
				font-size: 18px
			img
				max-width: 45px
				left: 20px
				top: 17px