.ologic-seminars
	position: relative
	background-color: #fff
	position: relative
	padding: 60px 0 40px
	+max-screen(767px)
		padding: 35px 0
	&__content
		position: relative
		max-width: $content-width
		margin: 0 auto
	&__title
		font-weight: 400
		margin: 0 auto 50px
		text-align: center
		font-size: 38px
		+max-screen(767px)
			font-size: 28px
			margin-bottom: 30px

.ologic-seminars-item
	display: flex
	margin-bottom: 50px
	+max-screen(767px)
		flex-direction: column
		margin: 0 auto 45px
		max-width: 500px
	&__what
		position: relative
		padding-left: 40px
		font-size: 27px
		color: #2d2d2d
		line-height: 1.3
		margin: 0
		font-weight: 400
		&:not(:last-of-type)
			margin-bottom: 30px
		&::before
			content: ''
			position: absolute
			left: 0
			top: 7px
			width: 20px
			height: 20px
			background: url('../img/red-ok.png') no-repeat 50% 50% transparent
			background-size: cover
		+screen(768px, 1023px)
			font-size: 22px
			&:not(:last-of-type)
				margin-bottom: 20px
			&::before
				top: 4px
		+max-screen(767px)
			font-size: 18px
			padding-left: 30px
			&:not(:last-of-type)
				margin-bottom: 15px
			&::before
				top: 2px
	&__image
		position: relative
		width: 38%
		background-repeat: no-repeat
		background-position: 50% 50%
		background-size: cover
		+max-screen(767px)
			height: 160px
			width: 100%
		+min-screen(768px)
			min-height: 195px
	&__number
		position: absolute
		color: #fff
		font-size: 60px
		left: 0
		top: 0
		padding-left: 13px
		z-index: 10
		+max-screen(767px)
			font-size: 34px
		i
			position: relative
			font-style: normal
		&::before
			content: ''
			position: absolute
			left: 0
			top: 0
			width: 0
			height: 0
			border-width: 50px
			border-style: solid
			border-color: #000 transparent transparent #000
			z-index: 0
			opacity: .4
			+max-screen(767px)
				border-width: 35px
	&__text
		position: relative
		width: 62%
		background-color: #f2f5f7
		padding: 45px 50px
		box-sizing: border-box
		display: flex
		align-items: center
		+max-screen(767px)
			padding: 20px
			width: 100%
	&__title
		margin: 0
		font-size: 30px
		font-weight: 400
		line-height: 1.3
		+max-screen(767px)
			font-size: 20px