.ologic-content-page
	position: relative
	padding: 30px 20px 40px
	+max-screen(767px)
		padding: 25px 20px 30px
	&__content
		position: relative
		max-width: 1170px
		margin: 0 auto
		font-size: 26px
		+max-screen(767px)
			font-size: 22px
		h1, h2, h3, h4, h5, h6
			margin: .5em 0
			line-height: 1.3
		h1
			font-size: 1.5em
		h2
			font-size: 1.3em
		h3
			font-size: 1.1em
		h4, h5, h6
			font-size: 1em
		p
			font-size: .8em
			line-height: 1.4
			margin: 1em 0
			img
				display: block
				width: auto
				max-width: 100%
				margin: 0 auto
		a, a:visited
			color: $ologic-red-color
			&:hover
				text-decoration: none
		ul, ol
			margin: 1em 0
			padding: 0 20px
			li
				font-size: .8em
				line-height: 1.3
		blockquote
			background-color: #f5f5f5
			margin: .5em 0
			padding: .5em 1em
			box-sizing: border-box
			display: block
			border-left: 5px #ddd solid
		.subscribe-form
			position: relative
			max-width: 340px
			background-color: #ddd
			margin: 1em auto
			padding: 1em
			border-radius: 5px
			input, select
				display: block
				width: 100%
				box-sizing: border-box
				font-size: 20px
				padding: 10px
				+fontForum
				appearance: none
				border: none
				background-color: #fff
				margin-bottom: 12px
				border-radius: 3px
				border: 1px transparent solid
				outline: none
				&:focus
					border: 1px #999 solid
				&._error
					border: 1px #f00 solid !important
			select
				padding-right: 30px
				background-image: url("data:image/svg+xml,%3Csvg width='320px' height='192px' viewBox='0 0 320 192' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg fill='%23B0B0B0' fill-rule='nonzero'%3E%3Cpolygon id='Shape' points='300.6 0 320 20.7 160 192 0 20.7 19.3 0 160 150.5'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E")
				background-repeat: no-repeat
				background-size: 10px 6px
				background-position: calc(100% - 10px) 50%
				&::-ms-expand
					display: none
			button[type="submit"]
				display: block
				appearance: none
				cursor: pointer
				outline: none
				border: none
				width: 100%
				padding: 15px 5px
				box-sizing: border-box
				font-size: 20px
				text-transform: uppercase
				+fontForum
				font-weight: 700
				margin: 15px auto 0
				background-color: $ologic-red-color
				color: #fff
				border-radius: 5px
				transition: .3s background
				&:hover
					background-color: lighten($ologic-red-color, 10)
					transition: 0s background
				&:active
					background-color: darken($ologic-red-color, 10)