.ologic-landing-video
	position: relative
	background-color: #fff
	&__main
		position: relative
		z-index: 10
	&__left
		position: absolute
		left: 0
		top: 0
		width: 50%
		bottom: 0
		background-repeat: no-repeat
		background-position: 50% 50%
		background-size: cover
		+max-screen(1023px)
			position: relative
			width: auto
			padding-bottom: 50%
	&__right
		position: absolute
		left: 50%
		top: 0
		width: 50%
		bottom: 0
		background-color: #f2f6f7
		+max-screen(1023px)
			display: none
	&__content
		position: relative
		max-width: $content-width
		margin: 0 auto
		padding: 0 20px
	&__info
		position: relative
		margin-left: 50%
		padding: 40px 0 50px 50px
		+max-screen(1023px)
			margin-left: 0
			padding: 25px 20px
			background-color: #f2f6f7
			margin: 0 -20px
	&__name
		font-size: 38px
		font-weight: 400
		margin: 0
		+max-screen(767px)
			font-size: 24px
	&__subtitle
		font-size: 24px
		font-weight: 400
		color: $ologic-red-color
		margin: 5px 0 0
		+max-screen(767px)
			font-size: 20px
	&__text
		padding-top: 35px
		margin-top: 35px
		border-top: 1px #d5d8d9 solid
		+max-screen(767px)
			padding-top: 20px
			margin-top: 20px
		.arrow
			position: absolute
			bottom: -50px
			right: 30px
			animation: 1s shakeArrowsVertical linear infinite alternate
			+max-screen(1023px)
				display: none
		p
			font-size: 24px
			margin: 0
			line-height: 1.3
			&:not(:last-of-type)
				margin-bottom: 25px
				+max-screen(767px)
					margin-bottom: 15px
			+max-screen(767px)
				font-size: 18px
	&__list
		display: flex
		padding-top: 60px
		margin: 0 -20px
		flex-wrap: wrap
		.ologic-about-speaker__title
			margin-bottom: 30px
		+screen(768px, 1023px)
			padding-top: 40px
		+max-screen(767px)
			flex-direction: column
			align-items: center
			padding-top: 30px
			.ologic-about-speaker__title
				margin-bottom: 25px
	&__item
		width: 33.33%
		position: relative
		box-sizing: border-box
		padding: 0 20px 20px
		+screen(768px, 1023px)
			width: 50%
		+max-screen(767px)
			width: auto
			max-width: 400px
			&:not(:last-of-type)
				margin-bottom: 20px
	&__unit
		h4
			font-size: 30px
			font-weight: 400
			text-transform: uppercase
			padding: 20px
			background-color: #f2f6f7
			margin: 0
			display: flex
			align-items: center
			svg
				flex-shrink: 0
				margin-right: 15px
			+max-screen(767px)
				font-size: 24px
				padding: 15px
		ol
			padding: 25px 0 0
			margin: 0
			list-style-type: none
			counter-reset: video-list-number
			li
				position: relative
				font-size: 20px
				line-height: 1.2
				&::before
					counter-increment: video-list-number
					content: counter(video-list-number) '. '
					display: inline-block
					color: $ologic-red-color
			p
				margin: 0
				display: inline
	&__cover
		height: 260px
		position: relative
		background-repeat: no-repeat
		background-position: 50% 50%
		background-size: cover
		+max-screen(767px)
			height: 200px
		> a
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%
	&__video
		position: relative
	&__bottom
		position: relative
		text-align: center
		padding: 5px 20px 50px
		border-top: 1px #cccccc solid
		max-width: $content-width
		margin: 0 auto
		margin-top: 20px
		&::before
			content: ''
			position: absolute
			width: 20px
			height: 20px
			border-style: solid
			border-width: 1px
			border-color: transparent #ccc #ccc transparent
			box-sizing: border-box
			top: -11px
			transform: rotate(45deg)
			background-color: #fff
		&_no-bt
			border-top: none
			margin-top: 0
			padding-top: 35px
			&::before
				display: none
		h5
			font-size: 24px
			margin: 0
			padding: 25px 0
			font-weight: 400
		+max-screen(767px)
			margin-top: 20px
			padding: 0 20px
			h5
				font-size: 20px
				padding: 15px
	&__plus
		display: flex
		justify-content: center
		align-items: center
		padding: 30px 40px
		max-width: 1040px
		box-sizing: border-box
		margin: 35px auto 0
		border: 2px $ologic-red-color solid
		+max-screen(767px)
			flex-direction: column-reverse
			padding: 20px 25px
			align-items: center
			margin-top: 20px
			margin-bottom: 20px
		svg,
		img
			flex-shrink: 0
			margin-right: 30px
			+max-screen(767px)
				margin-right: 0
				margin-top: 20px
		p
			margin: 0
			text-align: left
			font-size: 24px
			+max-screen(767px)
				font-size: 20px
				text-align: center