.ologic-expert-header
	position: relative
	padding: 65px 20px
	background-color: #f8f9fb
	margin-bottom: 30px
	+max-screen(767px)
		padding: 35px 20px
	&__content
		position: relative
		display: flex
		align-items: flex-start
		width: 100%
		max-width: 1170px
		margin: 0 auto
		+max-screen(767px)
			flex-direction: column
	&__photo
		position: relative
		box-sizing: border-box
		width: 40%
		padding-right: 35px
		flex-shrink: 0
		img
			display: block
			width: 100%
			max-width: 350px
			margin: 0
		+max-screen(767px)
			width: 100%
			padding-right: 0
			padding-bottom: 20px
			img
				max-width: 320px
				margin: 0 auto
	&__title
		font-size: 30px
		font-weight: 400
		margin: 0 0 5px
		line-height: 1.3
		position: relative
		&::before
			content: ''
			position: absolute
			width: 17px
			height: 20px
			background: url('../img/icon-man-small-red.png') no-repeat 50% 50% transparent
			right: 100%
			margin-right: 10px
			top: 10px
		+max-screen(767px)
			font-size: 24px
			text-align: center
			&::before
				display: none
	&__subtitle
		font-size: 20px
		margin: 0 0 20px
		font-weight: 400
		+max-screen(767px)
			font-size: 18px
			text-align: center
	&__text
		padding-top: 20px
		border-top: 1px #d3d4d6 solid
		p
			font-size: 20px
			line-height: 1.4
			margin: 0 0 27px
			+max-screen(767px)
				font-size: 16px
				margin-bottom: 20px

.ologic-icon-title
	display: flex
	align-items: stretch
	font-size: 30px
	margin: 0 auto 50px
	text-transform: uppercase
	font-weight: 400
	+max-screen(767px)
		margin-bottom: 25px
		font-size: 20px
	&_no-uppercase
		text-transform: none
	&__icon
		display: flex
		align-items: center
		justify-content: center
		padding: 10px
		background-color: #edeff2
		flex-shrink: 0
		img
			display: block
			max-width: 36px
			margin: 0
	span
		padding: 10px 15px
		background-color: #f5f7fa
		display: flex
		align-items: center
		flex-grow: 1

.ologic-expert-section
	position: relative
	padding: 30px 20px
	background-color: #fff
	&__content
		position: relative
		max-width: 1170px
		margin: 0 auto
		+max-screen(767px)
			max-width: 600px
	&__item
		display: flex
		align-items: flex-start
		+max-screen(767px)
			flex-direction: column
	&__cover
		position: relative
		box-sizing: border-box
		width: 42%
		padding-right: 35px
		flex-shrink: 0
		img
			display: block
			width: 100%
			max-width: 420px
			margin: 0
		+max-screen(767px)
			width: 100%
			padding-right: 0
			padding-bottom: 20px
			img
				max-width: 400px
				margin: 0 auto
	&__title
		font-size: 30px
		font-weight: 400
		margin: 0 0 30px
		+max-screen(767px)
			font-size: 20px
			margin-bottom: 20px
	&__text
		p
			font-size: 20px
			margin: 0 0 30px
			line-height: 1.4
			+max-screen(767px)
				font-size: 16px
				margin-bottom: 20px
		.ologic-icon-title
			font-size: 24px
			margin-bottom: 30px
			+max-screen(767px)
				font-size: 20px
				margin-bottom: 20px

.ologic-expert-reviews
	position: relative
	background-color: #fff
	padding: 30px 20px
	&__content
		position: relative
		max-width: 1170px
		margin: 0 auto
		overflow: hidden
		+max-screen(767px)
			max-width: 600px
	&__grid
		position: relative
		display: flex
		align-items: flex-start
		flex-wrap: wrap
		margin: 0 -50px
		+max-screen(767px)
			margin: 0
			flex-direction: column
	&__buttons
		display: flex
		align-items: center
		margin: 0 -50px
		+max-screen(767px)
			margin: 0
			flex-direction: column
			justify-content: center
	&__button-col
		width: 50%
		box-sizing: border-box
		padding: 0 50px
		display: flex
		align-items: center
		&_first
			justify-content: flex-end
		+max-screen(767px)
			padding: 10px 0
			width: 100%
			justify-content: center
			&_first
				justify-content: center

.ologic-expert-review
	width: 50%
	position: relative
	box-sizing: border-box
	padding: 0 50px 50px
	+max-screen(767px)
		width: 100%
		padding: 0 0 25px
	&__content
		position: relative
		&::before
			content: ''
			position: absolute
			right: 0
			top: 0
			width: 61px
			height: 54px
			background: url('../img/icon-quotes.png') no-repeat 50% 50% transparent
	&__header
		display: flex
		align-items: flex-end
		margin-bottom: 30px
		+max-screen(767px)
			margin-bottom: 15px
	&__photo
		display: block
		max-width: 110px
		margin: 0 25px 0 0
		+max-screen(767px)
			max-width: 60px
	&__name
		font-size: 24px
		line-height: 1.2
		font-weight: 400
		margin: 0
		span
			display: block
			font-size: 20px
		+max-screen(767px)
			font-size: 20px
			span
				font-size: 18px
	&__text
		p
			font-size: 20px
			margin: 0
			line-height: 1.4
			+max-screen(767px)
				font-size: 16px

.ologic-consult-form
	position: relative
	padding: 0 0 50px
	overflow: hidden
	margin-top: 30px
	+max-screen(767px)
		padding-bottom: 35px
	&__bg
		position: absolute
		left: -2px
		top: -2px
		right: -2px
		bottom: -2px
		background-repeat: no-repeat
		background-position: 50% 50%
		background-size: cover
		background-color: #eee
		&::before
			content: ''
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%
			background: rgba(#000, .7)
	&__title
		position: relative
		margin: 0 0 30px
		text-align: center
		color: #fff
		padding: 40px 20px
		font-size: 30px
		font-weight: 400
		background-color: rgba($ologic-red-color, .7)
		strong
			display: block
			font-weight: 400
			text-transform: uppercase
			font-size: 35px
		+max-screen(767px)
			padding: 25px 20px
			font-size: 20px
			strong
				font-size: 24px
	&__form
		position: relative
		display: flex
		align-items: center
		flex-direction: column
		justify-content: center
		max-width: 360px
		margin: 0 auto
		padding: 0 20px
	&__input
		display: block
		appearance: none
		border: none
		background-color: #fff
		width: 100%
		box-sizing: border-box
		margin-bottom: 25px
		font-size: 20px
		+fontForum
		height: 55px
		padding: 0 15px
		&._error
			box-shadow: inset 0 0 0 2px #f00