.ologic-landing-hero
	position: relative
	+max-screen(1023px)
		text-align: center
		.ologic-social__list
			margin: 0 auto
	&__left
		position: absolute
		left: 0
		top: 0
		width: 50%
		bottom: 0
		background-repeat: no-repeat
		background-position: 50% 20%
		background-size: cover
		+max-screen(1023px)
			position: relative
			padding-bottom: 40%
			left: auto
			top: auto
			width: 100%
			background-position: 50% 13%
	&__right
		position: absolute
		left: 50%
		right: 0
		top: 0
		bottom: 0
		background-color: #f2f6f7
		+max-screen(1023px)
			display: none
	&__content
		position: relative
		max-width: $content-width
		margin: 0 auto
		padding: 0 20px
	&__text-block
		margin-left: 50%
		padding: 30px 0 30px 40px
		+max-screen(1023px)
			margin-left: 0
			padding: 20px 0
	&__title
		font-size: 50px
		margin: 0
		font-weight: 400
		span
			font-size: 60px
			text-transform: uppercase
			display: block
			margin-top: 10px
			color: $ologic-red-color
		+screen(1024px, 1200px)
			font-size: 40px
			span
				font-size: 50px
		+screen(768px, 1023px)
			text-align: center
			font-size: 34px
			span
				font-size: 34px
		+max-screen(767px)
			font-size: 24px
			span
				font-size: 24px
	&__subtitle
		font-weight: 400
		font-size: 30px
		margin: 10px 0 0
		+screen(1024px, 1200px)
			font-size: 24px
		+screen(768px, 1023px)
			text-align: center
		+max-screen(767px)
			font-size: 24px
	&__money
		position: relative
		margin-left: 50%
		background: url('../img/money-bg.jpg') no-repeat 50% 50% #333
		background-size: cover
		+max-screen(1023px)
			margin-left: 0
		&::before
			content: ''
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%
			background-color: rgba(#000, .75)
		p
			position: relative
			color: #fff
			padding: 30px 30px 30px 40px
			max-width: 550px
			font-size: 24px
			line-height: 1.2
			margin: 0
			+max-screen(1023px)
				margin: 0 auto
				text-align: center
				padding: 30px
			+max-screen(767px)
				font-size: 18px
				padding: 20px
			span
				display: block
				padding: 20px 30px
				background-color: $ologic-red-color
				font-size: 38px
				text-align: center
				margin: 20px 0 -60px
				+screen(1024px, 1200px)
					font-size: 30px
				+max-screen(767px)
					font-size: 24px
					padding: 20px
	&__social
		padding-top: 20px
		h5
			font-size: 23px
			margin: 0 0 20px
			font-weight: 400