.ologic-landing-people
	position: relative
	padding: 70px 20px
	+max-screen(1023px)
		padding: 0 20px
	&__bg
		position: absolute
		width: 50%
		top: 0
		bottom: 0
		&_left
			left: 0
			background-color: #f2f6f7
		&_right
			left: 50%
			background-color: #fff
		+max-screen(1023px)
			display: none
	&__content
		position: relative
		max-width: $content-width
		margin: 0 auto
		display: flex
		+max-screen(1023px)
			flex-direction: column
	&__col
		position: relative
		width: 50%
		box-sizing: border-box
		&_left
			padding-right: 50px
			+max-screen(1023px)
				background-color: #f2f6f7
		&_right
			padding-left: 50px
			+max-screen(1023px)
				background-color: #fff
		+max-screen(1023px)
			width: auto
			margin: 0 -20px
			padding: 35px 20px
	&__title
		font-size: 38px
		text-transform: uppercase
		font-weight: 400
		margin: 0 0 30px
		+max-screen(1023px)
			font-size: 24px
			margin-bottom: 20px
	&__subtitle
		font-size: 20px
		font-weight: 400
		margin: 0 0 30px
		line-height: 1.3
		+max-screen(1023px)
			margin-bottom: 20px
	&__samples
		display: inline-block
		font-size: 24px
		text-transform: uppercase
		position: relative
		padding: 15px 30px
		border: 2px $ologic-red-color solid
		margin-bottom: 30px
		&::after
			content: ''
			position: absolute
			width: 16px
			height: 16px
			border-width: 2px
			border-style: solid
			border-color: transparent $ologic-red-color $ologic-red-color transparent
			box-sizing: border-box
			left: 50%
			bottom: -8px
			margin-left: -6px
			transform: rotate(45deg)
		&_white
			&::after
				background-color: #fff
		&_grey
			&::after
				background-color: #f2f6f7

.ologic-people-card
	position: relative
	&:not(:last-of-type)
		margin-bottom: 35px
		padding-bottom: 35px
		border-bottom: 1px #d5d8d9 solid
		+max-screen(767px)
			margin-bottom: 25px
			padding-bottom: 25px
	&:hover
		.ologic-people-card__photo
			transform: translateY(-5px)
			box-shadow: 0 10px 20px -5px rgba(#000, .5)
	&__top
		position: relative
		display: flex
		margin-bottom: 30px
		width: 100%
		align-items: flex-start
		+max-screen(767px)
			margin-bottom: 20px
	&__photo
		max-width: 186px
		max-height: 261px
		flex-shrink: 0
		display: block
		margin: 0 30px 0 0
		transition: .2s transform, .2s box-shadow
		+max-screen(767px)
			max-width: 90px
			max-height: 127px
			margin-right: 15px
	&__info
		flex-grow: 1
	&__question
		flex-shrink: 0
		appearance: none
		cursor: pointer
		outline: none
		background-color: transparent
		border: none
		font-size: 0
		padding: 0
		transition: .2s transform
		&:hover
			transform: rotate(15deg)
		+max-screen(767px)
			svg
				width: 24px
				height: 28px
	&__name
		display: flex
		justify-content: space-between
		align-items: center
		padding: 5px 0 10px
		border-bottom: 1px #d5d8d9 solid
		margin-bottom: 20px
		transform: translateZ(0)
		backface-visibility: hidden
		+max-screen(767px)
			padding-top: 0
		h4
			font-weight: 400
			margin: 0
			font-size: 24px
			+max-screen(767px)
				font-size: 20px
	&__detail
		position: relative
		padding-left: 40px
		line-height: 1.3
		svg
			position: absolute
			left: 0
			top: 4px
		h5
			font-size: 20px
			font-weight: 400
			margin: 0
			color: $ologic-red-color
		p
			font-size: 20px
			margin: 0
		+max-screen(767px)
			h5, p
				font-size: 16px
		&:not(:last-of-type)
			margin-bottom: 30px
			+max-screen(767px)
				margin-bottom: 15px
		&_small
			p
				font-size: 18px
			&:not(:last-of-type)
				margin-bottom: 5px
	&__text
		font-size: 20px
		+max-screen(767px)
			font-size: 18px
		p
			margin: 0
			line-height: 1.3