.ologic-landing-more
	position: relative
	background-color: #fff
	padding: 70px 20px 0
	+max-screen(767px)
		padding: 35px 20px
	&__content
		position: relative
		max-width: $content-width
		margin: 0 auto
	&__title
		text-align: center
		margin: 0 auto 50px
		font-size: 38px
		font-weight: 400
		+max-screen(767px)
			font-size: 28px
			margin-bottom: 30px
	&__list
		display: flex
		padding: 0 10px 50px
		border-bottom: 1px #ccc solid
		flex-wrap: wrap
		+max-screen(767px)
			flex-direction: column
			align-items: center
			padding: 0 0 30px
	&__col
		width: 50%
		box-sizing: border-box
		padding: 15px 20px
		+max-screen(767px)
			width: 100%
			max-width: 500px
			padding: 10px
	&__item
		display: flex
		align-items: flex-start
		&:not(:last-of-type)
			margin-bottom: 30px
		svg
			flex-shrink: 0
			margin-right: 15px
		h5
			font-size: 24px
			font-weight: 400
			margin: 0
			padding-top: 10px
			+max-screen(767px)
				font-size: 20px