.ologic-hero
	position: relative
	padding: 0 20px
	&__photo
		position: absolute
		left: 0
		top: 0
		width: 50%
		bottom: 0
		background-repeat: no-repeat
		background-position: 50% 50%
		background-size: cover
		+max-screen(767px)
			position: relative
			padding-bottom: 55%
			left: auto
			width: auto
			bottom: auto
			margin: 0 -20px
			z-index: 10
	&__globe
		position: absolute
		right: 0
		top: 0
		width: 50%
		bottom: 0
		background: url('../img/earth.png') no-repeat 110px 45px #f2f6f7
		background-size: 640px 576px
		+max-screen(767px)
			width: 100%
			height: 100%
	&__content
		position: relative
		max-width: $content-width
		margin: 0 auto
	&__text
		margin-left: 50%
		padding: 35px 0 35px 40px
		+max-screen(767px)
			margin-left: 0
			padding: 30px 0
		p
			margin: 0
			font-size: 20px
			line-height: 1.3
			+max-screen(767px)
				font-size: 18px
			&.red
				font-size: 25px
				color: $ologic-red-color
				+screen(768px, 1023px)
					font-size: 24px
				+max-screen(767px)
					font-size: 20px
			&:not(:last-of-type)
				margin-bottom: 25px
				+max-screen(767px)
					margin-bottom: 20px
				
	&__title
		font-size: 50px
		position: relative
		margin: 0 0 10px
		font-weight: 400
		text-transform: uppercase
		+screen(768px, 1023px)
			font-size: 32px
		+max-screen(767px)
			font-size: 28px
			margin-bottom: 15px
	&__button
		text-align: center
		margin-top: 30px