.ologic-advantages
	position: relative
	padding: 70px 20px 50px
	background-color: #fff
	+max-screen(767px)
		padding: 35px 20px
	&__content
		position: relative
		max-width: $content-width
		margin: 0 auto
	&__items
		position: relative
		display: flex
		justify-content: space-between
		margin: 55px auto 45px
		+max-screen(767px)
			margin: 30px auto 20px
			flex-direction: column
			align-items: center
	&__item
		width: 30%
		+max-screen(767px)
			width: auto
			max-width: 300px
			&:not(:last-of-type)
				margin-bottom: 30px
	&__title
		display: flex
		text-transform: uppercase
		align-items: center
		padding-bottom: 20px
		margin: 0 0 20px
		font-size: 30px
		font-weight: 400
		color: $ologic-red-color
		border-bottom: 1px #e5e5e5 solid
		+screen(768px, 1024px)
			font-size: 24px
		+max-screen(1024px)
			flex-direction: column
			align-items: center
		+max-screen(767px)
			font-size: 20px
		span
			margin-left: 15px
			+max-screen(1024px)
				margin-left: 0
				margin-top: 15px
		svg
			flex-shrink: 0
			fill: #757f85
	&__text
		p
			font-size: 22px
			margin: 0
			line-height: 1.3
			+max-screen(767px)
				font-size: 18px
	&__button
		text-align: center