.ologic-select
	position: relative
	padding: 70px 20px
	background-color: #fff
	overflow: hidden
	+max-screen(767px)
		padding: 35px 20px
	&__content
		position: relative
		max-width: $content-width
		margin: 0 auto

.ologic-ways
	position: relative
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	align-items: flex-start
	margin-top: 40px
	+max-screen(767px)
		margin-top: 25px
		flex-direction: column
		align-items: center
	&__item
		width: 47%
		position: relative
		padding-left: 120px
		box-sizing: border-box
		margin-bottom: 70px
		+max-screen(767px)
			width: 100%
			max-width: 300px
			padding-left: 0
			margin-bottom: 35px
			text-align: center
		&:hover
			.ologic-ways__icon
				fill: #717f8f
			.ologic-ways__title
				color: $ologic-red-color
	&__icon
		position: absolute
		left: 0
		top: 0
		fill: $ologic-red-color
		+max-screen(767px)
			position: relative
			left: auto
			top: auto
			display: block
			margin: 0 auto 15px
	&__title
		font-size: 38px
		font-weight: 400
		color: #2d2d2d
		user-select: none
		cursor: default
		text-transform: uppercase
		margin: 0
		+screen(768px, 1023px)
			font-size: 28px
		+max-screen(767px)
			font-size: 24px
		span
			display: block
			text-transform: none
			font-size: 24px
			+max-screen(767px)
				font-size: 20px

.ologic-robot
	position: relative
	display: flex
	width: 100%
	align-items: flex-start
	+max-screen(767px)
		display: block
	&__content
		flex: 1
		margin-left: 30px
		padding-top: 20px
		+max-screen(767px)
			margin-left: 90px
			padding-top: 0
	&__robot
		display: block
		+screen(768px, 1023px)
			max-width: 300px
		+max-screen(767px)
			position: absolute
			width: 240px
			left: -170px
		img
			display: block
			max-width: 100%
			margin: 0
	&__talk
		position: relative
		padding: 30px 40px
		border: 2px $ologic-red-color solid
		border-radius: 4px
		font-size: 24px
		margin-bottom: 20px
		background-color: #fff
		&::before
			content: ''
			position: absolute
			width: 0
			height: 0
			border-style: solid
			border-width: 9px 15px
			border-color: $ologic-red-color $ologic-red-color transparent transparent
			left: -30px
			bottom: 40%
		&::after
			content: ''
			position: absolute
			width: 0
			height: 0
			border-style: solid
			border-width: 8px 15px
			border-color: #fff #fff transparent transparent
			left: -24px
			bottom: 40%
		+max-screen(767px)
			padding: 10px 15px
			font-size: 20px
			&::before,
			&::after
				top: 40px
				bottom: auto
			&::after
				top: 42px

		p
			margin: 0
			.red
				color: $ologic-red-color
	&__text
		font-size: 24px
		line-height: 1.3
		+max-screen(767px)
			font-size: 19px
		p
			margin: 0 0 20px
			+max-screen(767px)
				margin: 0 0 15px
			.red
				color: $ologic-red-color

.ologic-social
	position: relative
	&__list
		list-style-type: none
		margin: 0 0 20px
		padding: 0
		font-size: 0
		display: flex
		justify-content: space-between
		max-width: 410px
		+screen(768px, 1023px)
			max-width: 300px
		+max-screen(767px)
			max-width: 120px
			flex-wrap: wrap
		&_center
			margin: 0 auto
	&__link
		transition: .2s transform
		display: block
		position: relative
		&:hover
			transform: scale(1.05)
		svg,
		img
			width: 70px
			height: 70px
		+max-screen(1023px)
			svg,
			img
				width: 50px
				height: 50px
		+max-screen(767px)
			margin: 0 10px 10px 0