.school-heading
	position: relative
	margin-top: 30px
	padding: 0 20px
	&__content
		display: flex
		max-width: 1130px
		margin: 0 auto
		+max-screen(767px)
			flex-direction: column
			max-width: 460px
	&__title
		margin: 0
		flex-shrink: 0
		text-transform: uppercase
		font-size: 20px
		background-color: #e8ebf0
		font-weight: 400
		padding: 20px
		+max-screen(767px)
			flex-grow: 1
			font-size: 15px
			padding: 15px
	&__name
		margin: 0
		background-color: #f4f5f7
		flex-grow: 1
		font-weight: 400
		padding: 15px 20px
		font-size: 24px
		display: flex
		align-items: center
		line-height: 1.3
		+max-screen(767px)
			padding: 15px
			font-size: 20px

.ologic-experts
	position: relative
	padding: 70px 20px
	background-color: #fff
	+max-screen(767px)
		padding: 35px 20px
	&__content
		position: relative
		max-width: $content-width
		margin: 0 auto
		display: flex
		align-items: flex-start
		justify-content: space-between
		+max-screen(767px)
			flex-direction: column
			align-items: center
	&__col
		width: 48%
		+screen(768px, 1023px)
			width: 47%
		+max-screen(767px)
			width: 100%
			max-width: 400px
			&:not(:last-of-type)
				margin-bottom: 35px
	&__title
		font-size: 38px
		text-transform: uppercase
		font-weight: 400
		margin: 0 0 60px
		+max-screen(767px)
			font-size: 28px
			margin-bottom: 30px
			text-align: center
	&__blogs
		position: relative
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		+max-screen(767px)
			flex-direction: column
			align-items: center
	&__sales-log
		position: relative
		margin-bottom: 45px
		+max-screen(767px)
			margin-bottom: 30px
	&__log
		font-size: 22px
		border-top: 1px #d9e0e5 solid
		padding: 18px 0
		&:last-of-type
			border-bottom: 1px #d9e0e5 solid
		+max-screen(767px)
			font-size: 18px
		.email
			color: $ologic-red-color
	&__button
		text-align: center

.ologic-expert-card
	display: block
	text-decoration: none
	width: 47%
	color: #2d2d2d
	margin-bottom: 40px
	+max-screen(767px)
		width: 100%
		max-width: 240px
		margin-bottom: 25px
	&:hover
		.ologic-expert-card__photo
			transform: translateY(-5px)
			box-shadow: 0 10px 20px -5px rgba(#000, .5)
	&__photo
		display: block
		max-width: 100%
		margin: 0 0 15px
		transition: .2s transform, .2s box-shadow
	&__name
		font-size: 26px
		font-weight: 400
		margin: 0 auto 10px
		+max-screen(1023px)
			font-size: 22px
	&__info
		font-size: 22px
		margin-bottom: 10px
		+max-screen(1023px)
			font-size: 18px
		p
			margin: 0
	&__read
		font-size: 22px
		color: $ologic-red-color
		+max-screen(1023px)
			font-size: 18px

.ologic-experts-list
	position: relative
	max-width: $content-width
	margin: 0 auto
	+max-screen(767px)
		max-width: 500px

.ologic-expert-item
	display: flex
	align-items: flex-start
	justify-content: space-between
	max-width: $content-width
	padding: 40px 0
	position: relative
	&::after
		content: ''
		position: absolute
		left: 20px
		right: 20px
		bottom: 0
		border-bottom: 1px #e0e0e0 solid
	&:last-of-type
		margin-bottom: 40px
		+max-screen(767px)
			margin-bottom: 30px
	+max-screen(767px)
		flex-direction: column
		align-items: center
		padding: 25px 0
	&__col
		position: relative
		box-sizing: border-box
		padding: 0 20px
		flex-shrink: 0
		width: 40%
		&:nth-of-type(2)
			width: 30%
		&_last
			width: 30%
			flex-shrink: 0
		+screen(768px, 1023px)
			width: 30%
			&_last
				width: 40%
		+max-screen(767px)
			width: 100%
			&:nth-of-type(2)
				width: 100%
			&_last
				width: 100%
		.ologic-blog-seminar__engage
			margin-top: 10px
	&__info
		display: flex
		align-items: flex-start
		+screen(768px, 1023px)
			flex-direction: column
	&__author
		position: relative
		display: block
		width: 130px
		flex-shrink: 0
		margin-right: 20px
		color: #fff
		text-decoration: none
		+screen(768px, 1023px)
			margin: 0 0 10px
		+max-screen(767px)
			width: 100px
			margin-right: 15px
		&:visited
			color: #fff
		&:hover
			span
				background-color: #000
		img
			display: block
			max-width: 100%
			margin: 0
		span
			position: absolute
			left: 0
			right: 0
			bottom: 0
			padding: 6px 8px
			text-align: center
			display: block
			background-color: rgba(#000, .7)
	&__name
		font-size: 30px
		line-height: 1.1
		margin: 0 0 10px
		font-weight: 400
		a, a:visited
			text-decoration: none
			color: inherit
			&:hover
				color: $ologic-red-color
		+screen(768px, 1023px)
			font-size: 24px
		+max-screen(767px)
			font-size: 22px
	&__pos
		font-size: 20px
		margin: 0 0 15px
		+screen(768px, 1023px)
			font-size: 18px
		+max-screen(767px)
			font-size: 16px
			margin-bottom: 10px
	&__stats
		p
			font-size: 20px
			margin: 0 0 10px
			position: relative
			padding-left: 36px
			+screen(768px, 1023px)
				font-size: 18px
			+max-screen(767px)
				font-size: 16px
				margin-bottom: 13px
			b
				color: $ologic-red-color
				font-weight: 400
			a, a:visited
				color: $ologic-red-color
				text-decoration: none
				&:hover
					text-decoration: underline
			svg
				fill: #999
				position: absolute
				left: 0
				top: 0
	&__courses
		position: relative
		margin-bottom: 20px
		p
			font-size: 20px
			margin: 0 0 5px
			+max-screen(767px)
				font-size: 16px
			a, a:visited
				color: $ologic-red-color
				text-decoration: none
				&:hover
					text-decoration: underline
					text-decoration-skip-ink: none