.ologic-new-footer
	position: relative
	padding: 20px
	background-color: #e8ebf0
	box-sizing: border-box
	height: 95px
	+max-screen(767px)
		height: 54px
		padding: 12px 20px
	.ologic-header__globe
		width: 60px
		height: 55px
		+max-screen(767px)
			width: 30px
			height: 30px
	&__content
		position: relative
		max-width: $content-width
		margin: 0 auto
		display: flex
		justify-content: space-between
		align-items: center
	&__logo
		text-decoration: none
		display: flex
		align-items: center
		color: #2d2d2d
		text-transform: uppercase
		transition: .4s color
		user-select: none
		font-size: 24px
		+max-screen(767px)
			font-size: 14px !important
			span
				margin-left: 5px
		&:visited
			color: #2d2d2d
		&:hover
			color: $ologic-red-color
			transition: 0s color
		span
			margin-left: 10px
	&__copyrights
		p
			margin: 0
			font-size: 18px
			color: #94969f
			line-height: 1.3
			+max-screen(767px)
				font-size: 11px
				letter-spacing: -0.02em

.ologic-footer
	position: relative
	padding: 70px 20px
	background-color: #e8ebf0
	+max-screen(767px)
		padding: 35px 20px
	&__content
		position: relative
		max-width: $content-width
		margin: 0 auto
		display: flex
		justify-content: space-between
		align-items: flex-start
		+max-screen(1199px)
			max-width: 640px
			flex-wrap: wrap
	&__logo
		text-decoration: none
		display: flex
		align-items: center
		color: #2d2d2d
		text-transform: uppercase
		transition: .4s color
		user-select: none
		font-size: 40px
		margin-bottom: 30px
		+max-screen(1023px)
			font-size: 27px
			margin-bottom: 20px
			svg
				width: 55px
				height: 55px
		+max-screen(767px)
			font-size: 20px !important
		&:visited
			color: #2d2d2d
		&:hover
			color: $ologic-red-color
			transition: 0s color
		span
			margin-left: 10px
	&__copyrights
		margin-top: 30px
		p
			margin: 0
			font-size: 18px
			color: #94969f
			line-height: 1.3
			+max-screen(767px)
				font-size: 15px
	&__accel-link
		position: relative
		display: block
		+max-screen(767px)
			margin: 0 auto
			max-width: 280px
		img
			display: block
			max-width: 100%
			margin: 0
	&__col
		box-sizing: border-box
		+max-screen(1199px)
			width: 50%
			margin-bottom: 30px
			&_final
				order: 2
				padding-left: 30px
		+max-screen(1023px)
			width: 100%
			&_logo
				margin-bottom: 25px
		&_people
			padding: 0 30px
			border-right: 1px #d8dadf solid
			+max-screen(1199px)
				&_01
					order: 3
				&_02
					order: 4
					border-right: none
			+max-screen(767px)
				width: 100% !important
				border: none
				padding: 0
				&_02
					margin-bottom: 0 !important

.ologic-footer-card
	width: 280px
	display: flex
	align-items: center
	text-decoration: none
	font-size: 20px
	color: #2d2d2d
	+max-screen(767px)
		margin: 0 auto
		font-size: 16px
	&:visited
		color: #2d2d2d
	&:not(:last-child)
		margin-bottom: 70px
		+max-screen(767px)
			margin-bottom: 30px
	&__photo
		position: relative
		width: 90px
		height: 90px
		flex-shrink: 0
		background-repeat: no-repeat
		background-position: 50% 50%
		background-size: cover
		border-radius: 50%
		margin-right: 20px
	&__icon
		position: absolute
		width: 36px
		height: 36px
		right: 0
		bottom: 0
		background-color: #000
		text-align: center
		line-height: 36px
		font-size: 0
		border-radius: 50%
		svg
			display: inline-block
			vertical-align: middle
			fill: #fff
	&__name
		margin-bottom: 10px
		transition: .2s color
	&:hover
		.ologic-footer-card__name
			color: $ologic-red-color
			transition: 0s color

.footer-menu
	position: relative
	&__list
		margin: 0 0 25px
		padding: 0
		list-style-type: none
	&__item
		font-size: 20px
		&:not(:last-of-type)
			margin-bottom: 15px
		+max-screen(767px)
			font-size: 18px
	&__link
		text-decoration: none
		color: #2d2d2d
		transition: .2s color
		&:hover
			transition: 0s color
			color: $ologic-red-color

.footer-social
	position: relative
	&__list
		margin: 0
		padding: 0
		list-style-type: none
		font-size: 0
		max-width: 130px
	&__item
		display: inline-block
		margin: 0 15px 15px 0
		+max-screen(767px)
			margin: 0 10px 10px 0
	&__link
		display: block
		width: 50px
		height: 50px
		line-height: 50px
		border-radius: 50%
		text-align: center
		font-size: 0
		transition: .2s background
		background-color: #000
		+max-screen(767px)
			width: 40px
			height: 40px
			line-height: 40px
		svg
			display: inline-block
			vertical-align: middle
			fill: #fff
		&:hover
			background-color: lighten(#000, 15)
			transition: 0s background
		&:active
			background-color: #000