.tippy-tooltip
	text-align: left !important
	max-width: 400px !important
	+max-screen(767px)
		max-width: 260px !important

.ologic-register
	position: relative
	padding: 0 10px 40px
	&__content
		position: relative
		max-width: 900px
		margin: 0 auto
	+max-screen(767px)
		padding-top: 10px

.ologic-regform
	position: relative
	display: flex
	flex-wrap: wrap
	justify-content: center
	align-items: flex-start
	&__col
		box-sizing: border-box
		width: 50%
		padding: 10px
		&_submit
			width: 100%
			max-width: 500px
		+max-screen(767px)
			width: 100%
			max-width: 500px
			padding: 0 10px
	&__input
		position: relative
		padding: 10px 0
		.note
			margin: 5px 0
			font-size: 15px
			color: #555
			line-height: 1.3
		input, select
			appearance: none
			display: block
			width: 100%
			height: 35px
			border-radius: 0
			+fontForum
			background-color: #fff
			border: 1px #ddd solid
			box-sizing: border-box
			padding: 0 12px
			font-size: 16px
			outline: none
			&:focus
				border: 1px #999 solid
			&._error
				border: 1px #f00 solid !important
		select
			padding-right: 30px
			background-image: url("data:image/svg+xml,%3Csvg width='320px' height='192px' viewBox='0 0 320 192' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg fill='%23B0B0B0' fill-rule='nonzero'%3E%3Cpolygon id='Shape' points='300.6 0 320 20.7 160 192 0 20.7 19.3 0 160 150.5'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E")
			background-repeat: no-repeat
			background-size: 10px 6px
			background-position: calc(100% - 7px) 50%
			&::-ms-expand
				display: none
		&_captcha
			display: flex
			justify-content: space-between
			img
				display: block
				flex-shrink: 0
				width: 100px
				height: 35px
				margin: 0 0 0 20px
	&__promo-button
		appearance: none
		position: absolute
		border: 1px #ddd solid
		height: 35px
		box-sizing: border-box
		width: 100%
		left: 0
		top: 10px
		z-index: 10
		padding: 0
		background-color: #fff
		border-radius: 0
		cursor: pointer
		outline: none
		user-select: none
		span
			+fontForum
			font-size: 16px
			color: $ologic-red-color
			border-bottom: 1px $ologic-red-color dashed
		&:hover,
		&:focus
			span
				border-bottom: 1px $ologic-red-color solid
	&__policy
		&._error label::before
			border: 1px #f00 solid
		input
			position: absolute
			left: 0
			top: 0
			width: 0
			height: 0
			overflow: hidden
			opacity: 0
			visibility: hidden
			&:checked + label::after
				opacity: 1
				transform: translateY(0)
		label
			position: relative
			display: block
			padding-left: 26px
			font-size: 16px
			line-height: 1.3
			user-select: none
			&::before
				content: ''
				left: 0
				position: absolute
				width: 15px
				height: 15px
				border: 1px #aaa solid
			&::after
				content: ''
				position: absolute
				width: 18px
				height: 15px
				left: 2px
				top: -1px
				background: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg height='15px' version='1.1' viewBox='0 0 18 15' width='18px' xmlns='http://www.w3.org/2000/svg' xmlns:sketch='http://www.bohemiancoding.com/sketch/ns' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle/%3E%3Cdesc/%3E%3Cdefs/%3E%3Cg fill='none' fill-rule='evenodd' id='Page-1' stroke='none' stroke-width='1'%3E%3Cg fill='%23e80000' id='Core' transform='translate(-423.000000, -47.000000)'%3E%3Cg id='check' transform='translate(423.000000, 47.500000)'%3E%3Cpath d='M6,10.2 L1.8,6 L0.4,7.4 L6,13 L18,1 L16.6,-0.4 L6,10.2 Z' id='Shape'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat 50% 50% transparent
				background-size: contain
				opacity: 0
				transform: translateY(-3px)
				transition: .3s opacity, .3s transform
			a, a:visited
				color: $ologic-red-color
				&:hover
					text-decoration: none