.ologic-rating
	position: relative
	background-color: #f5f5f5
	padding: 50px 20px
	+max-screen(767px)
		padding: 25px 20px
	&__content
		position: relative
		max-width: $content-width
		margin: 0 auto
	&__title
		text-align: center
		font-weight: 400
		text-transform: uppercase
		font-size: 30px
		margin: 0 auto 30px
		+max-screen(767px)
			font-size: 24px
			margin-bottom: 15px

.ologic-rating-item
	display: flex
	justify-content: space-between
	align-items: flex-start
	width: 100%
	padding: 20px 0
	border-top: 1px #e5e5e5 solid
	&:last-of-type
		border-bottom: 1px #e5e5e5 solid
	+max-screen(767px)
		flex-direction: column
		align-items: center
		max-width: 400px
		margin: 0 auto
	p
		margin: 0
	a, a:visited
		color: $ologic-red-color
		&:hover
			text-decoration: none
	&__col
		padding-right: 20px
		box-sizing: border-box
		position: relative
		+max-screen(767px)
			padding-right: 0
		&_common
			display: flex
			align-items: flex-start
			width: 35%
			+screen(768px, 1023px)
				flex-direction: column
			+max-screen(767px)
				width: 100%
				max-width: 300px
				flex-direction: column
				align-items: center
				margin: 0 auto
		&_courses,
		&_webinar
			width: 27%
			b
				font-size: 18px
				display: block
				margin-bottom: 5px
			+max-screen(767px)
				width: 100%
				max-width: 300px
				margin-top: 15px
				&:empty
					display: none
		&_rating
			width: 11%
			padding-right: 0
			text-align: right
			font-size: 22px
			+max-screen(767px)
				width: 100%
				max-width: 300px
				text-align: left
				margin-top: 10px
				font-size: 20px
				font-weight: 700
				p
					position: relative
					&::before
						content: 'Рейтинг: '
						font-weight: 400
	&__photo
		width: 80px
		height: 80px
		margin-right: 15px
		background-repeat: no-repeat
		background-position: 50% 50%
		background-size: cover
		border-radius: 50%
		flex-shrink: 0
		+screen(768px, 1023px)
			margin-bottom: 10px
		+max-screen(767px)
			width: 100px
			height: 100px
			margin-bottom: 10px
	&__profile
		+max-screen(767px)
			width: 100%
	&__name
		font-weight: 400
		font-size: 22px
		margin: -2px 0 2px
	&__nick
		color: $ologic-red-color
		margin: 0
		font-weight: 400
		font-size: 16px
		position: relative
	&__desc
		margin: 2px 0 0
		font-weight: 400
		font-size: 16px
		font-style: italic
	&__info
		font-size: 16px
		margin-top: 10px
		line-height: 1.3
	&__number
		position: absolute
		left: 0
		top: 47px
		color: #fff
		font-family: Helvetica, Arial, sans-serif
		font-weight: 700
		font-size: 28px
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
		// text-shadow: 0 0 7px #000
		display: none
		+max-screen(767px)
			width: 100px
			height: 100px
			left: 50%
			top: 60px
			font-size: 24px
			margin-left: -60px