-load staticfiles
include blocks/_mixins.pug

doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")

		meta(property="og:type", content="article")
		//- meta(property="og:title", content="Онлайн-логика")
		//- meta(property="og:description", content="")
		//- meta(property="og:image", content="")
		//- meta(property="og:url", content="")

		script(src="//unpkg.com/@textback/notification-widget@latest/build/index.js")
		!='<!-- Google Tag Manager -->'
		!='<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({"gtm.start":'
		!='new Date().getTime(),event:"gtm.js"});var f=d.getElementsByTagName(s)[0],'
		!='j=d.createElement(s),dl=l!="dataLayer"?"&l="+l:"";j.async=true;j.src='
		!='"https://www.googletagmanager.com/gtm.js?id="+i+dl;f.parentNode.insertBefore(j,f);'
		!='})(window,document,"script","dataLayer","GTM-T8FCGH8");</script>'
		!='<!-- End Google Tag Manager -->'

		link(rel="apple-touch-icon", sizes="180x180", href="{% static 'img/favicon/apple-touch-icon.png' %}")
		link(rel="icon", type="image/png", sizes="32x32", href="{% static 'img/favicon/favicon-32x32.png' %}")
		link(rel="icon", type="image/png", sizes="16x16", href="{% static 'img/favicon/favicon-16x16.png' %}")
		link(rel="manifest", href="{% static 'img/favicon/manifest.json' %}")
		link(rel="mask-icon", href="{% static 'img/favicon/safari-pinned-tab.svg' %}", color="#09631d")
		link(rel="shortcut icon", href="{% static 'img/favicon/favicon.ico' %}")
		meta(name="msapplication-config", content="{% static 'img/favicon/browserconfig.xml' %}")
		meta(name="theme-color", content="#ffffff")
		//- meta(name="description", content="")

		link(rel="stylesheet", href="{% static 'css/main.css' %}")
		block pageTitle
			title Онлайн-логика

	body
		!='<!-- Google Tag Manager (noscript) -->'
		!='<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T8FCGH8"'
		!='height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>'
		!='<!-- End Google Tag Manager (noscript) -->'
		.page-wrap
			block header
				include ../blocks/_header.pug

			block mainContent

			block afterFooter
				include ../blocks/_login_popup

		include ../blocks/_footer

		block scripts
			script(src="{% static 'js/main.js' %}")

		block extraScripts
