-load static
.ologic-blog-item
    .ologic-blog-item__author
        .ologic-blog-item__photo
            img(src="{% static 'img/blog/01.jpg' %}", alt="Avatar {{ blog_item.user.get_full_name }}")
        .ologic-blog-item__info
            .ologic-blog-item__details.ologic-blog-item__details_name
                svg(width="17" height="20")
                    use(xlink:href="#icon-blog-post-author")
                h4 {{ blog_item.user.get_full_name }}
            .ologic-blog-item__details
                p {{ blog_item.user.about }}
            .ologic-blog-item__details
                svg(width="17" height="22")
                    use(xlink:href="#icon-blog-map-pin")
                p {{ blog_item.user.city }}
    .ologic-blog-item__body
        h3.ologic-blog-item__title {{ blog_item.title }}
        .ologic-blog-item__text
            p {{ blog_item.annotation|safe }}
        .ologic-blog-item__summary
            a.ologic-button.ologic-button_transparent.ologic-button_red-border(href="{{ blog_item.get_absolute_url }}") Читать дальше
            .ologic-blog-summary
                .ologic-blog-summary__item
                    svg(width="21" height="23")
                        use(xlink:href="#icon-blog-calendar")
                    span {{ blog_item.publication_date|date:"d F Y, H:i " }}

                .ologic-blog-summary__item
                    svg(width="30" height="19")
                        use(xlink:href="#icon-blog-views")
                    span 12345
                .ologic-blog-summary__item
                    svg(width="25" height="24")
                        use(xlink:href="#icon-blog-comments")
                    span 100
                .ologic-blog-summary__item
                    svg(width="22" height="19")
                        use(xlink:href="#icon-blog-summary-likes")
                    span 123
