@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700&subset=cyrillic')

@font-face
	font-family: 'Forum'
	src: url('../fonts/subset-Forum.eot')
	src: url('../fonts/subset-Forum.eot?#iefix') format('embedded-opentype'), url('../fonts/subset-Forum.woff2') format('woff2'), url('../fonts/subset-Forum.woff') format('woff'), url('../fonts/subset-Forum.svg#Forum') format('svg');
	font-weight: normal
	font-style: normal

=fontForum
	font-family: 'Forum', Helvetica, Arial, serif

=fontPTSerif
	font-family: 'PT Serif', Helvetica, Arial, serif