@mixin card-background($color, $bevel-size) {
	background: $color;
	background:
		linear-gradient(135deg, transparent $bevel-size, $color 0) top left,
		linear-gradient(225deg, transparent 0, $color 0) top right,
		linear-gradient(315deg, transparent 0, $color 0) bottom right,
		linear-gradient(45deg,  transparent 0, $color 0) bottom left;
	background-size: 52% 52% !important;
	background-repeat: no-repeat !important;
}

@mixin linear-gradient($direction, $color-stops) {
	@if is-direction($direction) == false {
		$color-stops: $direction, $color-stops;
		$direction: 180deg;
	}
	background: nth(nth($color-stops, 1), 1);
	background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
	background: linear-gradient($direction, $color-stops);
}
