// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$arrow-to-left-name: 'arrow-to-left'
$arrow-to-left-x: 0px
$arrow-to-left-y: 0px
$arrow-to-left-offset-x: 0px
$arrow-to-left-offset-y: 0px
$arrow-to-left-width: 133px
$arrow-to-left-height: 105px
$arrow-to-left-total-width: 266px
$arrow-to-left-total-height: 151px
$arrow-to-left-image: '../img/sprite.png'
$arrow-to-left: (0px, 0px, 0px, 0px, 133px, 105px, 266px, 151px, '../img/sprite.png', 'arrow-to-left', )
$arrow-to-right-name: 'arrow-to-right'
$arrow-to-right-x: 133px
$arrow-to-right-y: 0px
$arrow-to-right-offset-x: -133px
$arrow-to-right-offset-y: 0px
$arrow-to-right-width: 133px
$arrow-to-right-height: 105px
$arrow-to-right-total-width: 266px
$arrow-to-right-total-height: 151px
$arrow-to-right-image: '../img/sprite.png'
$arrow-to-right: (133px, 0px, -133px, 0px, 133px, 105px, 266px, 151px, '../img/sprite.png', 'arrow-to-right', )
$icon-quotes-name: 'icon-quotes'
$icon-quotes-x: 0px
$icon-quotes-y: 105px
$icon-quotes-offset-x: 0px
$icon-quotes-offset-y: -105px
$icon-quotes-width: 54px
$icon-quotes-height: 46px
$icon-quotes-total-width: 266px
$icon-quotes-total-height: 151px
$icon-quotes-image: '../img/sprite.png'
$icon-quotes: (0px, 105px, 0px, -105px, 54px, 46px, 266px, 151px, '../img/sprite.png', 'icon-quotes', )
$small-viber-name: 'small-viber'
$small-viber-x: 54px
$small-viber-y: 105px
$small-viber-offset-x: -54px
$small-viber-offset-y: -105px
$small-viber-width: 39px
$small-viber-height: 40px
$small-viber-total-width: 266px
$small-viber-total-height: 151px
$small-viber-image: '../img/sprite.png'
$small-viber: (54px, 105px, -54px, -105px, 39px, 40px, 266px, 151px, '../img/sprite.png', 'small-viber', )
$spritesheet-width: 266px
$spritesheet-height: 151px
$spritesheet-image: '../img/sprite.png'
$spritesheet-sprites: ($arrow-to-left, $arrow-to-right, $icon-quotes, $small-viber, )
$spritesheet: (266px, 151px, '../img/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
