extends layout/main-layout.pug
-load staticfiles
-load thumbnail

block pageTitle
    title Магазин:{{ goods.name }}:Оплата

block mainContent
    .ologic-content-page
        .ologic-content-page__content
            h1 Оплата. {{ goods.name }}
            div {{ goods.description }}
            div {{ goods.price }}
            div {{ goods.get_goods_type_display }}
            div {{ goods.partner_reward }}
            -for goods_image in goods.goodsimage_set.all
                div(style="display: flex")
                    div crop:
                        -thumbnail goods_image.photo "100x100" crop="center" as im
                        img(src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}")
                        -endthumbnail
                    div original:
                        img(src='{{ goods_image.photo.url }}')

