extends layout/main-layout.pug
-load staticfiles

block pageTitle
    title Магазин

block mainContent
    .ologic-content-page
        .ologic-content-page__content
            h1 Магазин
            ul
            -for goods_item in object_list
                li
                    a(href="{{ goods_item.absolute_url }}"){{ goods_item }}
