extends layout/main-layout.pug
-load staticfiles
-load thumbnail

block pageTitle
    title Магазин:{{ object.name }}

block mainContent
    .ologic-content-page
        .ologic-content-page__content
            h1 {{ object.name }}
            div {{ object.description }}
            div {{ object.price }}
            div {{ object.get_goods_type_display }}
            div {{ object.partner_reward }}
            -for goods_image in object.goodsimage_set.all
                div(style="display: flex")
                    div crop:
                        -thumbnail goods_image.photo "100x100" crop="center" as im
                        img(src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}")
                        -endthumbnail
                    div original:
                        img(src='{{ goods_image.photo.url }}')

