.likely, .likely__widget {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  margin: 0;
  padding: 0;
  text-indent: 0 !important;
  list-style: none !important;
  font-weight: 400;
  font-family: Helvetica Neue,Arial,sans-serif;
  font-size: inherit;
}

.likely {
  opacity: 0;
  font-size: 0 !important;
}

.likely_visible {
  opacity: 1;
  transition: opacity .1s ease-in;
}

.likely > * {
  display: inline-block;
  visibility: hidden;
}

.likely_visible > * {
  visibility: inherit;
}

.likely__widget {
  display: inline-block;
  position: relative;
  white-space: nowrap;
}

.likely__button, .likely__counter {
  text-decoration: none;
  text-rendering: optimizeLegibility;
  display: inline-block;
  margin: 0;
  outline: 0;
}

.likely__button {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.likely__counter {
  display: none;
  position: relative;
  font-weight: 400;
}

.likely_ready {
  .likely__counter {
    display: inline-block;
  }
  .likely__counter_empty {
    display: none;
  }
}

.likely__button, .likely__counter, .likely__icon {
  vertical-align: top;
}

.likely__widget {
  vertical-align: top;
  transition: background .33s ease-out,color .33s ease-out,fill .33s ease-out;
  &:active, &:focus, &:hover {
    transition: none;
    cursor: pointer;
  }
}

@media (hover: none) {
  .likely__widget {
    &:active, &:focus, &:hover {
      transition: background .33s ease-out,color .33s ease-out,fill .33s ease-out;
      cursor: unset;
    }
  }
}

.likely__icon {
  position: relative;
  text-align: left;
  display: inline-block;
}

.likely svg {
  position: absolute;
}

.likely__button, .likely__counter {
  line-height: inherit;
  cursor: inherit;
}

.likely__button:empty {
  display: none;
}

.likely__counter {
  text-align: center;
}

.likely {
  .likely__widget {
    color: #000;
    // background: hsla(0, 0%, 91%, 0.8);
  }
  .likely__counter {
    background-size: 1px 1px;
    background-repeat: repeat-y;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0, transparent 0.5px, transparent);
  }
}

.likely-light {
  .likely__widget {
    color: #fff;
    fill: #fff;
    background: hsla(0, 0%, 93%, 0.16);
    text-shadow: rgba(0, 0, 0, 0.2) 0 0 0.33em;
  }
  .likely__counter {
    background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0.4) 0, hsla(0, 0%, 100%, 0) 0.5px, hsla(0, 0%, 100%, 0));
  }
}

.likely__widget_facebook {
  fill: #425497;
  &:active, &:focus, &:hover {
    background: rgba(207, 212, 229, 0.8);
  }
}

@media (hover: none) {
  .likely__widget_facebook {
    &:active, &:focus, &:hover {
      background: hsla(0, 0%, 91%, 0.8);
    }
  }
}

.likely-light .likely__widget_facebook {
  &:active, &:focus, &:hover {
    text-shadow: #425497 0 0 .25em;
    background: rgba(66, 84, 151, 0.7);
  }
}

@media (hover: none) {
  .likely-light .likely__widget_facebook {
    &:active, &:focus, &:hover {
      text-shadow: rgba(0, 0, 0, 0.2) 0 0 0.33em;
      background: hsla(0, 0%, 93%, 0.16);
    }
  }
}

.likely__widget_gplus {
  fill: #dd4241;
  &:active, &:focus, &:hover {
    background: hsla(0, 68%, 89%, 0.8);
  }
}

@media (hover: none) {
  .likely__widget_gplus {
    &:active, &:focus, &:hover {
      background: hsla(0, 0%, 91%, 0.8);
    }
  }
}

.likely-light .likely__widget_gplus {
  &:active, &:focus, &:hover {
    text-shadow: #dd4241 0 0 .25em;
    background: rgba(221, 66, 65, 0.7);
  }
}

@media (hover: none) {
  .likely-light .likely__widget_gplus {
    &:active, &:focus, &:hover {
      text-shadow: rgba(0, 0, 0, 0.2) 0 0 0.33em;
      background: hsla(0, 0%, 93%, 0.16);
    }
  }
}

.likely__widget_linkedin {
  fill: #0077b5;
  &:active, &:focus, &:hover {
    background: rgba(191, 221, 236, 0.8);
  }
}

@media (hover: none) {
  .likely__widget_linkedin {
    &:active, &:focus, &:hover {
      background: hsla(0, 0%, 91%, 0.8);
    }
  }
}

.likely-light .likely__widget_linkedin {
  &:active, &:focus, &:hover {
    text-shadow: #0077b5 0 0 .25em;
    background: rgba(0, 119, 181, 0.7);
  }
}

@media (hover: none) {
  .likely-light .likely__widget_linkedin {
    &:active, &:focus, &:hover {
      text-shadow: rgba(0, 0, 0, 0.2) 0 0 0.33em;
      background: hsla(0, 0%, 93%, 0.16);
    }
  }
}

.likely__widget_odnoklassniki {
  fill: #f6903b;
  &:active, &:focus, &:hover {
    background: hsla(27, 88%, 90%, 0.8);
  }
}

@media (hover: none) {
  .likely__widget_odnoklassniki {
    &:active, &:focus, &:hover {
      background: hsla(0, 0%, 91%, 0.8);
    }
  }
}

.likely-light .likely__widget_odnoklassniki {
  &:active, &:focus, &:hover {
    text-shadow: #f6903b 0 0 .25em;
    background: rgba(246, 144, 59, 0.7);
  }
}

@media (hover: none) {
  .likely-light .likely__widget_odnoklassniki {
    &:active, &:focus, &:hover {
      text-shadow: rgba(0, 0, 0, 0.2) 0 0 0.33em;
      background: hsla(0, 0%, 93%, 0.16);
    }
  }
}

.likely__widget_pinterest {
  fill: #bd081c;
  &:active, &:focus, &:hover {
    background: rgba(238, 193, 198, 0.8);
  }
}

@media (hover: none) {
  .likely__widget_pinterest {
    &:active, &:focus, &:hover {
      background: hsla(0, 0%, 91%, 0.8);
    }
  }
}

.likely-light .likely__widget_pinterest {
  &:active, &:focus, &:hover {
    text-shadow: #bd081c 0 0 .25em;
    background: rgba(189, 8, 28, 0.7);
  }
}

@media (hover: none) {
  .likely-light .likely__widget_pinterest {
    &:active, &:focus, &:hover {
      text-shadow: rgba(0, 0, 0, 0.2) 0 0 0.33em;
      background: hsla(0, 0%, 93%, 0.16);
    }
  }
}

.likely__widget_telegram {
  fill: #34abde;
  &:active, &:focus, &:hover {
    background: rgba(204, 234, 246, 0.8);
  }
}

@media (hover: none) {
  .likely__widget_telegram {
    &:active, &:focus, &:hover {
      background: hsla(0, 0%, 91%, 0.8);
    }
  }
}

.likely-light .likely__widget_telegram {
  &:active, &:focus, &:hover {
    text-shadow: #34abde 0 0 .25em;
    background: rgba(52, 171, 222, 0.7);
  }
}

@media (hover: none) {
  .likely-light .likely__widget_telegram {
    &:active, &:focus, &:hover {
      text-shadow: rgba(0, 0, 0, 0.2) 0 0 0.33em;
      background: hsla(0, 0%, 93%, 0.16);
    }
  }
}

.likely__widget_twitter {
  fill: #00b7ec;
  &:active, &:focus, &:hover {
    background: rgba(191, 237, 250, 0.8);
  }
}

@media (hover: none) {
  .likely__widget_twitter {
    &:active, &:focus, &:hover {
      background: hsla(0, 0%, 91%, 0.8);
    }
  }
}

.likely-light .likely__widget_twitter {
  &:active, &:focus, &:hover {
    text-shadow: #00b7ec 0 0 .25em;
    background: rgba(0, 183, 236, 0.7);
  }
}

@media (hover: none) {
  .likely-light .likely__widget_twitter {
    &:active, &:focus, &:hover {
      text-shadow: rgba(0, 0, 0, 0.2) 0 0 0.33em;
      background: hsla(0, 0%, 93%, 0.16);
    }
  }
}

.likely__widget_vkontakte {
  fill: #526e8f;
  &:active, &:focus, &:hover {
    background: rgba(211, 218, 227, 0.8);
  }
}

@media (hover: none) {
  .likely__widget_vkontakte {
    &:active, &:focus, &:hover {
      background: hsla(0, 0%, 91%, 0.8);
    }
  }
}

.likely-light .likely__widget_vkontakte {
  &:active, &:focus, &:hover {
    text-shadow: #526e8f 0 0 .25em;
    background: rgba(82, 110, 143, 0.7);
  }
}

@media (hover: none) {
  .likely-light .likely__widget_vkontakte {
    &:active, &:focus, &:hover {
      text-shadow: rgba(0, 0, 0, 0.2) 0 0 0.33em;
      background: hsla(0, 0%, 93%, 0.16);
    }
  }
}

.likely__widget_whatsapp {
  fill: #25d366;
  &:active, &:focus, &:hover {
    background: rgba(200, 244, 216, 0.8);
  }
}

@media (hover: none) {
  .likely__widget_whatsapp {
    &:active, &:focus, &:hover {
      background: hsla(0, 0%, 91%, 0.8);
    }
  }
}

.likely-light .likely__widget_whatsapp {
  &:active, &:focus, &:hover {
    text-shadow: #25d366 0 0 .25em;
    background: rgba(37, 211, 102, 0.7);
  }
}

@media (hover: none) {
  .likely-light .likely__widget_whatsapp {
    &:active, &:focus, &:hover {
      text-shadow: rgba(0, 0, 0, 0.2) 0 0 0.33em;
      background: hsla(0, 0%, 93%, 0.16);
    }
  }
}

.likely {
  margin: 0 -5px -10px;
  .likely__widget {
    line-height: 20px;
    font-size: 14px;
    border-radius: 3px;
    height: 22px;
    margin: 0 5px 10px;
  }
  .likely__icon {
    width: 22px;
    height: 22px;
  }
  .likely__button {
    padding: 1px 4px 1px 0;
  }
  .likely__counter {
    padding: 1px 4px;
  }
  svg {
    left: 3px;
    top: 3px;
    width: 16px;
    height: 16px;
  }
}

.likely-big {
  margin: 0;
  .likely__widget {
    line-height: 28px;
    font-size: 18px;
    border-radius: 4px;
    height: 32px;
    margin: -6px 6px 12px;
  }
  .likely__icon {
    width: 32px;
    height: 32px;
  }
  .likely__button {
    padding: 2px 6px 2px 0;
  }
  .likely__counter {
    padding: 2px 6px;
  }
  svg {
    left: 4px;
    top: 4px;
    width: 24px;
    height: 24px;
  }
}

.likely-small {
  margin: 0 -4px -8px;
  .likely__widget {
    line-height: 14px;
    font-size: 12px;
    border-radius: 2px;
    height: 18px;
    margin: 0 4px 8px;
  }
  .likely__icon {
    width: 18px;
    height: 18px;
  }
  .likely__button {
    padding: 2px 3px 2px 0;
  }
  .likely__counter {
    padding: 2px 3px;
  }
  svg {
    left: 3px;
    top: 3px;
    width: 12px;
    height: 12px;
  }
}