{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}


{% block after_field_sets %}{% endblock %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endblock %}

{% block after_related_objects %}
<fieldset class="module aligned ">

    <h2>Wallets</h2>
    <table class="inline-group">
        <thead>
            <tr>
                <th>Blockchain</th>
                <th>Address</th>
                <th>Status</th>
                <th class="column-amount">PBT Amount</th>
            </tr>
        </thead>
    {% for wallet in original.linked_wallets.all %}
        <tr>
            <td>{{ wallet.blockchain }}</td>
            <td class="field-address">{{ wallet.address }}</td>
            <td>{{ wallet.status }}</td>
            <td class="field-amount">{{ wallet.amount }}</td>
        </tr>
    {% endfor %}
    </table>

</fieldset>

<fieldset class="module aligned ">

    <h2>Leasing summary</h2>
    <table class="inline-group">
        <thead>
            <tr>
                <th colspan="4">Tokens sumamry</th>
            </tr>
        </thead>
        <tr>
            <td></td>
            <td>Amount</td>
            <td>Available</td>
            <td>In orders</td>
        </tr>
        <thead>
            <tr>
                <th colspan="4">Tokens deposit</th>
            </tr>
        </thead>
        <tr>
            <td></td>
            <td></td>
            <td>Amount</td>
            <td>Available</td>
        </tr>
    </table>

</fieldset>

<pre>
DEBUG:
is_member = {{ original.is_member }}
</pre>
{% endblock %}

