extends ../../layout/main-layout.pug
-load staticfiles

block pageTitle
	title Профиль эксперта

block mainContent

	.webinar-page
		.webinar-page__content
			.webinar-header
				img.webinar-header__logo(src="./assets/img/tlc-logo.png", alt="")
				.webinar-header__text
					h5.webinar-header__seminar Онлайн-семинар
					h3.webinar-header__title Как познакомиться с девушкой: 7 конкретных фраз
				.webinar-header__right
					p В случае любых технических проблем обновляйте страницу
					a.webinar-button(href="#") Обновить

			.webinar-area
				.webinar-area__content
					.webinar-video
						.webinar-video__content
					.webinar-description
						p Ссылка на оплату «Онлайн-школы TLC»
						p Задать личный вопрос
						p #[a(href="#") Ссылка на оплату «Тест-драйв Онлайн-школы TLC»]
						p Мы админы. Обе ссылки будут работать ещё 1 час :)
					form.webinar-add-comment(action="./" method="post")
						button.webinar-add-comment__smiles
						input(type="text" name="webinar-comment-text" placeholder="Добавить комментарий…")
						button.webinar-button(type="submit") Написать
				.webinar-area__chat.webinar-chat
					h4.webinar-chat__title Чат
					.webinar-chat__wrapper
						.webinar-chat__content
							.webinar-chat-item
								.webinar-chat-item__userpic
								.webinar-chat-item__text
									strong Username
									small (00:11:22)
									span Томас пришёл блок "Вкус жизни" на почту №1 после оплаты. ТО есть задания начинаются с этого курса ?
							.webinar-chat-item
								.webinar-chat-item__userpic(style="background-image: url('http://fillmurray.com/120/120')")
								.webinar-chat-item__text
									strong Username
									small (00:11:22)
									span Томас пришёл блок #[a(href="#") "Вкус жизни"] на почту №1 после оплаты. ТО есть задания начинаются с этого курса ?
							.webinar-chat-item
								.webinar-chat-item__userpic
								.webinar-chat-item__text
									strong Username
									small (00:11:22)
									span Томас пришёл блок "Вкус жизни" на почту №1 после оплаты. ТО есть задания начинаются с этого курса ?
							.webinar-chat-item
								.webinar-chat-item__userpic(style="background-image: url('http://fillmurray.com/140/130')")
								.webinar-chat-item__text
									strong Username
									small (00:11:22)
									span Томас пришёл блок "Вкус жизни" на почту №1 после оплаты. ТО есть задания начинаются с этого курса ?
							.webinar-chat-item
								.webinar-chat-item__userpic
								.webinar-chat-item__text
									strong Username
									small (00:11:22)
									span Томас пришёл блок "Вкус жизни" на почту №1 после оплаты. ТО есть задания начинаются с этого курса ?
							.webinar-chat-item
								.webinar-chat-item__userpic
								.webinar-chat-item__text
									strong Username
									small (00:11:22)
									span Томас пришёл блок "Вкус жизни" на почту №1 после оплаты. ТО есть задания начинаются с этого курса ?
							.webinar-chat-item
								.webinar-chat-item__userpic
								.webinar-chat-item__text
									strong Username
									small (00:11:22)
									span Томас пришёл блок "Вкус жизни" на почту №1 после оплаты. ТО есть задания начинаются с этого курса ?
							.webinar-chat-item
								.webinar-chat-item__userpic
								.webinar-chat-item__text
									strong Username
									small (00:11:22)
									span Томас пришёл блок "Вкус жизни" на почту №1 после оплаты. ТО есть задания начинаются с этого курса ?
							.webinar-chat-item
								.webinar-chat-item__userpic
								.webinar-chat-item__text
									strong Username
									small (00:11:22)
									span Томас пришёл блок "Вкус жизни" на почту №1 после оплаты. ТО есть задания начинаются с этого курса ?
							.webinar-chat-item
								.webinar-chat-item__userpic
								.webinar-chat-item__text
									strong Username
									small (00:11:22)
									span Томас пришёл блок "Вкус жизни" на почту №1 после оплаты. ТО есть задания начинаются с этого курса ?
							.webinar-chat-item
								.webinar-chat-item__userpic
								.webinar-chat-item__text
									strong Username
									small (00:11:22)
									span Томас пришёл блок "Вкус жизни" на почту №1 после оплаты. ТО есть задания начинаются с этого курса ?
							.webinar-chat-item
								.webinar-chat-item__userpic
								.webinar-chat-item__text
									strong Username
									small (00:11:22)
									span Томас пришёл блок "Вкус жизни" на почту №1 после оплаты. ТО есть задания начинаются с этого курса ?
				form.webinar-add-comment.webinar-add-comment_mobile(action="./" method="post")
					button.webinar-add-comment__smiles
					input(type="text" name="webinar-comment-text" placeholder="Добавить комментарий…")
					button.webinar-button(type="submit") Написать

	#video-text-popup.text-popup
		.text-popup__content
			p Мы пришлём вам это видео сразу же после подписки на любой из мессенджеров.
