extends ../../layout/main-layout.pug

block pageTitle
	title Блог

block mainContent

	.ologic-blog
		.ologic-blog-header
			.ologic-blog-header__bg(style="background-image: url('./assets/img/blog-cover-sample.jpg')")
			.ologic-blog-header__content
				h2.ologic-blog-header__title {{ object.title }}
				h4.ologic-blog-header__subtitle {{ object.user.get_full_name }}, {{ object.user.about }}
		.ologic-blog-content
			.ologic-blog-content__left
				.ologic-blog-author
					.ologic-blog-author__photo(style="background-image: url('http://fillmurray.com/200/200')")
					.ologic-blog-author__name
						p {{ object.user.first_name }}
						a.ologic-button.ologic-button_red-border.ologic-button_transparent(href="#") Профиль
			.ologic-blog-content__right
				.ologic-blog-content__text
					h2 {{ object.title }}
					{{ object.text|safe }}
					//.ologic-blog-video
					//	iframe(type='text/html' src='https://www.youtube.com/embed/dQw4w9WgXcQ' frameborder='0')
					//
					//	img(src="http://fillmurray.com/g/2000/1000", alt="")
					//	span.ologic-blog-content__image-note Bill Murray  Lorem ipsum dolor sit.

					.ologic-blog-summary
						.ologic-blog-summary__item
							svg(width="21" height="23")
								use(xlink:href="#icon-blog-calendar")
							span {{ object.publication_date|date:"d F Y, H:i" }}
						.ologic-blog-summary__item
							svg(width="30" height="19")
								use(xlink:href="#icon-blog-views")
							span 12345
						.ologic-blog-summary__item
							svg(width="25" height="24")
								use(xlink:href="#icon-blog-comments")
							span 100

					.ologic-blog-share
						.ologic-blog-share__col.ologic-blog-share__col_share
							h5.ologic-blog-share__title Пусть твои друзья тоже прочитают это! Сделай репост:
							.ologic-blog-share__buttons
								.likely.likely-big
									.vkontakte
									.facebook
									.twitter
									.gplus
						.ologic-blog-share__col.ologic-blog-share__col_likes
							svg(width="44" height="41")
								use(xlink:href="#icon-blog-likes")
							span 18

	.ologic-blog-seminar
		.ologic-blog-seminar__image(style="background-image: url('./assets/img/blog-seminar-sample.jpg')")
		.ologic-blog-seminar__content
			h3.ologic-blog-seminar__heading Ближайший вебинар, который проводит Олег:
			h4.ologic-blog-seminar__title «Наращивание волос – бизнес для девушки 21 века»
			.ologic-blog-seminar__info
				svg(width="21" height="23")
					use(xlink:href="#icon-blog-calendar")
				span 25 марта, 2018 (четверг)
			.ologic-blog-seminar__info
				svg(width="23" height="23")
					use(xlink:href="#icon-blog-clock")
				span 19.00
			.ologic-blog-seminar__engage
				a.ologic-button.ologic-button_red(href="#") Участвовать

	.ologic-blog-related
		.ologic-blog-related__content
			h4.ologic-blog-related__title Другие интересные статьи в нашем блоге
			.ologic-blog-related__grid
				.ologic-blog-related__col
					a.ologic-blog-related__item(href="#")
						.ologic-blog-related__cover(style="background-image: url('./assets/img/blog-related-01.jpg')")
						h5 Как познакомиться в ночном клубе?
				.ologic-blog-related__col
					a.ologic-blog-related__item(href="#")
						.ologic-blog-related__cover(style="background-image: url('./assets/img/blog-related-02.jpg')")
						h5 Жениться и заводить детей или расходиться и искать новую?
				.ologic-blog-related__col
					a.ologic-blog-related__item(href="#")
						.ologic-blog-related__cover(style="background-image: url('./assets/img/blog-related-03.jpg')")
						h5 Раздвигай границы своей реальности

	.ologic-blog-comments
		.ologic-blog-comments__content
			h4.ologic-blog-comments__title Комментарии
			.ologic-comment
				.ologic-comment__heading
					.ologic-comment__userpic(style="background-image: url('http://fillmurray.com/200/200')")
					.ologic-comment__author
						h5.ologic-comment__name User
						.ologic-comment__info
							svg(width="21" height="23")
								use(xlink:href="#icon-blog-calendar")
							span 25 марта 2018
						.ologic-comment__info
							svg(width="23" height="23")
								use(xlink:href="#icon-blog-clock")
							span 19:00
				.ologic-comment__text
					p Анатолий, очень интересно твое мнение - что не понравилось в Новокузнецке? Сам просто из Новокузнецка, и до сих пор не могу переломить события и полностью из него переехать.
					p И еще такой вопрос - какие города считаешь комфортными для жизни, где много классных красивых девушек? Как тебе Новосибирск? Как Питер, Москва, Краснодар?
			.ologic-comment
				.ologic-comment__heading
					.ologic-comment__userpic
						svg(width="70" height="70")
							use(xlink:href="#icon-blog-comments-user")
					.ologic-comment__author
						h5.ologic-comment__name User
						.ologic-comment__info
							svg(width="21" height="23")
								use(xlink:href="#icon-blog-calendar")
							span 25 марта 2018
						.ologic-comment__info
							svg(width="23" height="23")
								use(xlink:href="#icon-blog-clock")
							span 19:00
				.ologic-comment__text
					p Анатолий, очень интересно твое мнение - что не понравилось в Новокузнецке? Сам просто из Новокузнецка, и до сих пор не могу переломить события и полностью из него переехать.
					p И еще такой вопрос - какие города считаешь комфортными для жизни, где много классных красивых девушек? Как тебе Новосибирск? Как Питер, Москва, Краснодар?
			.ologic-comment
				.ologic-comment__heading
					.ologic-comment__userpic(style="background-image: url('http://fillmurray.com/200/200')")
					.ologic-comment__author
						h5.ologic-comment__name User
						.ologic-comment__info
							svg(width="21" height="23")
								use(xlink:href="#icon-blog-calendar")
							span 25 марта 2018
						.ologic-comment__info
							svg(width="23" height="23")
								use(xlink:href="#icon-blog-clock")
							span 19:00
				.ologic-comment__text
					p Анатолий, очень интересно твое мнение - что не понравилось в Новокузнецке? Сам просто из Новокузнецка, и до сих пор не могу переломить события и полностью из него переехать.
					p И еще такой вопрос - какие города считаешь комфортными для жизни, где много классных красивых девушек? Как тебе Новосибирск? Как Питер, Москва, Краснодар?
			.ologic-comments-note
				.ologic-comments-note__icon
					svg(width="67" height="63")
						use(xlink:href="#icon-blog-comments")
				.ologic-comments-note__text
					p Для того чтобы оставить комментарий необходимо вступить в клуб «Онлайн-Логика» или зайти в свой аккаунт, если вы член клуба.

	//- .ologic-footer
	//- 	.ologic-footer__content
	//- 		.ologic-footer__col.ologic-footer__col_logo
	//- 			a.ologic-footer__logo(href="./")
	//- 				svg.ologic-header__globe(width="97" height="89")
	//- 					use(xlink:href="#icon-main-globe")
	//- 				span Онлайн #[br]логика
	//- 			a.ologic-button.ologic-button_transparent.ologic-button_dark-border(href="#") Связаться с&nbsp;нами
	//- 			.ologic-footer__copyrights
	//- 				p Copyright © 2018 «Онлайн-Логика»
	//- 				p Все права защищены.
	//- 		.ologic-footer__col.ologic-footer__col_people.ologic-footer__col_people_01
	//- 			a.ologic-footer-card(href="#")
	//- 				.ologic-footer-card__photo(style="background-image: url('./assets/img/small-tomas.png')")
	//- 					i.ologic-footer-card__icon
	//- 						svg(width="20" height="20")
	//- 							use(xlink:href="#icon-small-instagram")
	//- 				.ologic-footer-card__text
	//- 					.ologic-footer-card__name TOMAS #[br]Анатолий Логинов
	//- 					.ologic-footer-card__info Основатель «Онлайн-логики»
	//- 			a.ologic-footer-card(href="#")
	//- 				.ologic-footer-card__photo(style="background-image: url('./assets/img/small-dmitry.png')")
	//- 					i.ologic-footer-card__icon
	//- 						svg(width="20" height="20")
	//- 							use(xlink:href="#icon-small-instagram")
	//- 				.ologic-footer-card__text
	//- 					.ologic-footer-card__name Дмитрий Юрченко
	//- 					.ologic-footer-card__info Основатель «Free-publicity»
	//- 		.ologic-footer__col.ologic-footer__col_people.ologic-footer__col_people_02
	//- 			a.ologic-footer-card(href="#")
	//- 				.ologic-footer-card__photo(style="background-image: url('./assets/img/small-sergey.png')")
	//- 					i.ologic-footer-card__icon
	//- 						svg(width="20" height="20")
	//- 							use(xlink:href="#icon-small-instagram")
	//- 				.ologic-footer-card__text
	//- 					.ologic-footer-card__name Сергей Капустин
	//- 					.ologic-footer-card__info Основатель «Accel»
	//- 			a.ologic-footer__accel-link(href="#")
	//- 				img(src="./assets/img/accel-logo.png", alt="")

	//- 		.ologic-footer__col.ologic-footer__col_final
	//- 			nav.footer-menu
	//- 				ul.footer-menu__list
	//- 					li.footer-menu__item
	//- 						a.footer-menu__link(href="#") Эксперты
	//- 					li.footer-menu__item
	//- 						a.footer-menu__link(href="#") Блоги
	//- 					li.footer-menu__item
	//- 						a.footer-menu__link(href="#") Расписание
	//- 					li.footer-menu__item
	//- 						a.footer-menu__link(href="#") Стать экспертом
	//- 			nav.footer-social
	//- 				ul.footer-social__list
	//- 					li.footer-social__item
	//- 						a.footer-social__link(href="#")
	//- 							svg(width="26" height="14")
	//- 								use(xlink:href="#icon-small-vk")
	//- 					li.footer-social__item
	//- 						a.footer-social__link(href="#")
	//- 							svg(width="14" height="21")
	//- 								use(xlink:href="#icon-small-facebook")
	//- 					li.footer-social__item
	//- 						a.footer-social__link(href="#")
	//- 							svg(width="20" height="20")
	//- 								use(xlink:href="#icon-small-instagram")
	//- 					li.footer-social__item
	//- 						a.footer-social__link(href="#")
	//- 							svg(width="20" height="20")
	//- 								use(xlink:href="#icon-small-youtube")

	#video-text-popup.text-popup
		.text-popup__content
			p Мы пришлём вам это видео сразу же после подписки на любой из мессенджеров.
