extends layout/main-layout.pug

block pageTitle
	title Список блогов

block mainContent
	.ologic-blog-list
		.blog-list-heading
			.blog-list-heading__bg(style="background-image: url('img/blog-list-header.jpg')")
			h3.blog-list-heading__title Блоги экспертов
		-for blog_item in object_list
			include blocks/blogs/blog_item.pug

		nav.ologic-paging
			a.ologic-paging__link(href="#")
				svg(width="34" height="28")
					use(xlink:href="#icon-paging-arrow_prev")
			a.ologic-paging__link.ologic-paging__link_current(href="#") 1
			a.ologic-paging__link(href="#") 2
			a.ologic-paging__link(href="#") 3
			a.ologic-paging__link(href="#") 4
			a.ologic-paging__link(href="#") 5
			a.ologic-paging__link(href="#") 6
			a.ologic-paging__link(href="#") 7
			a.ologic-paging__link(href="#") 8
			a.ologic-paging__link(href="#")
				svg(width="34" height="28")
					use(xlink:href="#icon-paging-arrow_next")

	//- .ologic-footer
	//- 	.ologic-footer__content
	//- 		.ologic-footer__col.ologic-footer__col_logo
	//- 			a.ologic-footer__logo(href="./")
	//- 				svg.ologic-header__globe(width="97" height="89")
	//- 					use(xlink:href="#icon-main-globe")
	//- 				span Онлайн #[br]логика
	//- 			a.ologic-button.ologic-button_transparent.ologic-button_dark-border(href="#") Связаться с&nbsp;нами
	//- 			.ologic-footer__copyrights
	//- 				p Copyright © 2018 «Онлайн-Логика»
	//- 				p Все права защищены.
	//- 		.ologic-footer__col.ologic-footer__col_people.ologic-footer__col_people_01
	//- 			a.ologic-footer-card(href="#")
	//- 				.ologic-footer-card__photo(style="background-image: url('./assets/img/small-tomas.png')")
	//- 					i.ologic-footer-card__icon
	//- 						svg(width="20" height="20")
	//- 							use(xlink:href="#icon-small-instagram")
	//- 				.ologic-footer-card__text
	//- 					.ologic-footer-card__name TOMAS #[br]Анатолий Логинов
	//- 					.ologic-footer-card__info Основатель «Онлайн-логики»
	//- 			a.ologic-footer-card(href="#")
	//- 				.ologic-footer-card__photo(style="background-image: url('./assets/img/small-dmitry.png')")
	//- 					i.ologic-footer-card__icon
	//- 						svg(width="20" height="20")
	//- 							use(xlink:href="#icon-small-instagram")
	//- 				.ologic-footer-card__text
	//- 					.ologic-footer-card__name Дмитрий Юрченко
	//- 					.ologic-footer-card__info Основатель «Free-publicity»
	//- 		.ologic-footer__col.ologic-footer__col_people.ologic-footer__col_people_02
	//- 			a.ologic-footer-card(href="#")
	//- 				.ologic-footer-card__photo(style="background-image: url('./assets/img/small-sergey.png')")
	//- 					i.ologic-footer-card__icon
	//- 						svg(width="20" height="20")
	//- 							use(xlink:href="#icon-small-instagram")
	//- 				.ologic-footer-card__text
	//- 					.ologic-footer-card__name Сергей Капустин
	//- 					.ologic-footer-card__info Основатель «Accel»
	//- 			a.ologic-footer__accel-link(href="#")
	//- 				img(src="./assets/img/accel-logo.png", alt="")

	//- 		.ologic-footer__col.ologic-footer__col_final
	//- 			nav.footer-menu
	//- 				ul.footer-menu__list
	//- 					li.footer-menu__item
	//- 						a.footer-menu__link(href="#") Эксперты
	//- 					li.footer-menu__item
	//- 						a.footer-menu__link(href="#") Блоги
	//- 					li.footer-menu__item
	//- 						a.footer-menu__link(href="#") Расписание
	//- 					li.footer-menu__item
	//- 						a.footer-menu__link(href="#") Стать экспертом
	//- 			nav.footer-social
	//- 				ul.footer-social__list
	//- 					li.footer-social__item
	//- 						a.footer-social__link(href="#")
	//- 							svg(width="26" height="14")
	//- 								use(xlink:href="#icon-small-vk")
	//- 					li.footer-social__item
	//- 						a.footer-social__link(href="#")
	//- 							svg(width="14" height="21")
	//- 								use(xlink:href="#icon-small-facebook")
	//- 					li.footer-social__item
	//- 						a.footer-social__link(href="#")
	//- 							svg(width="20" height="20")
	//- 								use(xlink:href="#icon-small-instagram")
	//- 					li.footer-social__item
	//- 						a.footer-social__link(href="#")
	//- 							svg(width="20" height="20")
	//- 								use(xlink:href="#icon-small-youtube")

	#video-text-popup.text-popup
		.text-popup__content
			p Мы пришлём вам это видео сразу же после подписки на любой из мессенджеров.
