extends ../../layout/main-layout.pug
-load staticfiles

block pageTitle
	title Профиль эксперта

block mainContent

	.ologic-today.ologic-today_register
		.blog-list-heading
			.blog-list-heading__bg(style="background-image: url('{% static 'img/blog-list-header.jpg' %}')")
			h3.blog-list-heading__title.blog-list-heading__title_center Контентная страница

	.ologic-content-page
		.ologic-content-page__content
			h1 Заголовок H1
			h2 Заголовок H2
			h3 Заголовок H3
			h4 Заголовок H4
			h5 Заголовок H5
			h6 Заголовок H6
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam porro suscipit enim optio fugiat amet labore cum id, hic facilis!
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deleniti pariatur, culpa sint illum blanditiis quae, temporibus officiis odio excepturi fugiat ipsam vitae #[a(href="#") harum animi dicta] expedita accusantium est quia numquam recusandae itaque. Officia repellendus, nihil amet placeat assumenda recusandae.
			ul
				li Lorem #[br]lorem
				li ipsum
				li dolor
				li sit
				li amet
			ol
				li Lorem
				li ipsum
				li dolor
				li sit
				li amet
			blockquote
				p Анизотропия генетически растворяет карбонат кальция, и этот процесс может повторяться многократно. Переуплотнение отражает щелочной песок. Коллоид, как следствие уникальности почвообразования в данных условиях, поглощает смешанный подзол. Эпюра, в сочетании с традиционными агротехническими приемами, растворяет десуктивно-выпотной гончарный дренаж.
			form.subscribe-form(action="./" method="post")
				input(name="subscribe-email" type="email" placeholder="E-mail" required)
				p Пожалуйста, выберите из списка свою страну и свой город. Для нас это очень важно
				select(name="subscribe-country" required data-parsley-errors-messages-disabled)
					option(value="" disabled selected) Страна
					option(value="russia") Россия
					option(value="canada") Канада
					option(value="usa") США
					option(value="france") Франция
					option(value="uk") Великобритания
				select(name="subscribe-city" required data-parsley-errors-messages-disabled)
					option(value="" disabled selected) Город
					option(value="moscow") Москва
					option(value="novosibirsk") Новосибирск
					option(value="odessa") Одесса
					option(value="new-york") Нью-Йорк
				button(type="submit") Записаться
			p
				img(src="http://fillmurray.com/1600/800", alt="")
			form.subscribe-form(action="./" method="post")
				input(name="subscribe-email" type="email" placeholder="E-mail" required)
				p Пожалуйста, выберите из списка свою страну и свой город. Для нас это очень важно
				select(name="subscribe-country" required data-parsley-errors-messages-disabled)
					option(value="" disabled selected) Страна
					option(value="russia") Россия
					option(value="canada") Канада
					option(value="usa") США
					option(value="france") Франция
					option(value="uk") Великобритания
				select(name="subscribe-city" required data-parsley-errors-messages-disabled)
					option(value="" disabled selected) Город
					option(value="moscow") Москва
					option(value="novosibirsk") Новосибирск
					option(value="odessa") Одесса
					option(value="new-york") Нью-Йорк
				button(type="submit") Записаться
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam porro suscipit enim optio fugiat amet labore cum id, hic facilis!

	#video-text-popup.text-popup
		.text-popup__content
			p Мы пришлём вам это видео сразу же после подписки на любой из мессенджеров.
