extends ../../layout/main-layout.pug

block pageTitle
	title Наши эксперты

block mainContent

	.ologic-header
		.ologic-header__content
			h1.ologic-header__logo
				a(href="./")
					svg.ologic-header__globe
						use(xlink:href="#icon-main-globe")
					span Онлайн #[br]логика
			nav.ologic-header__menu.ologic-menu
				button.ologic-menu__close(data-close-mobile-menu)
				ul.ologic-menu__list
					li.ologic-menu__item
						a.ologic-menu__link(href="experts-list.php") Эксперты
					li.ologic-menu__item
						a.ologic-menu__link(href="blog-list.php") Блоги
					li.ologic-menu__item
						a.ologic-menu__link(href="timetable.php") Расписание
					li.ologic-menu__item
						a.ologic-menu__link(href="start.php") Стать экспертом
					li.ologic-menu__item.ologic-menu__item_login
						a.ologic-menu__link(href="#ologic-login" data-login-link)
							svg.ologic-menu__icon.ologic-menu__icon_user
								use(xlink:href="#icon-user")
							span Вход
			button.ologic-header__menu-button(data-open-mobile-menu)

	.ologic-blog-list
		.blog-list-heading
			.blog-list-heading__bg(style="background-image: url('./assets/img/experts-list-sample.jpg')")
			h3.blog-list-heading__title Наши эксперты

		.school-heading
			.school-heading__content
				h4.school-heading__title Онлайн-школа:
				h3.school-heading__name Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1

		.ologic-experts-list
			.ologic-expert-item
				.ologic-expert-item__col
					.ologic-expert-item__info
						a.ologic-expert-item__author(href="#")
							img(src="./assets/img/expert-loginov.jpg", alt="")
							span Tomas
						.ologic-expert-item__details
							h5.ologic-expert-item__name Анатолий Логинов
							p.ologic-expert-item__pos Руководитель и главный тренер проекта
							.ologic-expert-item__stats
								p
									svg(width="17" height="22")
										use(xlink:href="#icon-blog-map-pin")
									span Москва
								p
									svg(width="18" height="20")
										use(xlink:href="#icon-blog-pen")
									span Записей в блоге: #[a(href="#") 9]
								p
									svg(width="25" height="24")
										use(xlink:href="#icon-blog-comments")
									span Отзывов: #[a(href="#") 45]
				.ologic-expert-item__col
					h5.ologic-expert-item__name Обучающие курсы
					.ologic-expert-item__courses
						p
							a(href="#") Жениться и заводить детей или расходиться и искать новую?
						p
							a(href="#") Чтобы успешно соблазнять девушек, нужны деньги?
				.ologic-expert-item__col.ologic-expert-item__col_last
					h5.ologic-expert-item__name Ближайшие вебинары
					.ologic-expert-item__courses
						p
							a(href="#") Как познакомиться в ночном клубе? Раздвигай границы своей реальности.
					.ologic-blog-seminar__info
						svg(width="21" height="23")
							use(xlink:href="#icon-blog-calendar")
						span 25 марта, 2018 (четверг)
					.ologic-blog-seminar__info
						svg(width="23" height="23")
							use(xlink:href="#icon-blog-clock")
						span 19.00
					.ologic-blog-seminar__engage
						a.ologic-button.ologic-button_smaller(href="#") Стать участником

			.ologic-expert-item
				.ologic-expert-item__col
					.ologic-expert-item__info
						a.ologic-expert-item__author(href="#")
							img(src="./assets/img/expert-loginov.jpg", alt="")
							span Tomas
						.ologic-expert-item__details
							h5.ologic-expert-item__name Анатолий Логинов
							p.ologic-expert-item__pos Руководитель и главный тренер проекта
							.ologic-expert-item__stats
								p
									svg(width="17" height="22")
										use(xlink:href="#icon-blog-map-pin")
									span Москва
								p
									svg(width="18" height="20")
										use(xlink:href="#icon-blog-pen")
									span Записей в блоге: #[a(href="#") 9]
								p
									svg(width="25" height="24")
										use(xlink:href="#icon-blog-comments")
									span Отзывов: #[a(href="#") 45]
				.ologic-expert-item__col
					h5.ologic-expert-item__name Обучающие курсы
					.ologic-expert-item__courses
						p
							a(href="#") Жениться и заводить детей или расходиться и искать новую?
						p
							a(href="#") Чтобы успешно соблазнять девушек, нужны деньги?
				.ologic-expert-item__col.ologic-expert-item__col_last
					h5.ologic-expert-item__name Ближайшие вебинары
					.ologic-expert-item__courses
						p
							a(href="#") Как познакомиться в ночном клубе? Раздвигай границы своей реальности.
					.ologic-blog-seminar__info
						svg(width="21" height="23")
							use(xlink:href="#icon-blog-calendar")
						span 25 марта, 2018 (четверг)
					.ologic-blog-seminar__info
						svg(width="23" height="23")
							use(xlink:href="#icon-blog-clock")
						span 19.00
					.ologic-blog-seminar__engage
						a.ologic-button.ologic-button_smaller(href="#") Стать участником

			.ologic-expert-item
				.ologic-expert-item__col
					.ologic-expert-item__info
						a.ologic-expert-item__author(href="#")
							img(src="./assets/img/expert-loginov.jpg", alt="")
							span Tomas
						.ologic-expert-item__details
							h5.ologic-expert-item__name Анатолий Логинов
							p.ologic-expert-item__pos Руководитель и главный тренер проекта
							.ologic-expert-item__stats
								p
									svg(width="17" height="22")
										use(xlink:href="#icon-blog-map-pin")
									span Москва
								p
									svg(width="18" height="20")
										use(xlink:href="#icon-blog-pen")
									span Записей в блоге: #[a(href="#") 9]
								p
									svg(width="25" height="24")
										use(xlink:href="#icon-blog-comments")
									span Отзывов: #[a(href="#") 45]
				.ologic-expert-item__col
					h5.ologic-expert-item__name Обучающие курсы
					.ologic-expert-item__courses
						p
							a(href="#") Жениться и заводить детей или расходиться и искать новую?
						p
							a(href="#") Чтобы успешно соблазнять девушек, нужны деньги?
				.ologic-expert-item__col.ologic-expert-item__col_last
					h5.ologic-expert-item__name Ближайшие вебинары
					.ologic-expert-item__courses
						p
							a(href="#") Как познакомиться в ночном клубе? Раздвигай границы своей реальности.
					.ologic-blog-seminar__info
						svg(width="21" height="23")
							use(xlink:href="#icon-blog-calendar")
						span 25 марта, 2018 (четверг)
					.ologic-blog-seminar__info
						svg(width="23" height="23")
							use(xlink:href="#icon-blog-clock")
						span 19.00
					.ologic-blog-seminar__engage
						a.ologic-button.ologic-button_smaller(href="#") Стать участником

			.ologic-expert-item
				.ologic-expert-item__col
					.ologic-expert-item__info
						a.ologic-expert-item__author(href="#")
							img(src="./assets/img/expert-loginov.jpg", alt="")
							span Tomas
						.ologic-expert-item__details
							h5.ologic-expert-item__name Анатолий Логинов
							p.ologic-expert-item__pos Руководитель и главный тренер проекта
							.ologic-expert-item__stats
								p
									svg(width="17" height="22")
										use(xlink:href="#icon-blog-map-pin")
									span Москва
								p
									svg(width="18" height="20")
										use(xlink:href="#icon-blog-pen")
									span Записей в блоге: #[a(href="#") 9]
								p
									svg(width="25" height="24")
										use(xlink:href="#icon-blog-comments")
									span Отзывов: #[a(href="#") 45]
				.ologic-expert-item__col
					h5.ologic-expert-item__name Обучающие курсы
					.ologic-expert-item__courses
						p
							a(href="#") Жениться и заводить детей или расходиться и искать новую?
						p
							a(href="#") Чтобы успешно соблазнять девушек, нужны деньги?
				.ologic-expert-item__col.ologic-expert-item__col_last
					h5.ologic-expert-item__name Ближайшие вебинары
					.ologic-expert-item__courses
						p
							a(href="#") Как познакомиться в ночном клубе? Раздвигай границы своей реальности.
					.ologic-blog-seminar__info
						svg(width="21" height="23")
							use(xlink:href="#icon-blog-calendar")
						span 25 марта, 2018 (четверг)
					.ologic-blog-seminar__info
						svg(width="23" height="23")
							use(xlink:href="#icon-blog-clock")
						span 19.00
					.ologic-blog-seminar__engage
						a.ologic-button.ologic-button_smaller(href="#") Стать участником

		.school-heading
			.school-heading__content
				h4.school-heading__title Онлайн-школа:
				h3.school-heading__name Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1 Школа 1

		.ologic-experts-list
			.ologic-expert-item
				.ologic-expert-item__col
					.ologic-expert-item__info
						a.ologic-expert-item__author(href="#")
							img(src="./assets/img/expert-loginov.jpg", alt="")
							span Tomas
						.ologic-expert-item__details
							h5.ologic-expert-item__name Анатолий Логинов
							p.ologic-expert-item__pos Руководитель и главный тренер проекта
							.ologic-expert-item__stats
								p
									svg(width="17" height="22")
										use(xlink:href="#icon-blog-map-pin")
									span Москва
								p
									svg(width="18" height="20")
										use(xlink:href="#icon-blog-pen")
									span Записей в блоге: #[a(href="#") 9]
								p
									svg(width="25" height="24")
										use(xlink:href="#icon-blog-comments")
									span Отзывов: #[a(href="#") 45]
				.ologic-expert-item__col
					h5.ologic-expert-item__name Обучающие курсы
					.ologic-expert-item__courses
						p
							a(href="#") Жениться и заводить детей или расходиться и искать новую?
						p
							a(href="#") Чтобы успешно соблазнять девушек, нужны деньги?
				.ologic-expert-item__col.ologic-expert-item__col_last
					h5.ologic-expert-item__name Ближайшие вебинары
					.ologic-expert-item__courses
						p
							a(href="#") Как познакомиться в ночном клубе? Раздвигай границы своей реальности.
					.ologic-blog-seminar__info
						svg(width="21" height="23")
							use(xlink:href="#icon-blog-calendar")
						span 25 марта, 2018 (четверг)
					.ologic-blog-seminar__info
						svg(width="23" height="23")
							use(xlink:href="#icon-blog-clock")
						span 19.00
					.ologic-blog-seminar__engage
						a.ologic-button.ologic-button_smaller(href="#") Стать участником

			.ologic-expert-item
				.ologic-expert-item__col
					.ologic-expert-item__info
						a.ologic-expert-item__author(href="#")
							img(src="./assets/img/expert-loginov.jpg", alt="")
							span Tomas
						.ologic-expert-item__details
							h5.ologic-expert-item__name Анатолий Логинов
							p.ologic-expert-item__pos Руководитель и главный тренер проекта
							.ologic-expert-item__stats
								p
									svg(width="17" height="22")
										use(xlink:href="#icon-blog-map-pin")
									span Москва
								p
									svg(width="18" height="20")
										use(xlink:href="#icon-blog-pen")
									span Записей в блоге: #[a(href="#") 9]
								p
									svg(width="25" height="24")
										use(xlink:href="#icon-blog-comments")
									span Отзывов: #[a(href="#") 45]
				.ologic-expert-item__col
					h5.ologic-expert-item__name Обучающие курсы
					.ologic-expert-item__courses
						p
							a(href="#") Жениться и заводить детей или расходиться и искать новую?
						p
							a(href="#") Чтобы успешно соблазнять девушек, нужны деньги?
				.ologic-expert-item__col.ologic-expert-item__col_last
					h5.ologic-expert-item__name Ближайшие вебинары
					.ologic-expert-item__courses
						p
							a(href="#") Как познакомиться в ночном клубе? Раздвигай границы своей реальности.
					.ologic-blog-seminar__info
						svg(width="21" height="23")
							use(xlink:href="#icon-blog-calendar")
						span 25 марта, 2018 (четверг)
					.ologic-blog-seminar__info
						svg(width="23" height="23")
							use(xlink:href="#icon-blog-clock")
						span 19.00
					.ologic-blog-seminar__engage
						a.ologic-button.ologic-button_smaller(href="#") Стать участником

		nav.ologic-paging
			a.ologic-paging__link(href="#")
				svg(width="34" height="28")
					use(xlink:href="#icon-paging-arrow_prev")
			a.ologic-paging__link.ologic-paging__link_current(href="#") 1
			a.ologic-paging__link(href="#") 2
			a.ologic-paging__link(href="#") 3
			a.ologic-paging__link(href="#") 4
			a.ologic-paging__link(href="#") 5
			a.ologic-paging__link(href="#") 6
			a.ologic-paging__link(href="#") 7
			a.ologic-paging__link(href="#") 8
			a.ologic-paging__link(href="#")
				svg(width="34" height="28")
					use(xlink:href="#icon-paging-arrow_next")

	//- .ologic-footer
	//- 	.ologic-footer__content
	//- 		.ologic-footer__col.ologic-footer__col_logo
	//- 			a.ologic-footer__logo(href="./")
	//- 				svg.ologic-header__globe(width="97" height="89")
	//- 					use(xlink:href="#icon-main-globe")
	//- 				span Онлайн #[br]логика
	//- 			a.ologic-button.ologic-button_transparent.ologic-button_dark-border(href="#") Связаться с&nbsp;нами
	//- 			.ologic-footer__copyrights
	//- 				p Copyright © 2018 «Онлайн-Логика»
	//- 				p Все права защищены.
	//- 		.ologic-footer__col.ologic-footer__col_people.ologic-footer__col_people_01
	//- 			a.ologic-footer-card(href="#")
	//- 				.ologic-footer-card__photo(style="background-image: url('./assets/img/small-tomas.png')")
	//- 					i.ologic-footer-card__icon
	//- 						svg(width="20" height="20")
	//- 							use(xlink:href="#icon-small-instagram")
	//- 				.ologic-footer-card__text
	//- 					.ologic-footer-card__name TOMAS #[br]Анатолий Логинов
	//- 					.ologic-footer-card__info Основатель «Онлайн-логики»
	//- 			a.ologic-footer-card(href="#")
	//- 				.ologic-footer-card__photo(style="background-image: url('./assets/img/small-dmitry.png')")
	//- 					i.ologic-footer-card__icon
	//- 						svg(width="20" height="20")
	//- 							use(xlink:href="#icon-small-instagram")
	//- 				.ologic-footer-card__text
	//- 					.ologic-footer-card__name Дмитрий Юрченко
	//- 					.ologic-footer-card__info Основатель «Free-publicity»
	//- 		.ologic-footer__col.ologic-footer__col_people.ologic-footer__col_people_02
	//- 			a.ologic-footer-card(href="#")
	//- 				.ologic-footer-card__photo(style="background-image: url('./assets/img/small-sergey.png')")
	//- 					i.ologic-footer-card__icon
	//- 						svg(width="20" height="20")
	//- 							use(xlink:href="#icon-small-instagram")
	//- 				.ologic-footer-card__text
	//- 					.ologic-footer-card__name Сергей Капустин
	//- 					.ologic-footer-card__info Основатель «Accel»
	//- 			a.ologic-footer__accel-link(href="#")
	//- 				img(src="./assets/img/accel-logo.png", alt="")

	//- 		.ologic-footer__col.ologic-footer__col_final
	//- 			nav.footer-menu
	//- 				ul.footer-menu__list
	//- 					li.footer-menu__item
	//- 						a.footer-menu__link(href="#") Эксперты
	//- 					li.footer-menu__item
	//- 						a.footer-menu__link(href="#") Блоги
	//- 					li.footer-menu__item
	//- 						a.footer-menu__link(href="#") Расписание
	//- 					li.footer-menu__item
	//- 						a.footer-menu__link(href="#") Стать экспертом
	//- 			nav.footer-social
	//- 				ul.footer-social__list
	//- 					li.footer-social__item
	//- 						a.footer-social__link(href="#")
	//- 							svg(width="26" height="14")
	//- 								use(xlink:href="#icon-small-vk")
	//- 					li.footer-social__item
	//- 						a.footer-social__link(href="#")
	//- 							svg(width="14" height="21")
	//- 								use(xlink:href="#icon-small-facebook")
	//- 					li.footer-social__item
	//- 						a.footer-social__link(href="#")
	//- 							svg(width="20" height="20")
	//- 								use(xlink:href="#icon-small-instagram")
	//- 					li.footer-social__item
	//- 						a.footer-social__link(href="#")
	//- 							svg(width="20" height="20")
	//- 								use(xlink:href="#icon-small-youtube")

	#video-text-popup.text-popup
		.text-popup__content
			p Мы пришлём вам это видео сразу же после подписки на любой из мессенджеров.
