extends ../../layout/main-layout.pug
-load staticfiles

block pageTitle
	title Профиль эксперта

block mainContent

	.ologic-expert-header
		.ologic-expert-header__content
			.ologic-expert-header__photo
				img(src="{% static 'img/expert-profile/tomas-01.jpg' %}", alt="")
			.ologic-expert-header__info
				h3.ologic-expert-header__title Анатолий Логинов (Tomas)
				h5.ologic-expert-header__subtitle Эксперт в сфере создания онлайн-школ #[br]Руководитель сервиса «Онлайн-логика»
				.ologic-expert-header__text
					p С 2008 года качаю свой онлайн-школу в сфере отношений. #[br]Сейчас мы одни из лидеров в своей нише.
					p За 10 лет отточил своё мастерство в интернет-маркетинге и делюсь им на youtube-канале «Онлайн-логика», а также тематических конференциях.
					p Был спикером на «Инфоконфереции Андрея Парабелума», «ЛОБ Олеся Тимофеева», «Золотой Актив Азамата Ушанова», мероприятиях«акселератора онлайн-школ: AССEL» и многих других.
					p Разработал IT-платформу сначала для себя, а потом как отдельный сервис для создания и развития онлайн-школ.
					a.ologic-button.ologic-button_red(href="#") Получить бесплатную консультацию

	.ologic-expert-section
		.ologic-expert-section__content
			h3.ologic-icon-title
				.ologic-icon-title__icon
					img(src="{% static 'img/icon-books.png' %}", alt="")
				span Обучающие программы
			.ologic-expert-section__item
				.ologic-expert-section__cover
					img(src="{% static 'img/expert-profile/learning-course.jpg' %}", alt="")
				.ologic-expert-section__info
					h4.ologic-expert-section__title Как отвечать на сложные вопросы девушек?
					.ologic-expert-section__text
						p У каждого мужчины бывали ситуации, когда общаясь с девушкой, ты получал такой вопрос, на который не знал как лучше ответить.
						p В итоге, конечно, как-то отвечал. #[br]Но это был совсем не тот ответ, который бы раскрыл тебя в идеальном свете.
					.ologic-expert-section__button
						a.ologic-button.ologic-button_red(href="#") Стать участником

	.ologic-expert-section
		.ologic-expert-section__content
			h3.ologic-icon-title
				.ologic-icon-title__icon
					img(src="{% static 'img/icon-headset.png' %}", alt="")
				span Бесплатные онлайн-семинары
			.ologic-expert-section__item
				.ologic-expert-section__cover
					img(src="{% static 'img/expert-profile/bitcoin.jpg' %}", alt="")
				.ologic-expert-section__info
					h4.ologic-expert-section__title Как заработать на криптовалюте за 3 дня в 6 шагов?
					.ologic-expert-section__text
						p В итоге, конечно, как-то отвечал. Но это был совсем не тот ответ, который бы раскрыл тебя в идеальном свете.
						p В этом курсе ты получишь набор конкретных ответом на множество типовых вопросов, которые возникают на свидании.
						h3.ologic-icon-title.ologic-icon-title_no-uppercase
							.ologic-icon-title__icon
								img(src="{% static 'img/icon-calendar.png' %}", alt="")
							span Ближайший раз: 14 декабря, 2018 в 19.00
					.ologic-expert-section__button
						a.ologic-button(href="#") Посетить

	.ologic-expert-reviews
		.ologic-expert-reviews__content
			h3.ologic-icon-title
				.ologic-icon-title__icon
					img(src="{% static 'img/icon-comments.png' %}", alt="")
				span Отзывы об эксперте
			.ologic-expert-reviews__grid
				.ologic-expert-review
					.ologic-expert-review__content
						.ologic-expert-review__header
							img.ologic-expert-review__photo(src="{% static 'img/expert-profile/expert-review-01.jpg' %}", alt="")
							h5.ologic-expert-review__name Николай Иванов #[span Киев]
						.ologic-expert-review__text
							p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков.
				.ologic-expert-review
					.ologic-expert-review__content
						.ologic-expert-review__header
							img.ologic-expert-review__photo(src="{% static 'img/expert-profile/expert-review-02.jpg' %}", alt="")
							h5.ologic-expert-review__name Николай Иванов #[span Киев]
						.ologic-expert-review__text
							p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков.
				.ologic-expert-review
					.ologic-expert-review__content
						.ologic-expert-review__header
							img.ologic-expert-review__photo(src="./assets/img/expert-profile/expert-review-01.jpg", alt="")
							h5.ologic-expert-review__name Николай Иванов #[span Киев]
						.ologic-expert-review__text
							p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков.
				.ologic-expert-review
					.ologic-expert-review__content
						.ologic-expert-review__header
							img.ologic-expert-review__photo(src="./assets/img/expert-profile/expert-review-01.jpg", alt="")
							h5.ologic-expert-review__name Николай Иванов #[span Киев]
						.ologic-expert-review__text
							p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков.
			.ologic-expert-reviews__buttons
				.ologic-expert-reviews__button-col.ologic-expert-reviews__button-col_first
					a.ologic-button.ologic-button_transparent.ologic-button_red-border(href="#") Читать все отзывы
				.ologic-expert-reviews__button-col.ologic-expert-reviews__button-col_second
					a.ologic-button.ologic-button_red(href="#") Написать отзыв

	.ologic-expert-section
		.ologic-expert-section__content
			h3.ologic-icon-title
				.ologic-icon-title__icon
					img(src="{% static 'img/icon-note.png' %}", alt="")
				span Запись из блога
			.ologic-expert-section__item
				.ologic-expert-section__cover
					img(src="{% static 'img/expert-profile/blog-post.jpg' %}", alt="")
				.ologic-expert-section__info
					h4.ologic-expert-section__title ТОП-10 женских возражений и как их обойти
					.ologic-expert-section__text
						p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
					.ologic-expert-section__button
						a.ologic-button.ologic-button_red(href="#") Читать дальше
					.ologic-blog-summary
						.ologic-blog-summary__item
							svg(width="21" height="23")
								use(xlink:href="#icon-blog-calendar")
							span 23 сентября 2018, 17:03
						.ologic-blog-summary__item
							svg(width="30" height="19")
								use(xlink:href="#icon-blog-views")
							span 12345
						.ologic-blog-summary__item
							svg(width="25" height="24")
								use(xlink:href="#icon-blog-comments")
							span 100
						.ologic-blog-summary__item
							svg(width="22" height="19")
								use(xlink:href="#icon-blog-summary-likes")
							span 123

	.ologic-consult-form
		.ologic-consult-form__bg(style="background-image: url('{% static 'img/expert-profile/consult-form-bg.jpg' %}')")
		h3.ologic-consult-form__title #[strong Анатолий Логинов проводит мини-консультации] #[span Хотите получить такую консультацию бесплатно?]
		form.ologic-consult-form__form(action="./" method="post" data-form-validate) {% csrf_token %}
			input.ologic-consult-form__input(type="text" name="ologic-consult-form-name" placeholder="Ваше имя" required data-parsley-errors-messages-disabled)
			input.ologic-consult-form__input(type="email" name="ologic-consult-form-email" placeholder="E-mail" required data-parsley-errors-messages-disabled)
			input.ologic-consult-form__input(type="number" name="ologic-consult-form-phone" placeholder="Телефон" required data-parsley-errors-messages-disabled)
			button.ologic-button.ologic-button_red(type="submit") Записаться

	#video-text-popup.text-popup
		.text-popup__content
			p Мы пришлём вам это видео сразу же после подписки на любой из мессенджеров.
