extends ../../layout/main-layout.pug

block pageTitle
	title Онлайн Логика

block mainContent

	.ologic-header
		.ologic-header__content
			h1.ologic-header__logo
				a(href="./")
					svg.ologic-header__globe
						use(xlink:href="#icon-main-globe")
					span Онлайн #[br]логика
			nav.ologic-header__menu.ologic-menu
				button.ologic-menu__close(data-close-mobile-menu)
				ul.ologic-menu__list
					li.ologic-menu__item
						a.ologic-menu__link(href="experts-list.php") Эксперты
					li.ologic-menu__item
						a.ologic-menu__link(href="blog-list.php") Блоги
					li.ologic-menu__item
						a.ologic-menu__link(href="timetable.php") Расписание
					li.ologic-menu__item
						a.ologic-menu__link(href="start.php") Стать экспертом
					li.ologic-menu__item.ologic-menu__item_user
						.ologic-menu__user
							svg.ologic-menu__icon.ologic-menu__icon_user.ologic-menu__icon_user_logged-in
								use(xlink:href="#icon-user")
							span.username Профиль
							span.balance 0 руб.
							nav.ologic-menu__submenu
								ul
									li
										a(href="#")
											span Приветствие
											.ologic-menu__submenu-icon
												img(src="./assets/img/sample-icon-hello.png", alt="")
									li
										a(href="#")
											span Курс
											.ologic-menu__submenu-icon
												img(src="./assets/img/sample-icon-course.png", alt="")
									li
										a(href="#")
											span Баланс
											.ologic-menu__submenu-icon
												img(src="./assets/img/sample-icon-balance.png", alt="")
									li
										a(href="#")
											span Приветствие
											.ologic-menu__submenu-icon
												img(src="./assets/img/sample-icon-hello.png", alt="")
									li
										a(href="#")
											span Курс
											.ologic-menu__submenu-icon
												img(src="./assets/img/sample-icon-course.png", alt="")
									li
										a(href="#")
											span Баланс
											.ologic-menu__submenu-icon
												img(src="./assets/img/sample-icon-balance.png", alt="")

			button.ologic-header__menu-button(data-open-mobile-menu)

	.ologic-hero
		.ologic-hero__photo(style="background-image: url(./assets/img/hero-image.jpg)")
		.ologic-hero__globe
		.ologic-hero__content
			.ologic-hero__text
				h3.ologic-hero__title Онлайн-логика
				.ologic-hero__info
					p.red Сервис организации онлайн-образования
					p 2018 год был назван годом онлайн-образования.

					p Чтобы не&nbsp;оказаться на&nbsp;обочине жизни, безумно важно постоянно развиваться. Осваивать новые профессии, получать новые навыки, расти личностно. В&nbsp;любых сферах.

					p Мы бережно собрали для вас лучших экспертов. Выбирайте направление по&nbsp;душе и&nbsp;начинайте онлайн-обучение. Курсы дистанционного обучения для&nbsp;повышения квалификации.
					.ologic-hero__button
						a.ologic-button(href="#") Хочу обучаться

	.ologic-advantages
		.ologic-advantages__content
			h3.section-title Плюсы онлайн-образования
			.ologic-advantages__items
				.ologic-advantages__item
					h4.ologic-advantages__title
						svg(width="75" height="75")
							use(xlink:href="#icon-efficiency")
						span Эффективность
					.ologic-advantages__text
						p Это не записи живых тренингов с&nbsp;кучей информации, но без гарантии результата.
						p Обучающие системы, изначально созданные под онлайн даже эффективнее живых программ.
				.ologic-advantages__item
					h4.ologic-advantages__title
						svg(width="83" height="75")
							use(xlink:href="#icon-freedom")
						span Свобода
					.ologic-advantages__text
						p Ни эксперту, ни ученику не&nbsp;нужно никуда ехать. Обучение происходит дома, на&nbsp;работе или на&nbsp;отдыхе. Нужен только интернет.
				.ologic-advantages__item
					h4.ologic-advantages__title
						svg(width="75" height="75")
							use(xlink:href="#icon-economy")
						span Экономия
					.ologic-advantages__text
						p У&nbsp;экспертов нет затрат на&nbsp;организацию живого обучения. Поэтому обучение может стоить меньшие деньги.
			.ologic-advantages__button
				a.ologic-button.ologic-button_red(href="#") Хочу открыть свою онлайн-школу

	.ologic-today
		.ologic-today__content
			h3.section-title Бесплатные семинары сегодня
			h4.ologic-today__date 25 марта, 2018 (четверг)

			.ologic-today__items
				.ologic-today-card
					.ologic-today-card__cover(style="background-image: url('./assets/img/seminar-01.jpg')")
						span.time
							svg(width="20" height="20")
								use(xlink:href="#icon-clock")
							span 19:00
					.ologic-today-card__content
						h5.ologic-today-card__title Иван Биткоинов
						.ologic-today-card__info
							p Как заработать на&nbsp;криптовалюте за&nbsp;3&nbsp;дня в&nbsp;6&nbsp;шагов?
						a.ologic-today-card__more(href="#") Подробнее

				.ologic-today-card
					.ologic-today-card__cover(style="background-image: url('./assets/img/seminar-02.jpg')")
						span.time
							svg(width="20" height="20")
								use(xlink:href="#icon-clock")
							span 19:00
					.ologic-today-card__content
						h5.ologic-today-card__title Иван Петров
						.ologic-today-card__info
							p 5 простых советов зачем лезть в&nbsp;политику, если ничего в&nbsp;этом не&nbsp;понимаешь?
						a.ologic-today-card__more(href="#") Подробнее

				.ologic-today-card
					.ologic-today-card__cover(style="background-image: url('./assets/img/seminar-03.jpg')")
						span.time
							svg(width="20" height="20")
								use(xlink:href="#icon-clock")
							span 20:00
					.ologic-today-card__content
						h5.ologic-today-card__title Михаил Башмаков
						.ologic-today-card__info
							p Зачем становиться отцом?
						a.ologic-today-card__more(href="#") Подробнее

				.ologic-today-card
					.ologic-today-card__cover(style="background-image: url('./assets/img/seminar-04.jpg')")
						span.time
							svg(width="20" height="20")
								use(xlink:href="#icon-clock")
							span 20:00
					.ologic-today-card__content
						h5.ologic-today-card__title Антон Маторин
						.ologic-today-card__info
							p Испытание реальностью из&nbsp;области стресс-менеджмента
						a.ologic-today-card__more(href="#") Подробнее

				.ologic-today-card
					.ologic-today-card__cover(style="background-image: url('./assets/img/seminar-05.jpg')")
						span.time
							svg(width="20" height="20")
								use(xlink:href="#icon-clock")
							span 21:00
					.ologic-today-card__content
						h5.ologic-today-card__title Евгений Пороховой
						.ologic-today-card__info
							p Как вести яркий и&nbsp;насыщенный образ жизни знакомиться с&nbsp;новыми интересными людьми.
						a.ologic-today-card__more(href="#") Подробнее

				.ologic-today-card
					.ologic-today-card__cover(style="background-image: url('./assets/img/seminar-06.jpg')")
						span.time
							svg(width="20" height="20")
								use(xlink:href="#icon-clock")
							span 21:00
					.ologic-today-card__content
						h5.ologic-today-card__title Виктор Викторович
						.ologic-today-card__info
							p Соблазнение - увлекательный и&nbsp;интересный процесс.
						a.ologic-today-card__more(href="#") Подробнее

			.ologic-today__button
				a.ologic-button(href="#") Все бесплатные семинары
				br
				br
				a.ologic-today__announce(href="#") Анонсировать здесь свой вебинар

	.ologic-experts
		.ologic-experts__content
			.ologic-experts__col
				h4.ologic-experts__title Блоги экспертов
				.ologic-experts__blogs
					a.ologic-expert-card(href="#")
						img.ologic-expert-card__photo(src="./assets/img/expert-matorin.jpg", alt="")
						h5.ologic-expert-card__name Антон Маторин
						.ologic-expert-card__info
							p Тренер по&nbsp;харизме и&nbsp;взаимоотношениям
						span.ologic-expert-card__read Читать
					a.ologic-expert-card(href="#")
						img.ologic-expert-card__photo(src="./assets/img/expert-nesvit.jpg", alt="")
						h5.ologic-expert-card__name Константин Несвит
						.ologic-expert-card__info
							p Тренер по&nbsp;рисованию убедительных отмазок
						span.ologic-expert-card__read Читать
					a.ologic-expert-card(href="#")
						img.ologic-expert-card__photo(src="./assets/img/expert-porokhovoy.jpg", alt="")
						h5.ologic-expert-card__name Евгений Пороховой
						.ologic-expert-card__info
							p Эксперт в&nbsp;сфере детских спортивных школ
						span.ologic-expert-card__read Читать
					a.ologic-expert-card(href="#")
						img.ologic-expert-card__photo(src="./assets/img/expert-suvorin.jpg", alt="")
						h5.ologic-expert-card__name Александр Суворин
						.ologic-expert-card__info
							p Специалист по&nbsp;видео
						span.ologic-expert-card__read Читать
				.ologic-experts__button
					a.ologic-button.ologic-button_transparent.ologic-button_red-border(href="#") Все блоги
			.ologic-experts__col
				h4.ologic-experts__title Вся касса
				.ologic-experts__sales-log
					.ologic-experts__log #[span.email Кto**sweb@mail.ru] купил/a у эксперта Иван Никитин: курс «Как стать богатым»
					.ologic-experts__log #[span.email Кto**sweb@mail.ru] купил/a у эксперта Сергей Ермаков: подписку «Криптовалюты от А до Я»
					.ologic-experts__log #[span.email Кto**sweb@mail.ru] купил/a у эксперта Иван Никитин: курс «Как стать богатым»
					.ologic-experts__log #[span.email Кto**sweb@mail.ru] купил/a у эксперта Иван Никитин: курс «Как стать богатым»
					.ologic-experts__log #[span.email Кto**sweb@mail.ru] купил/a у эксперта Сергей Ермаков: подписку «Криптовалюты от А до Я»
					.ologic-experts__log #[span.email Кto**sweb@mail.ru] купил/a у эксперта Иван Никитин: курс «Как стать богатым»
					.ologic-experts__log #[span.email Кto**sweb@mail.ru] купил/a у эксперта Сергей Ермаков: подписку «Криптовалюты от А до Я»
					.ologic-experts__log #[span.email Кto**sweb@mail.ru] купил/a у эксперта Иван Никитин: курс «Как стать богатым»
					.ologic-experts__log #[span.email Кto**sweb@mail.ru] купил/a у эксперта Иван Никитин: курс «Как стать богатым»
					.ologic-experts__log #[span.email Кto**sweb@mail.ru] купил/a у эксперта Сергей Ермаков: подписку «Криптовалюты от А до Я»
					.ologic-experts__log #[span.email Кto**sweb@mail.ru] купил/a у эксперта Иван Никитин: курс «Как стать богатым»
				.ologic-experts__button
					a.ologic-button.ologic-button_transparent.ologic-button_red-border(href="#") Все блоги

	.ologic-eotd
		.ologic-eotd__bg
			.ologic-eotd__brain
				svg(width="477" height="439")
					use(xlink:href="#icon-main-globe")
		.ologic-eotd__content
			.ologic-eotd__photo
				img(src="./assets/img/expert-suvorin_big.jpg", alt="")
			.ologic-eotd__text
				h3.ologic-eotd__title Эксперт дня
				h5.ologic-eotd__name Александр Суворин
				.ologic-eotd__nick
					span.red Kit2010
					span Краснодар
				.ologic-eotd__info
					p Раньше я&nbsp;думал, что у&nbsp;меня все в&nbsp;порядке с&nbsp;девушками. И&nbsp;действительно я&nbsp;очень часто общался с&nbsp;девушками и&nbsp;всегда в&nbsp;моей компании были девушки.
					p Но&nbsp;все они видели во&nbsp;мне лишь друга. Да, я&nbsp;был для них &laquo;хорошим парнем&raquo;, даже не&nbsp;&laquo;парнем для отношений&raquo;. Но&nbsp;это осознал намного позже, когда впервые познакомился с&nbsp;проектом TLC.
				a.ologic-button.ologic-button_transparent.ologic-button_red-border(href="#") Подробнее

	.ologic-select
		.ologic-select__content
			h3.section-title.section-title_red Что выбрать?
			.ologic-ways
				.ologic-ways__item
					svg.ologic-ways__icon(width="85" height="85")
						use(xlink:href="#icon-specialty")
					h5.ologic-ways__title Новая специальность, #[span чтобы сменить сферу деятельности?]
				.ologic-ways__item
					svg.ologic-ways__icon(width="81" height="75")
						use(xlink:href="#icon-growth")
					h5.ologic-ways__title Личностный рост, #[span чтобы было интереснее жить?]
				.ologic-ways__item
					svg.ologic-ways__icon(width="92" height="92")
						use(xlink:href="#icon-creativity")
					h5.ologic-ways__title Творческие направления, #[span чтобы было интереснее жить?]
				.ologic-ways__item
					svg.ologic-ways__icon(width="83" height="95")
						use(xlink:href="#icon-qualification")
					h5.ologic-ways__title Повышение квалификации, #[span чтобы зарабатывать больше?]
				.ologic-ways__item
					svg.ologic-ways__icon(width="82" height="82")
						use(xlink:href="#icon-expert")
					h5.ologic-ways__title Может быть, вы сами эксперт, #[span и хотите открыть свою онлайн-школу?]

			.ologic-robot#ologic-robot
				.ologic-robot__robot
					img(src="./assets/img/robot.png", alt="")
				.ologic-robot__content
					.ologic-robot__talk
						p Привет, я&nbsp;#[span.red LogicMan]. #[br]Я помогу вам выбрать направление для развития! #[br]Просто начните общение со&nbsp;мной…
					.ologic-robot__text
						p В&nbsp;каком месенджере вам удобнее начать общаться #[span.red с&nbsp;LogicMan’ом]?
						nav.ologic-social
							ul.ologic-social__list
								li.ologic-social__item
									a.ologic-social__link(href="#")
										svg(width="70" height="70")
											use(xlink:href="#icon-social-facebook")
								li.ologic-social__item
									a.ologic-social__link(href="#")
										svg(width="70" height="70")
											use(xlink:href="#icon-social-telegram")
								li.ologic-social__item
									a.ologic-social__link(href="#")
										svg(width="70" height="70")
											use(xlink:href="#icon-social-viber")
								li.ologic-social__item
									a.ologic-social__link(href="#")
										svg(width="70" height="70")
											use(xlink:href="#icon-social-vk")
						p Кликайте на&nbsp;иконку и&nbsp;пройдите экспресс-диагностику!

	.ologic-footer
		.ologic-footer__content
			.ologic-footer__col.ologic-footer__col_logo
				a.ologic-footer__logo(href="./")
					svg.ologic-header__globe(width="97" height="89")
						use(xlink:href="#icon-main-globe")
					span Онлайн #[br]логика
				a.ologic-button.ologic-button_transparent.ologic-button_dark-border(href="#") Связаться с&nbsp;нами
				.ologic-footer__copyrights
					p Copyright © 2018 «Онлайн-Логика»
					p Все права защищены.
			.ologic-footer__col.ologic-footer__col_people.ologic-footer__col_people_01
				a.ologic-footer-card(href="#")
					.ologic-footer-card__photo(style="background-image: url('./assets/img/small-tomas.png')")
						i.ologic-footer-card__icon
							svg(width="20" height="20")
								use(xlink:href="#icon-small-instagram")
					.ologic-footer-card__text
						.ologic-footer-card__name TOMAS #[br]Анатолий Логинов
						.ologic-footer-card__info Основатель «Онлайн-логики»
				a.ologic-footer-card(href="#")
					.ologic-footer-card__photo(style="background-image: url('./assets/img/small-dmitry.png')")
						i.ologic-footer-card__icon
							svg(width="20" height="20")
								use(xlink:href="#icon-small-instagram")
					.ologic-footer-card__text
						.ologic-footer-card__name Дмитрий Юрченко
						.ologic-footer-card__info Основатель «Free-publicity»
			.ologic-footer__col.ologic-footer__col_people.ologic-footer__col_people_02
				a.ologic-footer-card(href="#")
					.ologic-footer-card__photo(style="background-image: url('./assets/img/small-sergey.png')")
						i.ologic-footer-card__icon
							svg(width="20" height="20")
								use(xlink:href="#icon-small-instagram")
					.ologic-footer-card__text
						.ologic-footer-card__name Сергей Капустин
						.ologic-footer-card__info Основатель «Accel»
				a.ologic-footer__accel-link(href="#")
					img(src="./assets/img/accel-logo.png", alt="")

			.ologic-footer__col.ologic-footer__col_final
				nav.footer-menu
					ul.footer-menu__list
						li.footer-menu__item
							a.footer-menu__link(href="#") Эксперты
						li.footer-menu__item
							a.footer-menu__link(href="#") Блоги
						li.footer-menu__item
							a.footer-menu__link(href="#") Расписание
						li.footer-menu__item
							a.footer-menu__link(href="#") Стать экспертом
				nav.footer-social
					ul.footer-social__list
						li.footer-social__item
							a.footer-social__link(href="#")
								svg(width="26" height="14")
									use(xlink:href="#icon-small-vk")
						li.footer-social__item
							a.footer-social__link(href="#")
								svg(width="14" height="21")
									use(xlink:href="#icon-small-facebook")
						li.footer-social__item
							a.footer-social__link(href="#")
								svg(width="20" height="20")
									use(xlink:href="#icon-small-instagram")
						li.footer-social__item
							a.footer-social__link(href="#")
								svg(width="20" height="20")
									use(xlink:href="#icon-small-youtube")
