extends ../../layout/main-layout.pug
-load staticfiles

block pageTitle
	title Онлайн Логика

block mainContent
	.ologic-hero
		.ologic-hero__photo(style="background-image: url({% static 'img/hero-image.jpg' %})")
		.ologic-hero__globe
		.ologic-hero__content
			.ologic-hero__text
				h3.ologic-hero__title Онлайн-логика
				.ologic-hero__info
					p.red Сервис организации онлайн-образования
					p 2018 год был назван годом онлайн-образования. Но качественных онлайн-школ не так много.

					p Десятки бизнес-тренеров обучают экспертов тому, как открыть свою онлайн-школу, но столкнувшись с кучей технических сложностей многие останавливаются.

					p Мы создали онлайн-платформу, где вы сможете запустить свою онлайн-школу не обладая никакими техническими навыками и не нанимая никаких специалистов.
					.ologic-hero__button
						a.ologic-button(href="#") Запустить онлайн-школу

	.ologic-advantages
		.ologic-advantages__content
			h3.section-title Только качественные эксперты
			.ologic-advantages__items
				.ologic-advantages__item
					h4.ologic-advantages__title
						svg(width="75" height="75")
							use(xlink:href="#icon-efficiency")
						span Эффективность
					.ologic-advantages__text
						p Если онлайн-школа размещена на нашей онлайн-платформе, значит эксперт прошёл тщательную проверку. Мы не работаем с «инфо-цыганами».
				.ologic-advantages__item
					h4.ologic-advantages__title
						svg(width="83" height="75")
							use(xlink:href="#icon-freedom")
						span Свобода
					.ologic-advantages__text
						p Ни эксперту, ни ученику не нужно никуда ехать. Обучение происходит дома, на работе или на отдыхе. Нужен только интернет.
				.ologic-advantages__item
					h4.ologic-advantages__title
						svg(width="75" height="75")
							use(xlink:href="#icon-economy")
						span Экономия
					.ologic-advantages__text
						p У экспертов нет затрат на множество сервисов и команду. Это позволяем сделать обучение предельно доступным.
			.ologic-advantages__button.ologic-hero__button
				a.ologic-button.ologic-button_red(href="#") Хочу открыть свою онлайн-школу

	.ologic-landing-jc
		.ologic-landing-jc__content
			h3.ologic-landing-jc__title Специальное предложение для клиентов #[br]JustClick и&nbsp;GetCourse
			.ologic-landing-jc__info
				.ologic-landing-jc__text
					p Получите не&nbsp;только функционал двух этих сервисов, но&nbsp;и&nbsp;реальную работу над вашим проектом.
					p Ваши лендинги будут проектировать наши маркетологи, ваши тексты будут редактировать наши копирайтеры, контекстную рекламу будут делать наши таргетологи, стратегию развития вашего бизнеса будет продумывать лично Анатолий Логинов.
					.ologic-landing-jc__quote
						p На&nbsp;создание программной части сервиса &laquo;Онлайн-логика&raquo; ушло более 7&nbsp;лет и&nbsp;более 50.000$. #[br]Вот, что об&nbsp;этом сервисе и&nbsp;его создателе говорит известный тренер Азамат Ушанов:
				.ologic-landing-jc__video(style="background-image: url('{% static 'img/video-cover-05.jpg' %}')")
					a.video-icon.js-open-video(href="https://www.youtube.com/watch?v=YyIN0aH9Pag")

	.ologic-landing-more
		.ologic-landing-more__content
			h3.ologic-landing-more__title Что предлагает «Онлайн-логика»?
			.ologic-landing-more__list
				.ologic-landing-more__col
					.ologic-landing-more__item
						svg(width="48" height="48")
							use(xlink:href="#icon-more-icon-01")
						h5 Приём платежей
				.ologic-landing-more__col
					.ologic-landing-more__item
						svg(width="48" height="48")
							use(xlink:href="#icon-more-icon-06")
						h5 Сервис вебинаров и&nbsp;автовебинаров
				.ologic-landing-more__col
					.ologic-landing-more__item
						svg(width="48" height="48")
							use(xlink:href="#icon-more-icon-02")
						h5 Создание лэндингов
				.ologic-landing-more__col
					.ologic-landing-more__item
						svg(width="48" height="48")
							use(xlink:href="#icon-more-icon-07")
						h5 Партнёрская программа
				.ologic-landing-more__col
					.ologic-landing-more__item
						svg(width="48" height="48")
							use(xlink:href="#icon-more-icon-03")
						h5 Использование месенджеров и&nbsp;чат-ботов
				.ologic-landing-more__col
					.ologic-landing-more__item
						svg(width="48" height="48")
							use(xlink:href="#icon-more-icon-08")
						h5 Система обучения
				.ologic-landing-more__col
					.ologic-landing-more__item
						svg(width="48" height="48")
							use(xlink:href="#icon-more-icon-04")
						h5 Размещение курсов в&nbsp;нашем магазине
				.ologic-landing-more__col
					.ologic-landing-more__item
						svg(width="48" height="48")
							use(xlink:href="#icon-more-icon-09")
						h5 Аудитория желающих развиваться
				.ologic-landing-more__col
					.ologic-landing-more__item
						svg(width="48" height="48")
							use(xlink:href="#icon-more-icon-05")
						h5 Создание онлайн-тренингов с&nbsp;системой отчётов и&nbsp;кураторами
				.ologic-landing-more__col
					.ologic-landing-more__item
						svg(width="48" height="48")
							use(xlink:href="#icon-more-icon-10")
						h5 Личные продюсер и команда помощников (копирайтер, дизайнер, верстальщик)
				.ologic-landing-more__col
					.ologic-landing-more__item
						svg(width="48" height="48")
							use(xlink:href="#icon-more-icon-11")
						h5 Удобная CRM система для работы с вашими клиентами
			.ologic-landing-video__bottom.ologic-landing-video__bottom_no-bt
				.ologic-landing-video__social
					h5 Куда прислать подробности, спецпредложения и советы для успешного старта?
					nav.ologic-social(id="social_links")
						ul.ologic-social__list.ologic-social__list_center
							li.ologic-social__item
								a.ologic-social__link(href="https://m.me/468109860298966/?ref=fromExpertPage", data-messenger="facebook", target="_blank")
									img(src="{% static 'img/social-fb.png' %}", alt="")
							li.ologic-social__item
								a.ologic-social__link(href="https://tg1.me/OnlineLogic_bot/?start=fromExpertPage", data-messenger="tg", target="_blank")
									img(src="{% static 'img/social-tg.png' %}", alt="")
							li.ologic-social__item
								a.ologic-social__link(href="viber://pa?chatURI=onlinelogic&context=fromExpertPage", data-messenger="viber", target="_blank")
									img(src="{% static 'img/social-viber.png' %}", alt="")
							li.ologic-social__item
								a.ologic-social__link(href="https://vk.me/public172699014?ref=fromExpertPage", data-messenger="vk", target="_blank")
									img(src="{% static 'assets/img/social-vk.png' %}", alt="")

block extraScripts
	<script>
	!='var pageConfig={widgetId:"e13d95f8-0e0f-47e9-44a3-0167a32e0c31"};'
	!='TextBack.SDK.initWidget(pageConfig).then(function(e){$("body").on("click",".js-messenger",function(t){t.preventDefault(),t.stopPropagation(),e.subscribe($(this).data("messenger"));});});'
	</script>
