extends ../../layout/main-layout.pug

block pageTitle
	title Онлайн Логика

block mainContent

	.ologic-header
		.ologic-header__content
			h1.ologic-header__logo
				a(href="./")
					svg.ologic-header__globe
						use(xlink:href="#icon-main-globe")
					span Онлайн #[br]логика
			nav.ologic-header__menu.ologic-menu
				button.ologic-menu__close(data-close-mobile-menu)
				ul.ologic-menu__list
					li.ologic-menu__item
						a.ologic-menu__link(href="experts-list.php") Эксперты
					li.ologic-menu__item
						a.ologic-menu__link(href="blog-list.php") Блоги
					li.ologic-menu__item
						a.ologic-menu__link(href="timetable.php") Расписание
					li.ologic-menu__item
						a.ologic-menu__link(href="start.php") Стать экспертом
					li.ologic-menu__item.ologic-menu__item_login
						a.ologic-menu__link(href="#ologic-login" data-login-link)
							svg.ologic-menu__icon.ologic-menu__icon_user
								use(xlink:href="#icon-user")
							span Вход
			button.ologic-header__menu-button(data-open-mobile-menu)

	.ologic-landing-hero
		.ologic-landing-hero__left(style="background-image: url('./assets/img/hero-02.jpg')")
		.ologic-landing-hero__right
			.ologic-landing-hero__globe
		.ologic-landing-hero__content
			.ologic-landing-hero__text-block
				h2.ologic-landing-hero__title Задумываетесь о&nbsp;том, чтобы запустить свою #[span онлайн-школу?]
				h5.ologic-landing-hero__subtitle Или уже запустили, но&nbsp;устали копаться в&nbsp;технической рутине?
		.ologic-landing-hero__money
			p При помощи сервиса &laquo;ОНЛАЙН-ЛОГИКА&raquo; вы&nbsp;сможете запустить свою Онлайн-школу за&nbsp;1&nbsp;день и&nbsp;уже через неделю выйти на&nbsp;чистый доход&nbsp;от #[span 300 000 рублей в&nbsp;месяц!]
		.ologic-landing-hero__content
			.ologic-landing-hero__text-block
				.ologic-landing-hero__social
					h5 Куда отправить специальное предложение?
					nav.ologic-social
						ul.ologic-social__list.ologic-social__list_landing-hero
							li.ologic-social__item
								a.ologic-social__link(href="#")
									svg(width="70" height="70")
										use(xlink:href="#icon-social-facebook")
							li.ologic-social__item
								a.ologic-social__link(href="#")
									svg(width="70" height="70")
										use(xlink:href="#icon-social-telegram")
							li.ologic-social__item
								a.ologic-social__link(href="#")
									svg(width="70" height="70")
										use(xlink:href="#icon-social-viber")
							li.ologic-social__item
								a.ologic-social__link(href="#")
									svg(width="70" height="70")
										use(xlink:href="#icon-social-vk")

	.ologic-landing-people
		.ologic-landing-people__bg.ologic-landing-people__bg_left
		.ologic-landing-people__bg.ologic-landing-people__bg_right
		.ologic-landing-people__content
			.ologic-landing-people__col.ologic-landing-people__col_left
				h3.ologic-landing-people__title Вы эксперт?
				h5.ologic-landing-people__subtitle То, чем вы&nbsp;сейчас занимаетесь, можно превратить #[br]в&nbsp;обучение и&nbsp;начать зарабатывать на&nbsp;этом #[br]в&nbsp;5-10 раз больше.
				span.ologic-landing-people__samples.ologic-landing-people__samples_grey Примеры

				.ologic-people-card
					.ologic-people-card__top
						img.ologic-people-card__photo(src="./assets/img/expert-01.jpg", alt="")
						.ologic-people-card__info
							.ologic-people-card__name
								h4 Елена Иваницкая
								button.ologic-people-card__question
									svg(width="39" height="45")
										use(xlink:href="#icon-question-button")
							.ologic-people-card__detail
								svg(width="25" height="29")
									use(xlink:href="#icon-people-activity")
								h5 Деятельность:
								p Мастер наращивания волос
							.ologic-people-card__detail
								svg(width="29" height="29")
									use(xlink:href="#icon-people-school")
								h5 Онлайн-школа:
								p Обучение наращиванию волос
					.ologic-people-card__text
						p Будучи мастером по&nbsp;наращиваю волос зарабатывала 1500$ в&nbsp;месяц, открыв онлайн-школу по&nbsp;обучению мастеров наращивания за&nbsp;первый месяц вышла на&nbsp;доход 5000$.

				.ologic-people-card
					.ologic-people-card__top
						img.ologic-people-card__photo(src="./assets/img/expert-02.jpg", alt="")
						.ologic-people-card__info
							.ologic-people-card__name
								h4 Анна Олицкая
								button.ologic-people-card__question
									svg(width="39" height="45")
										use(xlink:href="#icon-question-button")
							.ologic-people-card__detail
								svg(width="25" height="29")
									use(xlink:href="#icon-people-activity")
								h5 Деятельность:
								p Телеведущая
							.ologic-people-card__detail
								svg(width="29" height="29")
									use(xlink:href="#icon-people-school")
								h5 Онлайн-школа:
								p Обучение телеведущих
					.ologic-people-card__text
						p Будучи телеведущей зарабатывала 1000$ в&nbsp;месяц, открыв онлайн-школу по&nbsp;обучению телеведущих за&nbsp;первый месяц вышла на&nbsp;доход 6000$.

				.ologic-people-card
					.ologic-people-card__top
						img.ologic-people-card__photo(src="./assets/img/expert-03.jpg", alt="")
						.ologic-people-card__info
							.ologic-people-card__name
								h4 Андрей Кисель
								button.ologic-people-card__question
									svg(width="39" height="45")
										use(xlink:href="#icon-question-button")
							.ologic-people-card__detail
								svg(width="25" height="29")
									use(xlink:href="#icon-people-activity")
								h5 Деятельность:
								p Хозяин фитнес-клуба
							.ologic-people-card__detail
								svg(width="29" height="29")
									use(xlink:href="#icon-people-school")
								h5 Онлайн-школа:
								p Как открыть свой фитнес-клуб
					.ologic-people-card__text
						p Будучи хозяином фитнес-клуба зарабатывал 2500$ в&nbsp;месяц, открыв онлайн-школу, за&nbsp;первый месяц вышел на&nbsp;доход 10.000$.
			.ologic-landing-people__col.ologic-landing-people__col_right
				h3.ologic-landing-people__title Вы популярный блогер?
				h5.ologic-landing-people__subtitle Вместо того, чтобы монетизировать свою аудиторию, предлагая ей&nbsp;чужую рекламу, создайте свою Онлайн-школу и&nbsp;занимайтесь продвижением своего бизнеса, а&nbsp;не&nbsp;чужого.
				span.ologic-landing-people__samples.ologic-landing-people__samples_white Примеры

				.ologic-people-card
					.ologic-people-card__top
						img.ologic-people-card__photo(src="./assets/img/blogger-01.jpg", alt="")
						.ologic-people-card__info
							.ologic-people-card__name
								h4 Дмитрий Ковпак
								button.ologic-people-card__question
									svg(width="39" height="45")
										use(xlink:href="#icon-question-button")
							.ologic-people-card__detail.ologic-people-card__detail_small
								svg(width="29" height="32")
									use(xlink:href="#icon-people-audience")
								h5 Аудитория:
								p 200 тысяч подписчиков
							.ologic-people-card__detail.ologic-people-card__detail_small
								svg(width="29" height="29")
									use(xlink:href="#icon-people-school")
								h5 Онлайн-школа:
								p Обучение построению бизнеса с&nbsp;Китаем
							.ologic-people-card__detail.ologic-people-card__detail_small
								svg(width="27" height="36")
									use(xlink:href="#icon-people-money")
								h5 Месячный доход:
								p более 10 миллионов рублей
					.ologic-people-card__text
						p Если&nbsp;бы через свой блог он&nbsp;продвигал не&nbsp;свою онлайн-школу, а&nbsp;жил за&nbsp;счёт платной рекламы, то&nbsp;зарабатывал&nbsp;бы 500-600 тысяч рублей в&nbsp;самые лучшие месяцы.


				.ologic-people-card
					.ologic-people-card__top
						img.ologic-people-card__photo(src="./assets/img/blogger-02.jpg", alt="")
						.ologic-people-card__info
							.ologic-people-card__name
								h4 Мария Солодар
								button.ologic-people-card__question
									svg(width="39" height="45")
										use(xlink:href="#icon-question-button")
							.ologic-people-card__detail.ologic-people-card__detail_small
								svg(width="29" height="32")
									use(xlink:href="#icon-people-audience")
								h5 Аудитория:
								p 320 тысяч подписчиков
							.ologic-people-card__detail.ologic-people-card__detail_small
								svg(width="29" height="29")
									use(xlink:href="#icon-people-school")
								h5 Онлайн-школа:
								p Обучение профессии интернет-маркетолог
							.ologic-people-card__detail.ologic-people-card__detail_small
								svg(width="27" height="36")
									use(xlink:href="#icon-people-money")
								h5 Месячный доход:
								p более 8 миллионов рублей
					.ologic-people-card__text
						p Если&nbsp;бы через свой блог она продвигала не&nbsp;свою онлайн-школу, а&nbsp;жила за&nbsp;счёт платной рекламы, то&nbsp;зарабатывала&nbsp;бы 800-900 тысяч рублей в&nbsp;самые лучшие месяцы.

				.ologic-people-card
					.ologic-people-card__top
						img.ologic-people-card__photo(src="./assets/img/blogger-03.jpg", alt="")
						.ologic-people-card__info
							.ologic-people-card__name
								h4 Алекс Мэй
								button.ologic-people-card__question
									svg(width="39" height="45")
										use(xlink:href="#icon-question-button")
							.ologic-people-card__detail.ologic-people-card__detail_small
								svg(width="29" height="32")
									use(xlink:href="#icon-people-audience")
								h5 Аудитория:
								p 80 тысяч подписчиков
							.ologic-people-card__detail.ologic-people-card__detail_small
								svg(width="29" height="29")
									use(xlink:href="#icon-people-school")
								h5 Онлайн-школа:
								p Обучение сексуальному мастерству
							.ologic-people-card__detail.ologic-people-card__detail_small
								svg(width="27" height="36")
									use(xlink:href="#icon-people-money")
								h5 Месячный доход:
								p более 2 миллионов рублей
					.ologic-people-card__text
						p Если&nbsp;бы через свой блог он&nbsp;продвигал не&nbsp;свою онлайн-школу, а&nbsp;жил за&nbsp;счет платной рекламы секс-шопов, то&nbsp;зарабатывал&nbsp;бы 200-300 тысяч рублей в&nbsp;самые лучшие месяцы.

	.ologic-landing-video
		.ologic-landing-video__main
			.ologic-landing-video__left(style="background-image: url('./assets/img/loginov-rectangle.jpg')")
			.ologic-landing-video__right
			.ologic-landing-video__content
				.ologic-landing-video__info
					h3.ologic-landing-video__name Анатолий Логинов
					h5.ologic-landing-video__subtitle Руководитель сервиса «Онлайн-логика»
					.ologic-landing-video__text
						p Как выбрать тему для своей онлайн школы? #[br]И&nbsp;как открыть онлайн школу с&nbsp;нуля?
						p Я&nbsp;приготовил 3&nbsp;видео и&nbsp;предлагаю вам посмотреть их&nbsp;прямо сейчас:
						.arrow
							svg(width="58" height="103")
								use(xlink:href="#icon-arrow_down")
		.ologic-landing-video__content
			.ologic-landing-video__list
				h4.ologic-about-speaker__title Прямо сейчас посмотрите 3 видео
				.ologic-landing-video__item
					.ologic-landing-video__unit
						h4
							svg(width="28" height="28")
								use(xlink:href="#icon-video-icon")
							span Видео №1
						.ologic-landing-video__video
							.ologic-landing-video__cover(style="background-image: url('./assets/img/video-cover-01.jpg')")
								a.video-icon.js-open-text-popup(href="#video-text-popup")
							ol
								li: p Как выбрать тему для своей онлайн школы?
								li: p Какие темы наиболее востребованы летом 2018 года?
				.ologic-landing-video__item
					.ologic-landing-video__unit
						h4
							svg(width="28" height="28")
								use(xlink:href="#icon-video-icon")
							span Видео №2
						.ologic-landing-video__video
							.ologic-landing-video__cover(style="background-image: url('./assets/img/video-cover-02.jpg')")
								a.video-icon.js-open-text-popup(href="#video-text-popup")
							ol
								li: p Как систематизировать свои знания и&nbsp;создать качественную обучающую программу?
								li: p Какие способы монетизации существуют: их&nbsp;плюсы и&nbsp;минусы
				.ologic-landing-video__item
					.ologic-landing-video__unit
						h4
							svg(width="28" height="28")
								use(xlink:href="#icon-video-icon")
							span Видео №3
						.ologic-landing-video__video
							.ologic-landing-video__cover(style="background-image: url('./assets/img/video-cover-03.jpg')")
								a.video-icon.js-open-text-popup(href="#video-text-popup")
							ol
								li: p Как открыть свою Онлайн-школу с&nbsp;нуля на&nbsp;базе сервиса &laquo;Онлайн-логика&raquo; и&nbsp;избавиться от&nbsp;технической рутины?

		.ologic-landing-video__bottom
			.ologic-landing-video__social
				h5 В какой месенджер отправить вам эти 3 видео?
				nav.ologic-social
					ul.ologic-social__list.ologic-social__list_center
						li.ologic-social__item
							a.ologic-social__link(href="#")
								svg(width="70" height="70")
									use(xlink:href="#icon-social-facebook")
						li.ologic-social__item
							a.ologic-social__link(href="#")
								svg(width="70" height="70")
									use(xlink:href="#icon-social-telegram")
						li.ologic-social__item
							a.ologic-social__link(href="#")
								svg(width="70" height="70")
									use(xlink:href="#icon-social-viber")
						li.ologic-social__item
							a.ologic-social__link(href="#")
								svg(width="70" height="70")
									use(xlink:href="#icon-social-vk")
				h5 Кликайте на&nbsp;иконку того месенджера, где вам удобнее общаться.
			.ologic-landing-video__plus
				svg(width="45" height="45")
					use(xlink:href="#icon-video-plus")
				p Плюс дополнительно&nbsp;Вы получите специальное предложение, действующее до&nbsp;1&nbsp;июля.

	.ologic-landing-want
		.ologic-landing-want__main
			.ologic-landing-want__content
				.ologic-landing-want__info
					h4.ologic-landing-want__title Хотите, чтобы запуском и&nbsp;развитием вашей онлайн-школы
					.ologic-landing-want__text
						p занималась команда проекта «Онлайн-логика» и&nbsp;Анатолий Логинов лично?
						p Посмотрите это видео:
						.arrow
							svg(width="105" height="53")
								use(xlink:href="#icon-arrow_right")
				.ologic-landing-want__video
					.ologic-landing-want__cover(style="background-image: url('./assets/img/video-cover-04.jpg')")
						a.video-icon.js-open-video(href="https://www.youtube.com/watch?v=dQw4w9WgXcQ")
				.arrow-down
					svg(width="53" height="105")
						use(xlink:href="#icon-arrow_down")

		.ologic-landing-video__bottom.ologic-landing-video__bottom_no-bt
			.ologic-landing-video__social
				h5 Куда прислать подробности, спецпредложения и советы для успешного старта?
				nav.ologic-social
					ul.ologic-social__list.ologic-social__list_center
						li.ologic-social__item
							a.ologic-social__link(href="#")
								svg(width="70" height="70")
									use(xlink:href="#icon-social-facebook")
						li.ologic-social__item
							a.ologic-social__link(href="#")
								svg(width="70" height="70")
									use(xlink:href="#icon-social-telegram")
						li.ologic-social__item
							a.ologic-social__link(href="#")
								svg(width="70" height="70")
									use(xlink:href="#icon-social-viber")
						li.ologic-social__item
							a.ologic-social__link(href="#")
								svg(width="70" height="70")
									use(xlink:href="#icon-social-vk")

	.ologic-landing-jc
		.ologic-landing-jc__content
			h3.ologic-landing-jc__title Специальное предложение для клиентов #[br]JustClick и&nbsp;GetCourse
			.ologic-landing-jc__info
				.ologic-landing-jc__text
					p Получите не&nbsp;только функционал двух этих сервисов, но&nbsp;и&nbsp;реальную работу над вашим проектом.
					p Ваши лендинги будут проектировать наши маркетологи, ваши тексты будут редактировать наши копирайтеры, контекстную рекламу будут делать наши таргетологи, стратегию развития вашего бизнеса будет продумывать лично Анатолий Логинов.
					.ologic-landing-jc__quote
						p На&nbsp;создание программной части сервиса &laquo;Онлайн-логика&raquo; ушло более 7&nbsp;лет и&nbsp;более 50.000$. #[br]Вот, что об&nbsp;этом сервисе и&nbsp;его создателе говорит известный тренер Азамат Ушанов:
				.ologic-landing-jc__video(style="background-image: url('./assets/img/video-cover-05.jpg')")
					a.video-icon.js-open-video(href="https://www.youtube.com/watch?v=dQw4w9WgXcQ")

	.ologic-landing-more
		.ologic-landing-more__content
			h3.ologic-landing-more__title ЕЩЁ РАЗ #[br]Что предлагает «Онлайн-логика»?
			.ologic-landing-more__list
				.ologic-landing-more__col
					.ologic-landing-more__item
						svg(width="48" height="48")
							use(xlink:href="#icon-more-icon-01")
						h5 Приём платежей
					.ologic-landing-more__item
						svg(width="48" height="48")
							use(xlink:href="#icon-more-icon-02")
						h5 Создание лэндингов
					.ologic-landing-more__item
						svg(width="48" height="48")
							use(xlink:href="#icon-more-icon-03")
						h5 Использование месенджеров и&nbsp;чат-ботов
					.ologic-landing-more__item
						svg(width="48" height="48")
							use(xlink:href="#icon-more-icon-04")
						h5 Размещение курсов в&nbsp;нашем магазине
					.ologic-landing-more__item
						svg(width="48" height="48")
							use(xlink:href="#icon-more-icon-05")
						h5 Создание онлайн-тренингов с&nbsp;системой отчётов и&nbsp;кураторами
				.ologic-landing-more__col
					.ologic-landing-more__item
						svg(width="48" height="48")
							use(xlink:href="#icon-more-icon-06")
						h5 Сервис вебинаров и&nbsp;автовебинаров
					.ologic-landing-more__item
						svg(width="48" height="48")
							use(xlink:href="#icon-more-icon-07")
						h5 Партнёрская программа
					.ologic-landing-more__item
						svg(width="48" height="48")
							use(xlink:href="#icon-more-icon-08")
						h5 Система обучения
					.ologic-landing-more__item
						svg(width="48" height="48")
							use(xlink:href="#icon-more-icon-09")
						h5 Аудитория желающих развиваться
					.ologic-landing-more__item
						svg(width="48" height="48")
							use(xlink:href="#icon-more-icon-10")
						h5 Личные продюсер и команда помощников (копирайтер, дизайнер, верстальщик)
			.ologic-landing-video__bottom.ologic-landing-video__bottom_no-bt
				.ologic-landing-video__social
					h5 Куда прислать подробности, спецпредложения и советы для успешного старта?
					nav.ologic-social
						ul.ologic-social__list.ologic-social__list_center
							li.ologic-social__item
								a.ologic-social__link(href="#")
									svg(width="70" height="70")
										use(xlink:href="#icon-social-facebook")
							li.ologic-social__item
								a.ologic-social__link(href="#")
									svg(width="70" height="70")
										use(xlink:href="#icon-social-telegram")
							li.ologic-social__item
								a.ologic-social__link(href="#")
									svg(width="70" height="70")
										use(xlink:href="#icon-social-viber")
							li.ologic-social__item
								a.ologic-social__link(href="#")
									svg(width="70" height="70")
										use(xlink:href="#icon-social-vk")

	//- .ologic-footer
	//- 	.ologic-footer__content
	//- 		.ologic-footer__col.ologic-footer__col_logo
	//- 			a.ologic-footer__logo(href="./")
	//- 				svg.ologic-header__globe(width="97" height="89")
	//- 					use(xlink:href="#icon-main-globe")
	//- 				span Онлайн #[br]логика
	//- 			a.ologic-button.ologic-button_transparent.ologic-button_dark-border(href="#") Связаться с&nbsp;нами
	//- 			.ologic-footer__copyrights
	//- 				p Copyright © 2018 «Онлайн-Логика»
	//- 				p Все права защищены.
	//- 		.ologic-footer__col.ologic-footer__col_people.ologic-footer__col_people_01
	//- 			a.ologic-footer-card(href="#")
	//- 				.ologic-footer-card__photo(style="background-image: url('./assets/img/small-tomas.png')")
	//- 					i.ologic-footer-card__icon
	//- 						svg(width="20" height="20")
	//- 							use(xlink:href="#icon-small-instagram")
	//- 				.ologic-footer-card__text
	//- 					.ologic-footer-card__name TOMAS #[br]Анатолий Логинов
	//- 					.ologic-footer-card__info Основатель «Онлайн-логики»
	//- 			a.ologic-footer-card(href="#")
	//- 				.ologic-footer-card__photo(style="background-image: url('./assets/img/small-dmitry.png')")
	//- 					i.ologic-footer-card__icon
	//- 						svg(width="20" height="20")
	//- 							use(xlink:href="#icon-small-instagram")
	//- 				.ologic-footer-card__text
	//- 					.ologic-footer-card__name Дмитрий Юрченко
	//- 					.ologic-footer-card__info Основатель «Free-publicity»
	//- 		.ologic-footer__col.ologic-footer__col_people.ologic-footer__col_people_02
	//- 			a.ologic-footer-card(href="#")
	//- 				.ologic-footer-card__photo(style="background-image: url('./assets/img/small-sergey.png')")
	//- 					i.ologic-footer-card__icon
	//- 						svg(width="20" height="20")
	//- 							use(xlink:href="#icon-small-instagram")
	//- 				.ologic-footer-card__text
	//- 					.ologic-footer-card__name Сергей Капустин
	//- 					.ologic-footer-card__info Основатель «Accel»
	//- 			a.ologic-footer__accel-link(href="#")
	//- 				img(src="./assets/img/accel-logo.png", alt="")

	//- 		.ologic-footer__col.ologic-footer__col_final
	//- 			nav.footer-menu
	//- 				ul.footer-menu__list
	//- 					li.footer-menu__item
	//- 						a.footer-menu__link(href="#") Эксперты
	//- 					li.footer-menu__item
	//- 						a.footer-menu__link(href="#") Блоги
	//- 					li.footer-menu__item
	//- 						a.footer-menu__link(href="#") Расписание
	//- 					li.footer-menu__item
	//- 						a.footer-menu__link(href="#") Стать экспертом
	//- 			nav.footer-social
	//- 				ul.footer-social__list
	//- 					li.footer-social__item
	//- 						a.footer-social__link(href="#")
	//- 							svg(width="26" height="14")
	//- 								use(xlink:href="#icon-small-vk")
	//- 					li.footer-social__item
	//- 						a.footer-social__link(href="#")
	//- 							svg(width="14" height="21")
	//- 								use(xlink:href="#icon-small-facebook")
	//- 					li.footer-social__item
	//- 						a.footer-social__link(href="#")
	//- 							svg(width="20" height="20")
	//- 								use(xlink:href="#icon-small-instagram")
	//- 					li.footer-social__item
	//- 						a.footer-social__link(href="#")
	//- 							svg(width="20" height="20")
	//- 								use(xlink:href="#icon-small-youtube")

	#video-text-popup.text-popup
		.text-popup__content
			p Мы пришлём вам это видео сразу же после подписки на любой из мессенджеров.
