extends ../../layout/main-layout.pug
-load staticfiles

block pageTitle
	title Профиль эксперта

block mainContent

	.ologic-today.ologic-today_register
		.blog-list-heading
			.blog-list-heading__bg(style="background-image: url('{% static 'img/blog-list-header.jpg' %}')")
			h3.blog-list-heading__title.blog-list-heading__title_center Авторизация пользователя

	.login-page
		.login-page__content
			form.ologic-login.ologic-login_visible#ologic-login-page(action="./" method="post")
				.ologic-login__content
					h5.ologic-login__title Вход
					input.ologic-login__input(type="text" name="ologic-name" placeholder="E-mail или логин")
					input.ologic-login__input(type="password" name="ologic-pass" placeholder="Пароль")
					input#ologic-login-remember(type="checkbox" name="ologic-login-remember")
					label.ologic-login__label(for="ologic-login-remember") Запомнить меня
					button.ologic-login__submit(type="submit") Войти
					.ologic-login__links
						.ologic-login__forgot
							a(href="#") Забыл пароль
						.ologic-login__register
							a(href="{% url 'ologic:registration' %}") Регистрация

	#video-text-popup.text-popup
		.text-popup__content
			p Мы пришлём вам это видео сразу же после подписки на любой из мессенджеров.
