extends ../../layout/main-layout.pug

block pageTitle
	title Онлайн Логика – Рейтинг

block mainContent

	.ologic-header
		.ologic-header__content
			h1.ologic-header__logo
				a(href="./")
					svg.ologic-header__globe
						use(xlink:href="#icon-main-globe")
					span Онлайн #[br]логика
			nav.ologic-header__menu.ologic-menu
				button.ologic-menu__close(data-close-mobile-menu)
				ul.ologic-menu__list
					li.ologic-menu__item
						a.ologic-menu__link(href="experts-list.php") Эксперты
					li.ologic-menu__item
						a.ologic-menu__link(href="blog-list.php") Блоги
					li.ologic-menu__item
						a.ologic-menu__link(href="timetable.php") Расписание
					li.ologic-menu__item
						a.ologic-menu__link(href="start.php") Стать экспертом
					li.ologic-menu__item.ologic-menu__item_login
						a.ologic-menu__link(href="#ologic-login" data-login-link)
							svg.ologic-menu__icon.ologic-menu__icon_user
								use(xlink:href="#icon-user")
							span Вход
			button.ologic-header__menu-button(data-open-mobile-menu)

	.ologic-rating
		.ologic-rating__content
			h3.ologic-rating__title Наши эксперты

			.ologic-rating-item
				.ologic-rating-item__col.ologic-rating-item__col_common
					.ologic-rating-item__photo(style="background-image: url(http://placeowl.com/150/150)")
					.ologic-rating-item__profile
						h4.ologic-rating-item__name Артём Кутянин
						h4.ologic-rating-item__nick Artem NN
						h5.ologic-rating-item__desc Эксперт по подготовке beauty-мастеров
						.ologic-rating-item__info
							p Возраст: 30
							p #[a(href="#") Записей в блоге:] 9
							p #[a(href="#") Отзывов:] 45
						span.ologic-rating-item__number 1
				.ologic-rating-item__col.ologic-rating-item__col_courses
					b Обучающие курсы:
					p #[a(href="#") «Наращивание волос от А до Я»] #[br]#[a(href="#") «Очередь из клиентов в beauty-сфере»]
				.ologic-rating-item__col.ologic-rating-item__col_webinar
					b Ближайший вебинар:
					p #[a(href="#") «Наращивание волос – бизнес для девушки 21 века»] #[br]25 марта, 2018 (четверг) 19.00
				.ologic-rating-item__col.ologic-rating-item__col_rating
					p 8894.61

			.ologic-rating-item
				.ologic-rating-item__col.ologic-rating-item__col_common
					.ologic-rating-item__photo(style="background-image: url(http://placeowl.com/120/120)")
					.ologic-rating-item__profile
						h4.ologic-rating-item__name Константин Константинопольский
						h4.ologic-rating-item__nick Artem NN
						h5.ologic-rating-item__desc Эксперт по подготовке beauty-мастеров
						.ologic-rating-item__info
							p Возраст: 30
							p #[a(href="#") Записей в блоге:] 9
							p #[a(href="#") Отзывов:] 50
						span.ologic-rating-item__number 2
				.ologic-rating-item__col.ologic-rating-item__col_courses
					b Обучающие курсы:
					p «Наращивание волос от А до Я» #[br]«Очередь из клиентов в beauty-сфере»
				.ologic-rating-item__col.ologic-rating-item__col_webinar
					b Ближайший вебинар:
					p «Наращивание волос – бизнес для девушки 21 века» #[br]25 марта, 2018 (четверг) 19.00
				.ologic-rating-item__col.ologic-rating-item__col_rating
					p 90.15

			.ologic-rating-item
				.ologic-rating-item__col.ologic-rating-item__col_common
					.ologic-rating-item__photo(style="background-image: url(http://fillmurray.com/150/150)")
					.ologic-rating-item__profile
						h4.ologic-rating-item__name Артём Кутянин
						h4.ologic-rating-item__nick Artem NN
						h5.ologic-rating-item__desc Эксперт по подготовке beauty-мастеров
						.ologic-rating-item__info
							p Возраст: 30
							p #[a(href="#") Записей в блоге:] 9
							p #[a(href="#") Отзывов:] 50
						span.ologic-rating-item__number 3
				.ologic-rating-item__col.ologic-rating-item__col_courses
					b Обучающие курсы:
					p «Наращивание волос от А до Я» #[br]«Очередь из клиентов в beauty-сфере»
				.ologic-rating-item__col.ologic-rating-item__col_webinar
				.ologic-rating-item__col.ologic-rating-item__col_rating
					p 87.36

			.ologic-rating-item
				.ologic-rating-item__col.ologic-rating-item__col_common
					.ologic-rating-item__photo(style="background-image: url(http://fillmurray.com/140/140)")
					.ologic-rating-item__profile
						h4.ologic-rating-item__name Артём Кутянин
						h4.ologic-rating-item__nick Artem NN
						h5.ologic-rating-item__desc Эксперт по подготовке beauty-мастеров
						.ologic-rating-item__info
							p Возраст: 30
							p #[a(href="#") Записей в блоге:] 9
							p #[a(href="#") Отзывов:] 50
						span.ologic-rating-item__number 4
				.ologic-rating-item__col.ologic-rating-item__col_courses
				.ologic-rating-item__col.ologic-rating-item__col_webinar
					b Ближайший вебинар:
					p «Наращивание волос – бизнес для девушки 21 века» #[br]25 марта, 2018 (четверг) 19.00
				.ologic-rating-item__col.ologic-rating-item__col_rating
					p 80.22

			.ologic-rating-item
				.ologic-rating-item__col.ologic-rating-item__col_common
					.ologic-rating-item__photo(style="background-image: url(http://fillmurray.com/180/180)")
					.ologic-rating-item__profile
						h4.ologic-rating-item__name Константин Константинопольский
						h4.ologic-rating-item__nick Konstantin1337
						h5.ologic-rating-item__desc Эксперт по подготовке beauty-мастеров
						.ologic-rating-item__info
							p Возраст: 30
							p #[a(href="#") Записей в блоге:] 9
							p #[a(href="#") Отзывов:] 50
						span.ologic-rating-item__number 5
				.ologic-rating-item__col.ologic-rating-item__col_courses
				.ologic-rating-item__col.ologic-rating-item__col_webinar
				.ologic-rating-item__col.ologic-rating-item__col_rating
					p 75.22

	.ologic-footer
		.ologic-footer__content
			.ologic-footer__col.ologic-footer__col_logo
				a.ologic-footer__logo(href="./")
					svg.ologic-header__globe(width="97" height="89")
						use(xlink:href="#icon-main-globe")
					span Онлайн #[br]логика
				a.ologic-button.ologic-button_transparent.ologic-button_dark-border(href="#") Связаться с&nbsp;нами
				.ologic-footer__copyrights
					p Copyright © 2018 «Онлайн-Логика»
					p Все права защищены.
			.ologic-footer__col.ologic-footer__col_people.ologic-footer__col_people_01
				a.ologic-footer-card(href="#")
					.ologic-footer-card__photo(style="background-image: url('./assets/img/small-tomas.png')")
						i.ologic-footer-card__icon
							svg(width="20" height="20")
								use(xlink:href="#icon-small-instagram")
					.ologic-footer-card__text
						.ologic-footer-card__name TOMAS #[br]Анатолий Логинов
						.ologic-footer-card__info Основатель «Онлайн-логики»
				a.ologic-footer-card(href="#")
					.ologic-footer-card__photo(style="background-image: url('./assets/img/small-dmitry.png')")
						i.ologic-footer-card__icon
							svg(width="20" height="20")
								use(xlink:href="#icon-small-instagram")
					.ologic-footer-card__text
						.ologic-footer-card__name Дмитрий Юрченко
						.ologic-footer-card__info Основатель «Free-publicity»
			.ologic-footer__col.ologic-footer__col_people.ologic-footer__col_people_02
				a.ologic-footer-card(href="#")
					.ologic-footer-card__photo(style="background-image: url('./assets/img/small-sergey.png')")
						i.ologic-footer-card__icon
							svg(width="20" height="20")
								use(xlink:href="#icon-small-instagram")
					.ologic-footer-card__text
						.ologic-footer-card__name Сергей Капустин
						.ologic-footer-card__info Основатель «Accel»
				a.ologic-footer__accel-link(href="#")
					img(src="./assets/img/accel-logo.png", alt="")

			.ologic-footer__col.ologic-footer__col_final
				nav.footer-menu
					ul.footer-menu__list
						li.footer-menu__item
							a.footer-menu__link(href="#") Эксперты
						li.footer-menu__item
							a.footer-menu__link(href="#") Блоги
						li.footer-menu__item
							a.footer-menu__link(href="#") Расписание
						li.footer-menu__item
							a.footer-menu__link(href="#") Стать экспертом
				nav.footer-social
					ul.footer-social__list
						li.footer-social__item
							a.footer-social__link(href="#")
								svg(width="26" height="14")
									use(xlink:href="#icon-small-vk")
						li.footer-social__item
							a.footer-social__link(href="#")
								svg(width="14" height="21")
									use(xlink:href="#icon-small-facebook")
						li.footer-social__item
							a.footer-social__link(href="#")
								svg(width="20" height="20")
									use(xlink:href="#icon-small-instagram")
						li.footer-social__item
							a.footer-social__link(href="#")
								svg(width="20" height="20")
									use(xlink:href="#icon-small-youtube")
