extends ../../layout/main-layout.pug
-load staticfiles

block pageTitle
	title Онлайн Логика

block mainContent

	.ologic-today.ologic-today_register
		.blog-list-heading
			.blog-list-heading__bg(style="background-image: url('{% static 'img/blog-list-header.jpg' %}')")
			h3.blog-list-heading__title.blog-list-heading__title_center Регистрация пользователя

	.ologic-register
		.ologic-register__content
			form.ologic-regform(action="{% url 'api:user_registration' %}" method="post" data-form-validate) {% csrf_token %}
				.ologic-regform__col
					.ologic-regform__input
						input(type="text" name="first_name" data-tippy="Пожалуйста, указывайте реальное имя. Не отображается  нигде на сайте. Необходимо для того, чтобы обращаться к вам." required placeholder="Имя" data-parsley-errors-messages-disabled)
					.ologic-regform__input
						input(type="text" name="last_name" data-tippy="Пожалуйста, указывайте реальную фамилию. Не отображается нигде на сайте. Аккаунты с «левыми» фамилиями мы удаляем. Если когда-нибудь вы решите прийти на какой-нибудь наш живой семинар, то, зная вашу фамилию, нам значительно проще формировать списки." required placeholder="Фамилия" data-parsley-errors-messages-disabled)
					.ologic-regform__input
						select(name="gender" required data-parsley-errors-messages-disabled)
							option(value="" disabled selected) Пол
							option(value="male") Мужской
							option(value="female") Женский
					.ologic-regform__input
						input(type="text" name="birthday" required placeholder="Дата рождения" data-parsley-errors-messages-disabled class="calendar" autocomplete="off")
					.ologic-regform__input
						input(type="number" name="phone" data-tippy="По указанному вами номеру будут приходить смс-оповещения о самых важных событиях проекта TLC. Не чаще раза в месяц. В любой момент можно отписаться. Никакого смс-спама. Абсолютно бесплатно." required placeholder="Телефон" data-parsley-errors-messages-disabled)
						p.note Никаких плюсов и дефисов, только цифры! Не забывайте указывать код страны. #[br]Пример: 79055525544 (Россия) (Украина: 38; Казахстан: 7; Беларусь: 375; Израиль: 972)
				.ologic-regform__col
					.ologic-regform__input
						select(name="country" id="country" required data-parsley-errors-messages-disabled)
							option(value="" disabled selected) Страна
							-for c in countries
								option(value="{{ c.code2 }}") {{ c.name }}
					.ologic-regform__input
						select(name="city" id="city" required data-parsley-errors-messages-disabled)
							option(value="" disabled selected) Город
					.ologic-regform__input
						input(type="email" name="email" required placeholder="Электронная почта" data-parsley-errors-messages-disabled)
					.ologic-regform__input
						input(type="password" name="password" data-tippy="Придумайте надежный пароль не короче 8 символов" required placeholder="Пароль" data-parsley-errors-messages-disabled)
					.ologic-regform__input
						input(type="text" name="social" data-tippy="Инструкторы и организаторы из вашего города смогут добавить вас в друзья." placeholder="Ссылка на ваш аккаунт в соц. сети (если есть)")
				.ologic-regform__col.ologic-regform__col_submit
					button.ologic-login__submit(type="submit") Зарегистрироваться
					.ologic-regform__policy
						input#ologic-policy(type="checkbox" name="ologic-policy" value="1" checked required data-parsley-errors-messages-disabled)
						label(for="ologic-policy") Регистрируясь на сайте я соглашаюсь с #[a(href="#") политикой предоставления услуг]


	#video-text-popup.text-popup
		.text-popup__content
			p Мы пришлём вам это видео сразу же после подписки на любой из мессенджеров.
