extends ../../layout/main-layout.pug

block pageTitle
	title Онлайн Логика

block mainContent

	.social-overlay
		h3.social-overlay__mobile-title Кликните на иконку того месенджера, в который вам отправить приглашение на семинар и бонус!
		.social-overlay__social
			.tlc-course-social.tlc-course-social_fixed
				//- .tlc-course-social__text
				//- 	p Кликните на иконку того месенджера, в который вам отправить приглашение на семинар и бонус!
				ul.tlc-course-social__buttons
					li
						a.social-bonus__button(href="https://m.me/468109860298966/?ref=fromExpertPage", data-messenger="facebook", target="_blank") #[img(src="./assets/img/social-fb.png")]
					li
						a.social-bonus__button(href="https://tg1.me/OnlineLogic_bot/?start=fromExpertPage", data-messenger="tg", target="_blank") #[img(src="./assets/img/social-tg.png")]
					li
						a.social-bonus__button(href="viber://pa?chatURI=onlinelogic&context=fromExpertPage", data-messenger="viber", target="_blank") #[img(src="./assets/img/social-viber.png")]
					li
						a.social-bonus__button(href="https://vk.me/public172699014?ref=fromExpertPage", data-messenger="vk", target="_blank") #[img(src="./assets/img/social-vk.png")]

	.ologic-header
		.ologic-header__content
			h1.ologic-header__logo
				a(href="./")
					svg.ologic-header__globe
						use(xlink:href="#icon-main-globe")
					span Онлайн #[br]логика
			nav.ologic-header__menu.ologic-menu
				button.ologic-menu__close(data-close-mobile-menu)
				ul.ologic-menu__list
					li.ologic-menu__item
						a.ologic-menu__link(href="experts-list.php") Эксперты
					li.ologic-menu__item
						a.ologic-menu__link(href="blog-list.php") Блоги
					li.ologic-menu__item
						a.ologic-menu__link(href="timetable.php") Расписание
					li.ologic-menu__item
						a.ologic-menu__link(href="start.php") Стать экспертом
					li.ologic-menu__item.ologic-menu__item_login
						a.ologic-menu__link(href="#ologic-login" data-login-link)
							svg.ologic-menu__icon.ologic-menu__icon_user
								use(xlink:href="#icon-user")
							span Вход
			button.ologic-header__menu-button(data-open-mobile-menu)

	.ologic-landing-hero
		.ologic-landing-hero__left(style="background-image: url('./assets/img/hero-02.jpg')")
		.ologic-landing-hero__right
			.ologic-landing-hero__globe
		.ologic-landing-hero__content
			.ologic-landing-hero__text-block
				h2.ologic-landing-hero__title Задумываетесь о&nbsp;том, чтобы запустить свою #[span онлайн-школу?]
				h5.ologic-landing-hero__subtitle Или уже запустили, но&nbsp;устали копаться в&nbsp;технической рутине?
		.ologic-landing-hero__money
			p Приходите на бесплатный онлайн-семинар и узнайте как за 10 дней создать свой образовательный проект и через месяц выйти на чистый доход от 300 000 рублей в месяц! #[span 18 декабря (вторник) 21:00]
		.ologic-landing-hero__content
			.ologic-landing-hero__text-block
				.ologic-landing-hero__social
					h5 Куда отправить приглашение на вебинар?
					nav.ologic-social
						ul.ologic-social__list.ologic-social__list_landing-hero
							li.ologic-social__item
								a.ologic-social__link(href="https://m.me/468109860298966/?ref=fromExpertPage", data-messenger="facebook", target="_blank")
									img(src="./assets/img/social-fb.png", alt="")
							li.ologic-social__item
								a.ologic-social__link(href="https://tg1.me/OnlineLogic_bot/?start=fromExpertPage", data-messenger="tg", target="_blank")
									img(src="./assets/img/social-tg.png", alt="")
							li.ologic-social__item
								a.ologic-social__link(href="viber://pa?chatURI=onlinelogic&context=fromExpertPage", data-messenger="viber", target="_blank")
									img(src="./assets/img/social-viber.png", alt="")
							li.ologic-social__item
								a.ologic-social__link(href="https://vk.me/public172699014?ref=fromExpertPage", data-messenger="vk", target="_blank")
									img(src="./assets/img/social-vk.png", alt="")

	.ologic-landing-people
		.ologic-landing-people__bg.ologic-landing-people__bg_left
		.ologic-landing-people__bg.ologic-landing-people__bg_right
		.ologic-landing-people__content
			.ologic-landing-people__col.ologic-landing-people__col_left
				h3.ologic-landing-people__title Вы эксперт?
				h5.ologic-landing-people__subtitle То, чем вы&nbsp;сейчас занимаетесь, можно превратить #[br]в&nbsp;обучение и&nbsp;начать зарабатывать на&nbsp;этом #[br]в&nbsp;5-10 раз больше.
				span.ologic-landing-people__samples.ologic-landing-people__samples_grey Примеры

				.ologic-people-card
					.ologic-people-card__top
						img.ologic-people-card__photo(src="./assets/img/expert-01.jpg", alt="")
						.ologic-people-card__info
							.ologic-people-card__name
								h4 Елена Иваницкая
								button.ologic-people-card__question
									svg(width="39" height="45")
										use(xlink:href="#icon-question-button")
							.ologic-people-card__detail
								svg(width="25" height="29")
									use(xlink:href="#icon-people-activity")
								h5 Деятельность:
								p Мастер наращивания волос
							.ologic-people-card__detail
								svg(width="29" height="29")
									use(xlink:href="#icon-people-school")
								h5 Онлайн-школа:
								p Обучение наращиванию волос
					.ologic-people-card__text
						p Будучи мастером по&nbsp;наращиваю волос зарабатывала 1500$ в&nbsp;месяц, открыв онлайн-школу по&nbsp;обучению мастеров наращивания за&nbsp;первый месяц вышла на&nbsp;доход 5000$.

				.ologic-people-card
					.ologic-people-card__top
						img.ologic-people-card__photo(src="./assets/img/expert-02.jpg", alt="")
						.ologic-people-card__info
							.ologic-people-card__name
								h4 Анна Олицкая
								button.ologic-people-card__question
									svg(width="39" height="45")
										use(xlink:href="#icon-question-button")
							.ologic-people-card__detail
								svg(width="25" height="29")
									use(xlink:href="#icon-people-activity")
								h5 Деятельность:
								p Телеведущая
							.ologic-people-card__detail
								svg(width="29" height="29")
									use(xlink:href="#icon-people-school")
								h5 Онлайн-школа:
								p Обучение телеведущих
					.ologic-people-card__text
						p Будучи телеведущей зарабатывала 1000$ в&nbsp;месяц, открыв онлайн-школу по&nbsp;обучению телеведущих за&nbsp;первый месяц вышла на&nbsp;доход 6000$.

				.ologic-people-card
					.ologic-people-card__top
						img.ologic-people-card__photo(src="./assets/img/expert-03.jpg", alt="")
						.ologic-people-card__info
							.ologic-people-card__name
								h4 Андрей Кисель
								button.ologic-people-card__question
									svg(width="39" height="45")
										use(xlink:href="#icon-question-button")
							.ologic-people-card__detail
								svg(width="25" height="29")
									use(xlink:href="#icon-people-activity")
								h5 Деятельность:
								p Хозяин фитнес-клуба
							.ologic-people-card__detail
								svg(width="29" height="29")
									use(xlink:href="#icon-people-school")
								h5 Онлайн-школа:
								p Как открыть свой фитнес-клуб
					.ologic-people-card__text
						p Будучи хозяином фитнес-клуба зарабатывал 2500$ в&nbsp;месяц, открыв онлайн-школу, за&nbsp;первый месяц вышел на&nbsp;доход 10.000$.
			.ologic-landing-people__col.ologic-landing-people__col_right
				h3.ologic-landing-people__title Вы популярный блогер?
				h5.ologic-landing-people__subtitle Вместо того, чтобы монетизировать свою аудиторию, предлагая ей&nbsp;чужую рекламу, создайте свою Онлайн-школу и&nbsp;занимайтесь продвижением своего бизнеса, а&nbsp;не&nbsp;чужого.
				span.ologic-landing-people__samples.ologic-landing-people__samples_white Примеры

				.ologic-people-card
					.ologic-people-card__top
						img.ologic-people-card__photo(src="./assets/img/blogger-01.jpg", alt="")
						.ologic-people-card__info
							.ologic-people-card__name
								h4 Дмитрий Ковпак
								button.ologic-people-card__question
									svg(width="39" height="45")
										use(xlink:href="#icon-question-button")
							.ologic-people-card__detail.ologic-people-card__detail_small
								svg(width="29" height="32")
									use(xlink:href="#icon-people-audience")
								h5 Аудитория:
								p 200 тысяч подписчиков
							.ologic-people-card__detail.ologic-people-card__detail_small
								svg(width="29" height="29")
									use(xlink:href="#icon-people-school")
								h5 Онлайн-школа:
								p Обучение построению бизнеса с&nbsp;Китаем
							.ologic-people-card__detail.ologic-people-card__detail_small
								svg(width="27" height="36")
									use(xlink:href="#icon-people-money")
								h5 Месячный доход:
								p более 10 миллионов рублей
					.ologic-people-card__text
						p Если&nbsp;бы через свой блог он&nbsp;продвигал не&nbsp;свою онлайн-школу, а&nbsp;жил за&nbsp;счёт платной рекламы, то&nbsp;зарабатывал&nbsp;бы 500-600 тысяч рублей в&nbsp;самые лучшие месяцы.


				.ologic-people-card
					.ologic-people-card__top
						img.ologic-people-card__photo(src="./assets/img/blogger-02.jpg", alt="")
						.ologic-people-card__info
							.ologic-people-card__name
								h4 Мария Солодар
								button.ologic-people-card__question
									svg(width="39" height="45")
										use(xlink:href="#icon-question-button")
							.ologic-people-card__detail.ologic-people-card__detail_small
								svg(width="29" height="32")
									use(xlink:href="#icon-people-audience")
								h5 Аудитория:
								p 320 тысяч подписчиков
							.ologic-people-card__detail.ologic-people-card__detail_small
								svg(width="29" height="29")
									use(xlink:href="#icon-people-school")
								h5 Онлайн-школа:
								p Обучение профессии интернет-маркетолог
							.ologic-people-card__detail.ologic-people-card__detail_small
								svg(width="27" height="36")
									use(xlink:href="#icon-people-money")
								h5 Месячный доход:
								p более 8 миллионов рублей
					.ologic-people-card__text
						p Если&nbsp;бы через свой блог она продвигала не&nbsp;свою онлайн-школу, а&nbsp;жила за&nbsp;счёт платной рекламы, то&nbsp;зарабатывала&nbsp;бы 800-900 тысяч рублей в&nbsp;самые лучшие месяцы.

				.ologic-people-card
					.ologic-people-card__top
						img.ologic-people-card__photo(src="./assets/img/blogger-03.jpg", alt="")
						.ologic-people-card__info
							.ologic-people-card__name
								h4 Алекс Мэй
								button.ologic-people-card__question
									svg(width="39" height="45")
										use(xlink:href="#icon-question-button")
							.ologic-people-card__detail.ologic-people-card__detail_small
								svg(width="29" height="32")
									use(xlink:href="#icon-people-audience")
								h5 Аудитория:
								p 80 тысяч подписчиков
							.ologic-people-card__detail.ologic-people-card__detail_small
								svg(width="29" height="29")
									use(xlink:href="#icon-people-school")
								h5 Онлайн-школа:
								p Обучение сексуальному мастерству
							.ologic-people-card__detail.ologic-people-card__detail_small
								svg(width="27" height="36")
									use(xlink:href="#icon-people-money")
								h5 Месячный доход:
								p более 2 миллионов рублей
					.ologic-people-card__text
						p Если&nbsp;бы через свой блог он&nbsp;продвигал не&nbsp;свою онлайн-школу, а&nbsp;жил за&nbsp;счет платной рекламы секс-шопов, то&nbsp;зарабатывал&nbsp;бы 200-300 тысяч рублей в&nbsp;самые лучшие месяцы.

	.ologic-landing-want
		.ologic-landing-want__main(style="background-image: url(./assets/img/notebook-bg-03.jpg)")
			.ologic-landing-want__content
				.ologic-landing-want__info
					h4.ologic-landing-want__title Вы не эксперт и не блогер?
					.ologic-landing-want__text
						p И Вы тоже можете открыть свой образовательный проект! Как?
						p Посмотрите это видео:
						.arrow
							svg(width="105" height="53")
								use(xlink:href="#icon-arrow_right")
				.ologic-landing-want__video
					.ologic-landing-want__cover(style="background-image: url('./assets/img/video-cover-04.jpg')")
						a.video-icon.js-open-video(href="https://www.youtube.com/watch?v=RPoSRR8dWZw")
				.arrow-down
					svg(width="53" height="105")
						use(xlink:href="#icon-arrow_down")

		.ologic-landing-video__bottom.ologic-landing-video__bottom_no-bt
			.ologic-landing-video__social
				h5 Куда прислать приглашение на бесплатный вебинар?
				nav.ologic-social
					ul.ologic-social__list.ologic-social__list_center
						li.ologic-social__item
							a.ologic-social__link(href="https://m.me/468109860298966/?ref=fromExpertPage", data-messenger="facebook", target="_blank")
								img(src="./assets/img/social-fb.png", alt="")
						li.ologic-social__item
							a.ologic-social__link(href="https://tg1.me/OnlineLogic_bot/?start=fromExpertPage", data-messenger="tg", target="_blank")
								img(src="./assets/img/social-tg.png", alt="")
						li.ologic-social__item
							a.ologic-social__link(href="viber://pa?chatURI=onlinelogic&context=fromExpertPage", data-messenger="viber", target="_blank")
								img(src="./assets/img/social-viber.png", alt="")
						li.ologic-social__item
							a.ologic-social__link(href="https://vk.me/public172699014?ref=fromExpertPage", data-messenger="vk", target="_blank")
								img(src="./assets/img/social-vk.png", alt="")

	.ologic-landing-video
		.ologic-landing-video__main
			.ologic-landing-video__left(style="background-image: url('./assets/img/loginov-rectangle.jpg')")
			.ologic-landing-video__right
			.ologic-landing-video__content
				.ologic-landing-video__info
					h3.ologic-landing-video__name Анатолий Логинов
					h5.ologic-landing-video__subtitle Руководитель сервиса «Онлайн-логика»
					.ologic-landing-video__text
						p 18 декабря (вторник) 21:00 (по Москве) или 20:00 (по-Киеву) я проведу онлайн-вебинар:
						p(style="color: #e80000") «Ещё один способ быстро запустить свою  «Онлайн-школу» и зарабатывать от 300 тысяч рублей в месяц»
						.arrow
							svg(width="58" height="103")
								use(xlink:href="#icon-arrow_down")
		.ologic-landing-video__content
			.ologic-seminars
				.ologic-seminars__content
					h4.ologic-seminars__title На онлайн-семинаре вы узнаете:
					h5.ologic-seminars-item__what Как выбрать направление для своей онлайн-школы?
					h5.ologic-seminars-item__what Какие темы будут наиболее востребованы в 2019 году?
					h5.ologic-seminars-item__what Что делать, если вы пока не супер эксперт?
					h5.ologic-seminars-item__what Как создать свой первый обучающий онлайн-курс?
					h5.ologic-seminars-item__what Как подготовить презентационный вебинар?
					h5.ologic-seminars-item__what Как сделать высококонверсионные страницы?
					h5.ologic-seminars-item__what Как организовать трафик?
					h5.ologic-seminars-item__what Каким способом лучше всего принимать оплату от ваших клиентов?
					h5.ologic-seminars-item__what Ответы на вопросы.
					//- 	.ologic-seminars-item__image(style="background-image: url(./assets/img/sem01.jpg)")
					//- 		span.ologic-seminars-item__number #[i 1]
					//- 	.ologic-seminars-item__text
					//- 		h5.ologic-seminars-item__title Как выбрать тему для своей онлайн школы?

					//- .ologic-seminars-item
					//- 	.ologic-seminars-item__image(style="background-image: url(./assets/img/sem02.jpg)")
					//- 		span.ologic-seminars-item__number #[i 2]
					//- 	.ologic-seminars-item__text
					//- 		h5.ologic-seminars-item__title Какие темы наиболее востребованы летом 2018 года?

					//- .ologic-seminars-item
					//- 	.ologic-seminars-item__image(style="background-image: url(./assets/img/sem03.jpg)")
					//- 		span.ologic-seminars-item__number #[i 3]
					//- 	.ologic-seminars-item__text
					//- 		h5.ologic-seminars-item__title Как систематизировать свои знания и создать качественную обучающую программу?

					//- .ologic-seminars-item
					//- 	.ologic-seminars-item__image(style="background-image: url(./assets/img/sem04.jpg)")
					//- 		span.ologic-seminars-item__number #[i 4]
					//- 	.ologic-seminars-item__text
					//- 		h5.ologic-seminars-item__title Какие способы монетизации существуют: их плюсы и минусы.

					//- .ologic-seminars-item
					//- 	.ologic-seminars-item__image(style="background-image: url(./assets/img/sem05.jpg)")
					//- 		span.ologic-seminars-item__number #[i 5]
					//- 	.ologic-seminars-item__text
					//- 		h5.ologic-seminars-item__title Как открыть свою Онлайн-школу с нуля на базе сервиса «Онлайн-логика» и избавиться от технической рутины?

		.ologic-about-speaker
			.ologic-about-speaker__content
				h4.ologic-about-speaker__title Подробнее о спикере
				.ologic-about-speaker__items
					.ologic-about-speaker__item
						img(src="./assets/img/about-speaker-01.png", alt="")
						h5 Лидер
						p С 2008 года качает свой онлайн-школу в сфере отношений. Сейчас школа отношений TLC - один из лидеров в своей нише.
					.ologic-about-speaker__item
						img(src="./assets/img/about-speaker-02.png", alt="")
						h5 Онлайн-логика
						p За 10 лет отточил своё мастерство в интернет-маркетинге и делится опытом на Youtube-канале «Онлайн-логика», а также тематических конференциях.
					.ologic-about-speaker__item
						img(src="./assets/img/about-speaker-03.png", alt="")
						h5 Спикер
						p Был спикером на «Инфоконфереции Андрея Парабелума», «ЛОБ Олеся Тимофеева», «Золотой Актив Азамата Ушанова», мероприятиях «акселератора онлайн-школ: AССEL» и многих других.
					.ologic-about-speaker__item
						img(src="./assets/img/about-speaker-04.png", alt="")
						h5 IT-платформа
						p Разработал IT-платформу сначала для себя, а потом как отдельный сервис для создания и развития онлайн-школ.

		.ologic-tomas-photos
			.ologic-tomas-photos__part
				img(src="./assets/img/tomas-photos_part-01.jpg", alt="")
			.ologic-tomas-photos__part
				img(src="./assets/img/tomas-photos_part-02.jpg", alt="")

		.ologic-landing-video__content
			.ologic-landing-video__list
				h4.ologic-about-speaker__title Прямо сейчас посмотрите 3 видео
				.ologic-landing-video__item
					.ologic-landing-video__unit
						h4
							svg(width="28" height="28")
								use(xlink:href="#icon-video-icon")
							span Видео №1
						.ologic-landing-video__video
							.ologic-landing-video__cover(style="background-image: url('./assets/img/video-cover-01.jpg')")
								a.video-icon.js-open-text-popup(href="#video-text-popup")
							ol
								li: p Как выбрать тему для своей онлайн школы?
								li: p Какие темы наиболее востребованы зимой 2018-2019 года?
				.ologic-landing-video__item
					.ologic-landing-video__unit
						h4
							svg(width="28" height="28")
								use(xlink:href="#icon-video-icon")
							span Видео №2
						.ologic-landing-video__video
							.ologic-landing-video__cover(style="background-image: url('./assets/img/video-cover-02.jpg')")
								a.video-icon.js-open-text-popup(href="#video-text-popup")
							ol
								li: p Как на вебинарах продавать много и стабильно?
								li: p Что такое автовебинар и как его сделать?
				.ologic-landing-video__item
					.ologic-landing-video__unit
						h4
							svg(width="28" height="28")
								use(xlink:href="#icon-video-icon")
							span Видео №3
						.ologic-landing-video__video
							.ologic-landing-video__cover(style="background-image: url('./assets/img/video-cover-03.jpg')")
								a.video-icon.js-open-text-popup(href="#video-text-popup")
							ol
								li: p 5 самых главных фишек интернет-маркетинга 2018?
								li: p Как сократить рекламный бюджет, при этом повысить эффективность рекламы?

		.ologic-landing-video__bottom.ologic-landing-video__bottom_no-bt
			.ologic-landing-video__social
				h5 В какой месенджер отправить приглашение на вебинар и 3 бонусных видео?
				nav.ologic-social
					ul.ologic-social__list.ologic-social__list_center
						li.ologic-social__item
							a.ologic-social__link(href="https://m.me/468109860298966/?ref=fromExpertPage", data-messenger="facebook", target="_blank")
								img(src="./assets/img/social-fb.png", alt="")
						li.ologic-social__item
							a.ologic-social__link(href="https://tg1.me/OnlineLogic_bot/?start=fromExpertPage", data-messenger="tg", target="_blank")
								img(src="./assets/img/social-tg.png", alt="")
						li.ologic-social__item
							a.ologic-social__link(href="viber://pa?chatURI=onlinelogic&context=fromExpertPage", data-messenger="viber", target="_blank")
								img(src="./assets/img/social-viber.png", alt="")
						li.ologic-social__item
							a.ologic-social__link(href="https://vk.me/public172699014?ref=fromExpertPage", data-messenger="vk", target="_blank")
								img(src="./assets/img/social-vk.png", alt="")
				h5 Кликайте на&nbsp;иконку того месенджера, где вам удобнее общаться.
			.ologic-landing-video__plus
				img(src="./assets/img/video-monitor.png", alt="", width="45", height="45")
				p Если Вы не сможете присутствовать на вебинаре, всё равно подписывайтесь — мы пришлём вам запись и бонусные видео!


	#video-text-popup.text-popup
		.text-popup__content
			p Мы пришлём вам это видео сразу же после подписки на любой из мессенджеров.
