extends ../../layout/main-layout.pug

block pageTitle
	title Онлайн Логика

block mainContent

	.ologic-header
		.ologic-header__content
			h1.ologic-header__logo
				a(href="./")
					svg.ologic-header__globe
						use(xlink:href="#icon-main-globe")
					span Онлайн #[br]логика
			nav.ologic-header__menu.ologic-menu
				button.ologic-menu__close(data-close-mobile-menu)
				ul.ologic-menu__list
					li.ologic-menu__item
						a.ologic-menu__link(href="experts-list.php") Эксперты
					li.ologic-menu__item
						a.ologic-menu__link(href="blog-list.php") Блоги
					li.ologic-menu__item
						a.ologic-menu__link(href="timetable.php") Расписание
					li.ologic-menu__item
						a.ologic-menu__link(href="start.php") Стать экспертом
					li.ologic-menu__item.ologic-menu__item_login
						a.ologic-menu__link(href="#ologic-login" data-login-link)
							svg.ologic-menu__icon.ologic-menu__icon_user
								use(xlink:href="#icon-user")
							span Вход
			button.ologic-header__menu-button(data-open-mobile-menu)

	.ologic-today
		.blog-list-heading
			.blog-list-heading__bg(style="background-image: url('./assets/img/blog-list-header.jpg')")
			h3.blog-list-heading__title Бесплатные семинары сегодня
		.ologic-today__content
			.ologic-today__items
				.ologic-today-card
					.ologic-today-card__cover(style="background-image: url('./assets/img/seminar-01.jpg')")
						span.time
							svg(width="20" height="20")
								use(xlink:href="#icon-clock")
							span 19:00
					.ologic-today-card__content
						h5.ologic-today-card__title #[a(href="#") Иван Биткоинов]
						.ologic-today-card__info
							p Как зарабатывать на криптовалюте 2000USD?
						a.ologic-today-card__more(href="#") Подробнее

				.ologic-today-card
					.ologic-today-card__cover(style="background-image: url('./assets/img/seminar-02.jpg')")
						span.time
							svg(width="20" height="20")
								use(xlink:href="#icon-clock")
							span 19:00
					.ologic-today-card__content
						h5.ologic-today-card__title Иван Коровин
						.ologic-today-card__info
							p 5 простых советов как влезть большую политику без связей и денег
						a.ologic-today-card__more(href="#") Подробнее

				.ologic-today-card
					.ologic-today-card__cover(style="background-image: url('./assets/img/seminar-03.jpg')")
						span.time
							svg(width="20" height="20")
								use(xlink:href="#icon-clock")
							span 20:00
					.ologic-today-card__content
						h5.ologic-today-card__title Михаил Башмаков
						.ologic-today-card__info
							p Кейс “Как успевать быть отцом и успешным владельцем сети пабов”
						a.ologic-today-card__more(href="#") Подробнее

				.ologic-today-card
					.ologic-today-card__cover(style="background-image: url('./assets/img/seminar-04.jpg')")
						span.time
							svg(width="20" height="20")
								use(xlink:href="#icon-clock")
							span 20:00
					.ologic-today-card__content
						h5.ologic-today-card__title Антон Маторин
						.ologic-today-card__info
							p 10 золотых правил высокоразвитого предпринимателя
						a.ologic-today-card__more(href="#") Подробнее

				.ologic-today-card
					.ologic-today-card__cover(style="background-image: url('./assets/img/seminar-05.jpg')")
						span.time
							svg(width="20" height="20")
								use(xlink:href="#icon-clock")
							span 21:00
					.ologic-today-card__content
						h5.ologic-today-card__title Евгений Пороховой
						.ologic-today-card__info
							p Как вести яркий и насыщенный образ жизни знакомиться с новыми интересными людьми
						a.ologic-today-card__more(href="#") Подробнее

				.ologic-today-card
					.ologic-today-card__cover(style="background-image: url('./assets/img/seminar-06.jpg')")
						span.time
							svg(width="20" height="20")
								use(xlink:href="#icon-clock")
							span 21:00
					.ologic-today-card__content
						h5.ologic-today-card__title Виктор Карпенко
						.ologic-today-card__info
							p Как выращивать картошку в зимний период на балконе 12 этажа.
						a.ologic-today-card__more(href="#") Подробнее

			.ologic-today__button
				a.ologic-button(href="#") Все бесплатные семинары
				br
				br
				a.ologic-today__announce(href="https://youtu.be/59mdkQK1A6Y") Анонсировать здесь свой вебинар

	.ologic-eotd
		.ologic-eotd__bg
			.ologic-eotd__brain
				svg(width="477" height="439")
					use(xlink:href="#icon-main-globe")
		.ologic-eotd__content
			.ologic-eotd__photo
				img(src="./assets/img/expert-suvorin_big.jpg", alt="")
			.ologic-eotd__text
				h3.ologic-eotd__title Эксперт дня
				h5.ologic-eotd__name Александр Суворин
				.ologic-eotd__nick
					span.red Kit2010
					span Краснодар
				.ologic-eotd__info
					p Чтобы твое видео посмотрели миллионы уже недостаточно быть просто ребенком, который распаковывает игрушки. Даже за кадром самого вирусного видеоролика скрывается титаническая работа целой команды высококлассных специалистов.
					p За 14 лет работы с такими брендами как Марвел, Дисней, Мосфильм мне удалось выработать свой собственный стиль и процесс создания шедевров, которые принесли моим клиентам в 2018 года 2 миллиарда долларов чистой прибыли.
				a.ologic-button.ologic-button_transparent.ologic-button_red-border(href="#") Подробнее

	.ologic-select
		.ologic-select__content
			h3.section-title.section-title_red Что выбрать?
			.ologic-ways
				.ologic-ways__item
					svg.ologic-ways__icon(width="85" height="85")
						use(xlink:href="#icon-specialty")
					h5.ologic-ways__title Новая специальность, #[span чтобы сменить сферу деятельности?]
				.ologic-ways__item
					svg.ologic-ways__icon(width="81" height="75")
						use(xlink:href="#icon-growth")
					h5.ologic-ways__title Личностный рост, #[span чтобы было интереснее жить?]
				.ologic-ways__item
					svg.ologic-ways__icon(width="92" height="92")
						use(xlink:href="#icon-creativity")
					h5.ologic-ways__title Творческие направления, #[span чтобы было интереснее жить?]
				.ologic-ways__item
					svg.ologic-ways__icon(width="83" height="95")
						use(xlink:href="#icon-qualification")
					h5.ologic-ways__title Повышение квалификации, #[span чтобы зарабатывать больше?]
				.ologic-ways__item
					svg.ologic-ways__icon(width="82" height="82")
						use(xlink:href="#icon-expert")
					h5.ologic-ways__title Может быть, вы сами эксперт, #[span и хотите открыть свою онлайн-школу?]

			.ologic-robot#ologic-robot
				.ologic-robot__robot
					img(src="./assets/img/robot.png", alt="")
				.ologic-robot__content
					.ologic-robot__talk
						p Привет, я&nbsp;#[span.red LogicMan]. #[br]Я помогу вам выбрать направление для развития! #[br]Просто начните общение со&nbsp;мной…
					.ologic-robot__text
						p В&nbsp;каком месенджере вам удобнее начать общаться #[span.red с&nbsp;LogicMan’ом]?
						nav.ologic-social
							ul.ologic-social__list
								li.ologic-social__item
									a.ologic-social__link(href="https://m.me/468109860298966/?ref=fromExpertPage", data-messenger="facebook", target="_blank")
										img(src="./assets/img/social-fb.png", alt="")
								li.ologic-social__item
									a.ologic-social__link(href="https://tg1.me/OnlineLogic_bot/?start=fromExpertPage", data-messenger="tg", target="_blank")
										img(src="./assets/img/social-tg.png", alt="")
								li.ologic-social__item
									a.ologic-social__link(href="viber://pa?chatURI=onlinelogic&context=fromExpertPage", data-messenger="viber", target="_blank")
										img(src="./assets/img/social-viber.png", alt="")
								li.ologic-social__item
									a.ologic-social__link(href="https://vk.me/public172699014?ref=fromExpertPage", data-messenger="vk", target="_blank")
										img(src="./assets/img/social-vk.png", alt="")
						p Кликайте на&nbsp;иконку и&nbsp;пройдите экспресс-диагностику!

	#video-text-popup.text-popup
		.text-popup__content
			p Мы пришлём вам это видео сразу же после подписки на любой из мессенджеров.

	<script>
	!='var pageConfig={widgetId:"b73d422c-a264-8d9e-9ee1-0167a336526d"};'
	!='TextBack.SDK.initWidget(pageConfig).then(function(e){$("body").on("click",".js-messenger",function(t){t.preventDefault(),t.stopPropagation(),e.subscribe($(this).data("messenger"));});});'
	</script>
