{% extends 'admin/change_form.html' %}
{% load i18n %}


{% block submit_buttons_bottom %}
    {% if original.id and original.get_delivery_item_qs.count > 0 and original.is_active and original.delivery_account.is_active %}
    <div class="submit-row">
      <input type="submit" value="{% trans 'Send emails: ' %}{{ original.get_delivery_item_qs.count }}" name="_send_emails"></input></form>
    </div>
    {% endif %}
  {{ block.super }}
{% endblock %}
