{% extends 'admin/change_form.html' %}

{% block content %}
    <div>
        <h2>Переменные для использования в шаблоне</h2>
        <ul>
            {% for var in template_vars %}
                <li>{{ var }}</li>
            {% endfor %}
        </ul>
    </div>
    {{ block.super }}
{% endblock %}
